<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Report</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <style>
        #portalTable_wrapper, #jobTable_wrapper{
            margin-top: 70px;
        }
        #companyTable_wrapper{
            margin-top: 20px;
        }
        #chartdiv {
          width: 100%;
          height: 500px;
        }
        @media only screen and (max-width: 1800px) {
            html{
                zoom: .8;
            }
        }
        @media only screen and (max-width: 1600px) {
            html{
                zoom: .7;
            }
        }
        @media only screen and (max-width: 1400px) {
            html{
                zoom: .6;
            }
        }
        @media only screen and (max-width: 1200px) {
            html{
                zoom: .5;
            }
        }
    </style>
</head>
<body class="p-0" style="background-color: white;">
<div class="container">
    <div class="row mt-5" style="text-align: center;">
        <div class="col-md-12">
            <a class="btn btn-outline-primary" href="/report">Hesabat</a>
            <a class="btn btn-outline-primary" href="/maillist">E-mail cədvəli</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

</body>
</html>