<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Report</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <style>
        #portalTable_wrapper, #jobTable_wrapper{
            margin-top: 70px;
        }
        #companyTable_wrapper{
            margin-top: 20px;
        }
        #chartdiv {
          width: 100%;
          height: 500px;
        }
        @media only screen and (max-width: 1800px) {
            html{
                zoom: .8;
            }
        }
        @media only screen and (max-width: 1600px) {
            html{
                zoom: .7;
            }
        }
        @media only screen and (max-width: 1400px) {
            html{
                zoom: .6;
            }
        }
        @media only screen and (max-width: 1200px) {
            html{
                zoom: .5;
            }
        }
    </style>
</head>
<body class="p-0" style="background-color: white;">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-5">Vakansiyalar haqqında aylıq hesabat</h1>
  <p class="lead">Tarix: <span style="font-size: 18px;margin-left: 3px;"></span></p>
  <p>Vakansiya portalları: <a href="https://jobsearch.az" target="_blank">jobsearch.az</a>, <a href="https://boss.az" target="_blank">boss.az</a>, <a href="https://rabota.az" target="_blank">rabota.az</a>, <a href="https://www.azerjobs.com/" target="_blank">azerjobs.com</a>, <a href="http://azerweb.az" target="_blank">azerweb.az</a>, <a href="https://azinka.az" target="_blank">azinka.az</a></p>
</div>
<div class="container">
    <a class="btn btn-outline-primary" href="javascript:void(0)" id="backBtn" onclick="showMainView()">Əsas səhifəyə geri qayıt</a>
    <a class="btn btn-outline-primary" href="javascript:void(0)" id="companiesBtn" onclick="showCompanies()">Şirkətlər cədvəlini göstər</a>
    <a class="btn btn-outline-primary" href="javascript:void(0)" id="jobsBtn" onclick="showJobs()">Vakansiyalar cədvəlini göstər</a>
    <a class="btn btn-outline-primary" href="javascript:void(0)" id="vacanciesBtn" onclick="showVacancies()">Təkrarlanan vakansiyalar cədvəlini göstər</a>
    <div class="row" id="overviewData" style="margin-top: 60px;margin-bottom: 50px;">
        <div class="col-md-4">
            <div class="card" id="vacanciesCard">
              <div class="card-body">
                <h5 class="card-title">Dərc olunan vakansiyaların sayı</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="repeatCard">
              <div class="card-body">
                <h5 class="card-title">Təkrarlanan vakansiya sayı</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="companiesCard">
              <div class="card-body">
                <h5 class="card-title">Elan göndərən şirkətlərin sayı</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
    </div>

    <div id="chartdiv"></div>

    <table id="companyTable" class="table table-bordered" style="position: absolute;left: 0;right: 0;margin-top: 35px;width: 80%;margin-left: 10%;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Şirkətin adı</th>
                    <th scope="col">Vakansiyanın sayı</th>
                    <th scope="col">Vakansiyanın adı</th>
                    <th scope="col">Dərc olduğu portal</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

    <!-- <table id="portalTable" class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Portalın adı</th>
                    <th scope="col">Dərc olunan vakansiya sayı</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table> -->

    <table id="jobTable" class="table table-bordered" style="margin-top: 35px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ən çox dərc olunan vakansiyaların adları</th>
                    <th scope="col">Sayı</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

    <table id="vacancyTable" class="table table-bordered" style="margin-top: 35px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vakansiyanın adı</th>
                    <th scope="col">Təkrarlanma sayı</th>
                    <th scope="col">Portallar</th>
                    <th scope="col">Sirket adı</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
</div>
<script type="text/javascript" src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
<script>
    let data = {{{data}}};
    //console.log('data: ', data);

    let companiesTempData = {}, companiesData = [], portalsData = [], repeatTempData = [], repeatData = [], jobTempData = {}, jobData = [], jobCount = 0, repeatJobs = 0;

    for(let i in data){
        data[i].forEach((d, index) => {
            data[i][index].company = data[i][index].company.trim();
            data[i][index].vacancy = data[i][index].vacancy.trim();
            d = data[i][index];

            if(companiesTempData.hasOwnProperty(d.company)){
                companiesTempData[d.company].push({vacancy: d.vacancy, portal: i, repeat: false});
            } else {
                companiesTempData[d.company] = [];
                companiesTempData[d.company].push({vacancy: d.vacancy, portal: i, repeat: false});
            }
            if(Object.keys(jobTempData).findIndex(j => j.trim().toLowerCase() == d.vacancy.trim().toLowerCase()) != -1){
                let key = Object.keys(jobTempData).find(j => j.trim().toLowerCase() == d.vacancy.trim().toLowerCase());
                jobTempData[key].push({company: d.company, portal: i});
            } else {
                jobTempData[d.vacancy] = [];
                jobTempData[d.vacancy].push({company: d.company, portal: i});
            }

            if(companiesTempData[d.company].filter(c => c.vacancy == d.vacancy).length > 1){
                companiesTempData[d.company].filter(c => c.vacancy == d.vacancy).forEach( function(element, ix) {
                    element.repeat = true;
                });
            }
        });
    }

    for(let i in companiesTempData){
        let data = {};
        data[i] = companiesTempData[i];
        companiesData.push(data);
    }

    for(let i in companiesTempData){
        for(let j of companiesTempData[i]){
            if(j.repeat){
                let data = {vacancy: j.vacancy, portal: j.portal, company: i};
                repeatTempData.push(data);
            }
        }
    }

    for(let i of repeatTempData){
        let data = {}, index = repeatData.findIndex(d => d.vacancy == i.vacancy && d.company == i.company);
        if(index == -1){
            data = {vacancy: i.vacancy, portals: [i.portal], company: i.company, count: 1};
            repeatData.push(data);
        } else {
            repeatData[index].count++;
            if(!repeatData[index].portals.includes(i.portal))
                repeatData[index].portals.push(i.portal);
        } 
    }

    repeatJobs = repeatData.length;

    for(let i in data){
        let d = {};
        d[i] = data[i].length;
        jobCount += data[i].length;
        portalsData.push(d);
    }
    console.log('tempdate: ', jobTempData);
    for(let i in jobTempData){
        let d = {};
        d[i] = jobTempData[i].length;
        jobData.push(d);

        // if(jobTempData[i].filter((j, ixx) => jobTempData[i].findIndex(k => k.company == j.company) == ixx).length != jobTempData[i].length){
        //     repeatJobs++;
        // }
    }

    companiesData.sort((a, b) => {
        if(Object.values(a)[0].length > Object.values(b)[0].length)
            return -1;
        else if(Object.values(a)[0].length < Object.values(b)[0].length)
            return 1;
        else 
            return 0;
    });
    portalsData.sort((a, b) => {
        if(Object.values(a)[0] > Object.values(b)[0])
            return -1;
        else if(Object.values(a)[0] < Object.values(b)[0])
            return 1;
        else 
            return 0;
    });
    jobData.sort((a, b) => {
        if(Object.values(a)[0] > Object.values(b)[0])
            return -1;
        else if(Object.values(a)[0] < Object.values(b)[0])
            return 1;
        else 
            return 0;
    });
    repeatData.sort((a, b) => {
        if(a.count > b.count)
            return -1;
        else if(a.count < b.count)
            return 1;
        else
            return 0;
    });
    let temp = "";
    companiesData.forEach(function(element, index) {
        let name = Object.keys(element)[0];
        element[name].forEach( function(el, ix) {
            temp += "<tr>";

            if(!ix)
                temp += "<th scope='row' rowspan='"+element[name].length+"'>"+(index+1)+"</th><td rowspan='"+element[name].length+"'>"+name+"</td><td rowspan='"+element[name].length+"'>"+element[name].length+"</td>";
            // else
            //     temp += "<th scope='row'></th><td></td><td></td>";

            if(el.repeat)
                temp += "<td><mark>"+el.vacancy+"</mark></td><td><mark>"+el.portal+"</mark></td>";
            else
                temp += "<td>"+el.vacancy+"</td><td>"+el.portal+"</td>";

            temp += "</tr>";
        });
        
    });

    $("#companyTable tbody").html(temp);

    temp = "";
    jobData.forEach(function(element, index) {
        let name = Object.keys(element)[0], value = Object.values(element)[0];
        temp += "<tr>";
        temp += "<th scope='row'>"+(index+1)+"</th><td>"+name+"</td><td>"+value+"</td>";
        temp += "</tr>";
    });

    $("#jobTable tbody").html(temp);

    temp = "";
    repeatData.forEach(function(element, index) {
            element.portals.forEach(function(el, ix) {
                temp += "<tr>";

                if(!ix)
                    temp += "<th scope='row' rowspan='"+element.portals.length+"'>"+(index+1)+"</th><td rowspan='"+element.portals.length+"'>"+element.vacancy+"</td><td rowspan='"+element.portals.length+"'>"+element.count+"</td>";
                // else
                //     temp += "<th scope='row'></th><td></td><td></td>";

                
                temp += "<td>"+el+"</td>";

                if(!ix)
                    temp += "<td rowspan='"+element.portals.length+"'>"+element.company+"</td>";
                

                temp += "</tr>";
            });
    });

    $("#vacancyTable tbody").html(temp);

    $(document).ready(function(){
        //$('#portalTable').DataTable({paging: false});
        $('#companyTable').hide();
        $('#jobTable').hide();
        $('#vacancyTable').hide();
        $("#backBtn").hide();
        $("#vacanciesCard p.card-text").text(jobCount);
        $("#repeatCard p.card-text").text(repeatJobs);
        $("#companiesCard p.card-text").text(companiesData.length);

        let today = new Date(), deadline = new Date();
        deadline.setDate(today.getDate() - 30);
        let dateFormat = formatDate(deadline) + " - " + formatDate(today);
        $(".pricing-header .lead > span").text(dateFormat);
    });

    console.log('data: ', companiesData, portalsData, jobData, jobCount, repeatJobs);

    am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("chartdiv", am4charts.PieChart3D);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.legend = new am4charts.Legend();

        chart.data = [];

        portalsData.forEach(function(element, index) {
            let name = Object.keys(element)[0], value = Object.values(element)[0];
            chart.data.push({count: value, name: name})
        });

        var series = chart.series.push(new am4charts.PieSeries3D());
        series.dataFields.value = "count";
        series.dataFields.category = "name";

    }); // end am4core.ready()

    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function formatDate(date){
        let d = new Date(date);
        return d.getDate() + "/" + (d.getMonth()+1) + "/" + d.getFullYear();
    }

    function showJobs(){
        $('#companyTable').hide();
        $('#vacancyTable').hide();
        //$('#portalTable').hide();
        $("#chartdiv").hide();
        $("#overviewData").hide();
        $("#backBtn").show();
        $("#companiesBtn").hide();
        $("#vacanciesBtn").hide();
        $("#jobsBtn").hide();
        $("#jobTable").show();
    }

    function showVacancies(){
        $('#companyTable').hide();
        
        //$('#portalTable').hide();
        $("#chartdiv").hide();
        $("#overviewData").hide();
        $("#backBtn").show();
        $("#companiesBtn").hide();
        $("#vacanciesBtn").hide();
        $("#jobsBtn").hide();
        $("#jobTable").hide();
        $('#vacancyTable').show();
    }

    function showCompanies(){
        //$('#portalTable').hide();
        $("#overviewData").hide();
        $("#jobTable").hide();
        $('#vacancyTable').hide();
        $("#chartdiv").hide();
        $("#backBtn").show();
        $("#companiesBtn").hide();
        $("#vacanciesBtn").hide();
        $("#jobsBtn").hide();
        $('#companyTable').show();
    }

    function showMainView(){
        $("#backBtn").hide();
        $("#companiesBtn").show();
        $("#vacanciesBtn").show();
        $("#jobsBtn").show();
        $('#companyTable').hide();
        $('#vacancyTable').hide();
        $("#jobTable").hide();
        //$('#portalTable').show();
        $("#chartdiv").show();
        $("#overviewData").show();
    }

</script>
</body>
</html>