header{
	background-image: none;
	background-color: rgba(3,107,245,0.85);
    padding-bottom: 0;
}

header::after {
  content: "";
  background-image: url(../img/stones3.png);
  background-size: cover;
  height: 100.2%;
  background-position: center;
  background-position-y: center;  
  background-repeat: no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

.header-container{
	z-index: 1;
    max-width: initial;
    margin: 0;
}

.header-content{
    padding: 0;
    margin-top: -6.5%;
    margin-bottom: 8%;
}

.header-content-text{
	width: 100%;
	text-align: center;
    margin-top: 6.5%;
    padding-top: 13%;
}

.header-content-text > h3{
	font-size: 2.4218rem;
    font-weight: bold;
}

.header-content-text > p{
    font-size: 3.5rem;
    line-height: 1.42;
    letter-spacing: -0.02343rem;
        max-width: 100%;
    width: 80rem;
    padding: 0 5%;
    margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

body.az-lang .header-content-text > p{
	font-size: 3rem;
}

.header-nav{
    margin-left: 0;
}

.header-top{
    position: fixed;
    top: 0;
    height: 5rem;
    padding-top: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    z-index: 100;
    background-color: transparent;
    transition: .5s all;
}

.header-top.toBottom{
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
    background-color: #036bf5;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
    background-image: url(../img/world2.svg);
}


.header-top-inner{
	width: 80rem;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .75rem;
	margin: 0 auto;
}

.header-top-inner > .header-nav.left-box{
	margin-left: 0;
	width: 29%;
}

.header-logo{
    position: relative;
}

.header-logo-image{
    margin-top: 0;
    width: 7rem;
    display: inline-block;
    cursor: pointer;
}

.header-logo-text{
    float: right;
    display: inline-block;
    margin-left: .75rem;
    position: relative;
    margin-top: 1.6rem;
    font-family: "HelveticaLatin-Medium";
}

.header-nav{
	  width: auto;
    text-align: right;
    margin-top: 1rem;
		margin-left: 0;
}

.header-nav > a:nth-child(2), .header-nav > a:last-child{
	  margin-left: 1rem;
}

.header-nav > .custom-lang-select{
	  width: auto;
    display: inline-block;
    margin-left: 5rem;	
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
	line-height: initial;
	background-size: 1.2rem;
  background-position-y: top;
  height: 2rem;
	font-size: 1rem;
    color: #fff;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected:after{
	   content: '\f107';
    font-family: FontAwesome;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items{
    bottom: calc(-300% - 26px);
    top: initial;
    left: 0px;
    text-align: center;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before{
	  border-color: rgba(102, 102, 102, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
	  border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before, .header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
		top: -10px;
}

.header-nav > a{
    font-size: 1rem;
    line-height: initial;
    color: #fff;
}

.header-nav > a.active{
    color: #ffc052;
}

.header-nav.right-box > a{
	padding: .75rem;
    border-radius: 4px;
}

.header-nav.right-box > a:nth-child(2){
	margin-left: .25rem;
}

.main-top{
    max-width: 84%;
	padding: 0;
}

.main-top > h4{
	font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.03125rem;
  text-align: center;
  color: #66666d;
}

.main-about-info{
	margin-top: 3.5%;
}

.main-about-info > .row{
    width: 100%;
}

.main-about-info-header{
    margin-bottom: 5%;
}

.main-about-info-header > p{
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #bbbbbb;
    text-transform: uppercase;
    margin-top: .5rem;
    font-size: 1.1rem;
}

.main-about-info h5{
    font-size: 1.64rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.01562rem;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.main-about-info-box{
	width: 29%;
	float: left;
	text-align: center;
	    
}

.main-about-info-box:not(:nth-child(4)):not(:nth-child(7)){
	margin-right: 6.5%;
}

.main-about-info-box:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)){
	margin-top: 3%;
}

.main-about-info > .row:first-child{
	    margin-bottom: 5%;
}

.main-about-info-box-img{
	width: 9.4531rem;
	height: 9.4531rem;
	background-color: #f3f3f3;
	border-radius: 100%;
	margin: 0 auto;
    margin-bottom: 8%;
    overflow: hidden;
}

.row:first-child > .main-about-info-box:nth-child(2) > .main-about-info-box-img > img{
        width: 150%;
        left: -20px;
}

.row:first-child > .main-about-info-box:nth-child(3) > .main-about-info-box-img > img{
        width: 170%;
        left: -10px;
}

.row:last-child > .main-about-info-box:nth-child(3) > .main-about-info-box-img > img{
        width: 150%;
        left: -40px;
        top: -80px;
}

.row:first-child > .main-about-info-box:nth-child(4) > .main-about-info-box-img > img{
        width: 162%;
        left: -45%;
}

.row:last-child > .main-about-info-box:nth-child(4) > .main-about-info-box-img > img{
        width: 136%;
        left: -6%;
}

.main-about-info-box-text{
	    width: 92%;
    margin: 0 auto;
	    margin-bottom: 3%;
}

.main-about-info-box-text > p{
	font-size: 1.0156rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: -0.02343rem;
  text-align: center;
  color: #66666d;
}

.main-about-info-box-name > span{
  display: block;
	font-family: "SFPro-Regular-Italic";
  font-size: 1.0937rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.02343rem;
  text-align: center;
  color: #000000;
}

.main-about-info-box-name > span:first-child{
	font-family: "SFPro-Semibold-Italic";
}

.main-about-info-box-name > span:last-child{
	font-family: "SFPro-Semibold";
}

.footer-demo-box > h2{
	width: 56.0625rem;
}

.footer-demo-box > h2 > span{
	display: block;
}

.content.opacity{
	overflow: hidden;
}

.footer-demo-box button{
    margin-right: 1rem;
    margin-left: 1rem;
	margin-top: 3.2%;
	width: 17.421875rem;
	max-width: 50%;
  padding-top: 0.775rem;
  padding-bottom: 0.775rem;
  border-radius: 2.125rem;
	border: none;	
  background-color: #ffc052;
  box-shadow: 0 0.15625rem 1.5625rem 0 rgba(11, 11, 11, 0.14);
	font-size: 1.09375rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: -0.0234375rem;
  text-align: center;
  color: #000000;
}

.footer-main-left-text{
    width: 100%;
    margin-top: 1rem;
}

.footer-main{
    max-width: 80rem;
    display: block;
    margin: 0 auto;
    margin-top: 3.4rem;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-main-left{
    width: 40%;
    margin-left: 0;
}

.footer-main-right{
    margin-right: 0;
}

.footer-main-right-links > h6{
    font-weight: normal;
    font-family: "SFPro-Semibold";
}

.footer-bottom{
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3.5%;
}

.footer-main-left-bottom{
	display: inline-block;
}

.footer-main-left-bottom-lang{
	display: inline-block;
}

.footer-main-left-bottom-lang > .custom-lang-select{
    margin-left: 1.6015625rem;
}

.footer-demo-box-bottom{
	  margin-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.footer-main-left-bottom-lang .select-selected:after{
    content: '\f107';
    font-family: FontAwesome;
    font-size: 1.015625rem;
    color: #bebebe;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.footer-demo-box > .btn-group{
    margin-top: 1rem;
}

.footer-main-left-bottom-lang > .custom-lang-select > .select-selected{
        line-height: 1.8;
        height: 3rem;
}

.footer-demo-box-bottom{
	  margin-top: 8rem;
}

footer{
    margin-bottom: 0;
}

.footer-demo-box{
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    position: relative;
}

.footer-demo-box:after{
    content: "";
    background-image: url("../img/footer_fill.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
}

.header-top-mob > a{
	color: #fff;
}

body.az-lang .footer-demo-box > h2{
    width: 70.0625rem;
}

@media only screen and (max-width: 1185px) {
	header{
		overflow: hidden;
		    
	}
	
}

@media only screen and (max-width: 950px) {
    .header-content-text > p{
        font-size: 3rem!important;
    }
}

@media only screen and (max-width: 767px) {
    .header-content-text > p{
        font-size: 2.75rem!important;
    }
}

@media only screen and (max-width: 732px) {
	.main-about-info-box{
		float: none;
		width: 70%;
	}
	.main-about-info-box{
		margin: 0 auto!important;
	}
	.main-about-info-box:not(:last-child){
		margin-bottom: 4%!important;
	}
}

@media only screen and (max-width: 609px) {
    .header-content-text > p{
        font-size: 2.25rem!important;
    }
}

@media only screen and (max-width: 425px) {
    .header-content-text > p{
        font-size: 2rem!important;
    }
    .header-content-text{
        margin-top: 15%;
    }
}