/*fonts*/
@font-face {
  font-family: 'SFPro';
  src: url('fonts/SF-Pro-Text-Regular.eot');
  src: local('☺'), url('../fonts/SFPro/SF-Pro-Text-Regular.woff') format('woff'), url('../fonts/SFPro/SF-Pro-Text-Regular.ttf') format('truetype'), url('../fonts/SFPro/SF-Pro-Text-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SFPro-Regular-Italic';
    src: url('../fonts/SFPro/SFProText-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Heavy';
    src: url('../fonts/SFPro/SFProText-Heavy.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Semibold-Italic';
    src: url('../fonts/SFPro/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Light';
    src: url('../fonts/SFPro/SFProText-Light.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Ultralight';
    src: url('../fonts/SFPro/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Semibold-Italic';
    src: url('../fonts/SFPro/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Bold';
    src: url('../fonts/SFPro/SFProText-Bold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Thin';
    src: url('../fonts/SFPro/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Heavy-Italic';
    src: url('../fonts/SFPro/SFProText-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Semibold';
    src: url('../fonts/SFPro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Medium-Italic';
    src: url('../fonts/SFPro/SFProText-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Light-Italic';
    src: url('../fonts/SFPro/SFProText-LightItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Ultralight-Italic';
    src: url('../fonts/SFPro/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Medium';
    src: url('../fonts/SFPro/SFProText-Medium.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Bold-Italic';
    src: url('../fonts/SFPro/SFProText-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Semibold';
    src: url('../fonts/SFPro/SFProText-Semibold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe-Negreta';
    src: url('../fonts/Segoe-UI-Negreta.eot');
    src: url('../fonts/Segoe-UI-Negreta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI-Negreta.woff2') format('woff2'),
        url('../fonts/Segoe-UI-Negreta.woff') format('woff'),
        url('../fonts/Segoe-UI-Negreta.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-Light';
    src: url('../fonts/Segoe-UI-Light.eot');
    src: url('../fonts/Segoe-UI-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI-Light.woff2') format('woff2'),
        url('../fonts/Segoe-UI-Light.woff') format('woff'),
        url('../fonts/Segoe-UI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-Regular';
    src: url('../fonts/Segoe-UI.eot');
    src: url('../fonts/Segoe-UI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI.woff2') format('woff2'),
        url('../fonts/Segoe-UI.woff') format('woff'),
        url('../fonts/Segoe-UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-Semibold';
    src: url('../fonts/Segoe-UI-Semibold.eot');
    src: url('../fonts/Segoe-UI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI-Semibold.woff2') format('woff2'),
        url('../fonts/Segoe-UI-Semibold.woff') format('woff'),
        url('../fonts/Segoe-UI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFDigital-Light';
    src: url('../fonts/digital/SFDigitalReadout-Light.woff2') format('woff2'),
        url('../fonts/digital/SFDigitalReadout-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFDigital-HeavyO';
    src: url('../fonts/digital/SFDigitalReadout-HeavyOblique.woff2') format('woff2'),
        url('../fonts/digital/SFDigitalReadout-HeavyOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFDigital-LightO';
    src: url('../fonts/digital/SFDigitalReadout-LightOblique.woff2') format('woff2'),
        url('../fonts/digital/SFDigitalReadout-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFDigital-Medium';
    src: url('../fonts/digital/SFDigitalReadout-Medium.woff2') format('woff2'),
        url('../fonts/digital/SFDigitalReadout-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFDigital-MediumO';
    src: url('../fonts/digital/SFDigitalReadout-MediumOblique.woff2') format('woff2'),
        url('../fonts/digital/SFDigitalReadout-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFDigital-Heavy';
    src: url('../fonts/digital/SFDigitalReadout-Heavy.woff2') format('woff2'),
        url('../fonts/digital/SFDigitalReadout-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}




/*********/
/* clear */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none!important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.d-none{
  display: none;
}

/*.clearfix {
  display: inline-block;
}*/

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "SFPro", "Nunito", sans-serif;
  font-weight: 400!important;
  background-color: #f5f5f5;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}

ul {
  margin-bottom: 0px;
}

button, input{
	outline: none;
}

.row{
    margin-left: 0!important;
    margin-right: 0!important;
}

b, strong {
  font-weight: normal!important;
}

/********************************/
/******* GLOBAL ********/

*{
	position: relative;
}

html, body{
	    overflow-x: hidden;
	overflow-y: overlay;
}

.left{
	float: left;
}
.right{
	float: right;
}

img{
	width: 100%;
	height: auto;
  vertical-align: middle;
}

button{
	cursor: pointer;
}

.hidden{
	display: none;
}

.main-about-staff{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.main-content{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
  padding: 0 16px;
}

textarea {
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #a9aaaf;
}
textarea::-moz-placeholder {
  color: #a9aaaf;
}
textarea:-ms-input-placeholder {
  color: #a9aaaf;
}
textarea:-moz-placeholder {
  color: #a9aaaf;
}

input::-webkit-input-placeholder {
  color: #a9aaaf;
}
input::-moz-placeholder {
  color: #a9aaaf;
}
input:-ms-input-placeholder {
  color: #a9aaaf;
}
input:-moz-placeholder {
  color: #a9aaaf;
}

/********************************/
/****HEADER****/

.header{
  height: 325px;
}

.header_info{
  height: 95px;
  background-color: white;
  box-shadow: 0 0 12px 0 rgba(213, 213, 213, 0.18);
}

.header_cover{
  height: 245px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(213, 213, 213, 0.5);
  background-image: linear-gradient(282deg,#54b5ed,#102f7a);
}

.header, .header_cover, .header-info{
  width: 100%;
}

.header_cover_block_header > h1{
  font-size: 29px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.72;
  letter-spacing: normal;
  color: #ffffff;
  text-shadow: 0 0 4px #000000;
}

.header_cover_block_footer > span{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.header_cover_unreg_info{
	position: relative;
  left: 0;
  top: 0;
  height: 100%;
  text-align: right;
}

.header_cover_unreg_info > p{
    font-size: 14px;
    color: #626369;
    line-height: 1.5;
}

.header_cover_content, .header_info_content{
  display: block;
  max-width: 1001px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.header_info_content{
  height: 95px;
}

.header_cover_content{
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.header_cover_block.right{
    bottom: 10px;
    position: absolute;
    right: 15px;
}

.header_cover_block_footer > span > i{
  color: #626369;
  margin-right: 5px;
}

.header_cover_block_footer > span{
  margin-right: 20px;
}

.header_cover_block_footer > span:last-child{
  margin-right: 0;
}

.header_info_block_infos{
  margin-top: 25px;
}

.header_info_block_counter{
  text-align: center;
  margin-top: 14px;
}

.header_info_block_counter > p{
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #0a7bc1;
}

.header_info_block_counter > span{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #7b7b7b;
}

.header_info_block_counter:first-child{
  margin-right: 19px;
}

.header_info_block_counters > .line{
  height: 44px;
  width: 1px;
  background-color: #f6f6f6;
  margin-top: 22px;
}

.header_info_block_counter:last-child{
  margin-left: 19px;
}

.header_cover_block_btns > button{
    width: 35px;
    height: 35px;
    opacity: 0.56;
    border-radius: 3px;
    background-color: #1a2328;
    border: 0;
    margin-right: 15px;
}

.header_cover_block_btns > button:last-child{
    margin-right: 0;
}

.header_cover_block_btns > button > i{
    color: #fff;
}

.header_cover_block_btns > button:last-child{
    opacity: 1;
    border: 0;
    background-color: #4dc781;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    font-family: SFPro-Medium;
    width: 133px;
    height: 35px;
    border-radius: 3px;
}

.disabled_button{
	opacity: 0.5!important;
	cursor: not-allowed!important;
}

.header_info_block_address{
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #363947;
  white-space: nowrap;
}

.header_info_block_address > b{
  font-weight: normal!important;
  font-family: SFPro-Semibold;
}

.header_info_block_address > span{
  color: #d1d1d1;
  margin-left: 5px;
  margin-right: 5px;
}

.header_info_block_website{
  font-size: 13px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #117fc4;
}

.header_info_block_logo{
    width: 68px;
    height: 65px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-right: 21px;
}

/******************************/
/*******MAIN**********/
.main-content{
  margin-top: -150px;
}

.body_block.left{
  width: 67%;
  box-shadow: 0 0px 7px 0 rgba(188, 205, 215, 0.7), 0 4px 10px 0 rgba(188, 205, 215, 0.7), 0 3px 1px -1px rgba(188, 205, 215, 0.7);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.body_block.right{
  width: 30%;
  position: relative;
}

.body_block_container{
  margin-bottom: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0 25px;
}

.body_block_details{
  padding-bottom: 20px;
  border-radius: 3px;
	box-shadow: 0 0px 7px 0 rgba(188, 205, 215, 0.7), 0 4px 10px 0 rgba(188, 205, 215, 0.7), 0 3px 1px -1px rgba(188, 205, 215, 0.7);
}

.body_block_register_info{
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 0px 7px 0 rgba(188, 205, 215, 0.7), 0 4px 10px 0 rgba(188, 205, 215, 0.7), 0 3px 1px -1px rgba(188, 205, 215, 0.7);
    padding: 0;
    background-image: linear-gradient(282deg,#54b5ed,#102f7a);
    padding-bottom: 5px;
}

.body_block_info{
    color: white;
    padding: 15px 25px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.body_block_info_icon{
	width: 20%;
}

.body_block_info_icon > .icon{
	  font-size: 40px;
    width: 100%;
    height: 100%;
    top: 20px;
}

.body_block_info_text{
	text-align: center;
  width: 80%;
}

.body_block_info_text > p{
	 font-size: 15px;
   font-family: SFPro-Medium;
}

.body_block_register{
	   margin-top: 10px!important;
    padding: 15px 25px;
}

.body_block_register > span{
	font-size: 14px;
  margin-top: 5px;
  display: block;
  text-align: center;
  color: #fff;
}

.body_block_register_button{
    background-color: white!important;
    color: #54b5ed!important;
}

.body_block_desc{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.body_block_details, .body_block_desc{
  padding-top: 20px;
}

.body_block_container > h3{
  font-family: SFPro-Medium;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #363946;
  margin-top: 20px;
}

.body_block_container > div{
  margin-top: 0px;
/*  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 0 12px 0 rgba(213, 213, 213, 0.18);*/
}

.header_cover_block_footer{
  margin-top: 4px!important;
  margin-bottom: 16px;
}

.body_block_desc > div > p{
  font-size: 13px;
  font-family: SFPro-Light;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #363947;
}

.body_block_required{
  padding-bottom: 22px;
  padding-top: 12px;
}

.body_block_required > div{
  /*padding-top: 16px;*/
}

.body_block_required > div > h5{
  font-size: 15px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  letter-spacing: normal;
  color: #a9a9a9;
  border-bottom: 1px solid #efefef;
}

.required_text{
  margin-bottom: 16px;
}

.required_text > p{
    font-size: 13px;
    font-family: SFPro-Light;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #363947;
}

.body_block_skill > p{
  font-size: 13px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #363947;
}

.body_block_skill > span{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #a9a9a9;
}

.body_block_skills{
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.body_block_skill{
  display: inline-block;
  width: 100%;
}

.body_block_form{
  margin-top: -16px;
  padding-top: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.skill-boxes{
  width: 100%;
  display: flex;
  margin-top: 6px;
}

.skill-boxes > span{
  width: 37.6px;
  height: 4px;
  background-color: #81c89f;
  margin-right: 8.4px;
}

.skill-boxes > span:last-child{
  margin-right: 0;
}

.benefits > span{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333;
  width: auto;
  height: auto;
  padding: 6px 8px;
  border: 1px solid #efefef;
  background-color: #eaeaea;
  border-radius: 4px;
  margin-right: 8px;
}

.benefits > span:last-child{
  margin-right: 0;
}

.body_block_details_company{
  margin-top: 8px!important;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.body_block_details_list{
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 12px;
}

.body_block_details_share{
  margin-top: 15px!important;
  border-top: 1px solid #dfdfdf;
  padding-top: 18px;
}

.body_block_details_apply{
  margin-top: 0px!important;
  padding-bottom: 5px;
      border: 1px solid lightgray;
    border-radius: 3px;
    padding: 15px;
    background-color: #fdfdfd;
}

.body_block_details_apply > h3{
      font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    text-decoration: underline;
    text-align: center;
}

.body_block_details_privacy{
    text-align: center;
    margin-top: 20px!important;
}

.body_block_details_privacy > p{
    position: relative;
    font-size: 13px;
    color: #777;
    display: block;
}



.body_block_details_privacy > .body_block_privacy_info{
    position: relative;
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 10px;
    line-height: 1.45;
}

.share_button{
  position: relative;
  cursor: pointer;
  width: auto;
  overflow: hidden;
}

.share_button > span.icon-share-btn{
    background-image: url(../icons/share.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    background-color: #f0f0f0;
    padding: 8px;
    background-size: 50%;
    background-position: center;
    border-radius: 4px;
}

.share_button > p{
    display: inline-block;
    font-size: 15px;
    top: -13px;
    margin-left: 6px;
    position: relative;
    font-weight: normal;
}

.share_button > p > span{
    color: #0a7bc1;
}

.share_button:hover > .share_buttons{
  left: 40px;
}

.share_buttons{
  display: flex;
  position: absolute;
  top: 0;
    left: -180px;
    background-color: white;
    padding: 0 4px;
    transition: all .3s cubic-bezier(.5, -.41, .19, 2);
}

.share_buttons > div > span{
  color: white;
  vertical-align: middle;
}

.share_buttons > div{
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    margin-right: 4px;
}

.share_buttons > div:last-child{
  margin-right: 0;
}

.fb-btn{
  background-color: #3C5A99;
}

.twitter-btn{
  background-color: #3AC1F1;
}

.wp-btn{
  background-color: #2AB200;
}

.ln-btn{
  background-color: #007AB9;
}

.save_email_buttons{
    margin-top: 15px;
}

.save_email_buttons > div{
	  width: 100%;
    text-align: center;
    font-size: 15px;
    border: 1px solid #efefef;
    padding: 14px 20px;
    display: inline-block;
    position: relative;
    color: #363946;
    cursor: pointer;
    transition: all .5s;
    border-radius: 2px;
}

.details_apply_button{
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #0a7bc1;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .5s;
}

.details_apply_button:not(.disabled_button):hover{
  color: #0a7bc1!important;
  background-color: white;
  border-color: #0a7bc1;
}

.details_apply_divider{
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
}

.details_apply_divider:before, .details_apply_divider:after{
    background-color: #efefef;
    content: "";
    height: 1px;
    left: 100%;
    margin: 8px 0 0 -90px;
    position: absolute;
    top: 0%;
    width: 9999px;
}

.details_apply_divider:after{
    left: auto;
    margin: 8px -90px 0 0;
    right: 100%;
}

.details_apply_divider_big{
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
}

.details_apply_divider_big:before, .details_apply_divider_big:after{
    background-color: #efefef;
    content: "";
    height: 1px;
    left: 100%;
    margin: 8px 0 0 -125px;
    position: absolute;
    top: 0%;
    width: 9999px;
}

.details_apply_divider_big:after{
    left: auto;
    margin: 8px -125px 0 0;
    right: 100%;
}

.save_btn{
  margin-right: 8px;
}

.save_btn:hover{
  border-color: #53B427;
  color: #53B427
}

.email_btn:hover{
  border-color: #0a7bc1;
  color: #0a7bc1;
}

.save_email_buttons > div > span{
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.save_email_buttons > div > p{
	  display: inline-block;
    vertical-align: middle;
}

.details_apply_social_btns{
  margin-top: 15px;
}

.details_apply_social_btns > div{
    width: 100%;
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s;
}

.details_apply_social_btns > div:last-child{
	margin-bottom: 0;
}

.details_apply_social_btns > div.ln-btn:hover{
  background-color: white;
  border-color:  #007AB9;
  color:  #007AB9;
}

.details_apply_social_btns > div.fb-btn:hover{
  background-color: white;
  border-color: #3C5A99;
  color:  #3C5A99;
}

.icon-save-btn{
  background-image: url("../icons/favorite-3.svg");
}

.icon-email-btn{
  background-image: url("../icons/email-85-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 8px;
  display: block;
}

.body_block_desc_header{
  margin-top: 0px!important;
}

.body_block_privacy_info{
	position: absolute;
  font-size: 12px;
  color: #777;
}

.submission_section{
    padding-top: 20px;
    padding-bottom: 32px;
}

.body_block_privacy_info > a{
	color: #777;
  text-decoration: underline!important;
}

.body_block_desc_header > span{
    position: absolute;
    right: 0;
    top: 10px;
    color: #0a7bc1;
    cursor: pointer;
}

.body_block_desc_header > h1{
  font-size: 22px;
  color: #0a7bc1;
  font-family: SFPro-Medium;
  line-height: 2.65;
  font-weight: normal;
  max-width: 90%;
}

.body_block_desc_header > h1 > a{
  color: #0a7bc1;
}

.body_block_desc_header > h1 > a:hover, .body_block_desc_header > h1 > a:active{
  color: #00558a!important;
}

.body_block_desc_header > h1 > a:visited{
  color: #0a7bc1;
}

.company_logo{
    width: 100%;
    padding: 16px 80px;
    border: 1px solid #eee;
}

.job_counters {
  display: flex;
  margin-top: 5px;
}

.job_counter{
  display: inline-flex;
  margin-right: 8px;
}

.job_counter:last-child{
  margin-right: 0;
}

.job_counter > p{
    font-size: 13px;
    color: #0a7bc1;
}

.job_counter > span{
    font-size: 12px;
    margin-left: 5px;
    color: #7b7b7b;
}

.body_block_details_company > h3{
    margin-top: 10px;
    font-size: 24px;
    font-family: SFPro-Medium;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #363946;
}

.body_block_details .body_block_list_item > h5{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a9a9a9;
  margin-bottom: 4px;
  display: inline;
}

.body_block_details .body_block_list_item > p{
  font-size: 13px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0a7bc1;
  display: inline;
}

.body_block_details .body_block_list_item{
  margin-bottom: 13px;
}

.body_block_details .body_block_list_item:last-child{
  margin-bottom: 0;
}

.body_block_benefits{
  padding-bottom: 40px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.body_block_benefits > div{
  margin-top: 18px!important;
}


.body_block > button{
    margin-top: 30px;
    margin-bottom: 66px;
    border: 0;
    background-color: #4dc781;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    font-family: SFPro-Medium;
    width: 100%;
    height: 35px;
    border-radius: 3px;
}

.section_title > h3{
  font-size: 15px;
  font-family: SFPro-Semibold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: left;
  color: #363947;
}

.section_title > p, .section_title > div > p{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #72747D;
}

.section_title > p > img, .section_title > div > p > img{
    width: 12px;
    height: 12px;
}

.section_title > p > span, .section_title > div > p > span{
    display: block;
    font-size: 12px;
    color: #363947;
}

section{
    padding-bottom: 29px;
    padding-top: 29px;
    border-bottom: 1px solid #efefef;
    position: relative;
}

section:last-child{
  border: 0;
}

.section_title{
  width: 25%;
}

.section_body{
  width: 70%;
}

.form_element{
  margin-bottom: 25px;
}

.form_element.error > input{
  border-color: #ff8282!important;
}

.form_element > input{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: none;
    font-size: 14px;
    font-family: SFPro;
    background-color: #fdfdfd;
    border: 1px solid #d4d4d5;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s;
    -khtml-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.form_element > input:focus{
  border-color: #62b3f1;
  border-width: 1.5px;
  background-color: #fff;
}

.uploading_block{
    width: 100%;
    height: 142px;
    border: 1px solid #62b3f1;
    background-color: #fdfdfd;
    border-radius: 3px;
    text-align: center;
}

.uploading_block + .image_preview{
	  width: 100px;
    height: 100px;
    background-size: contain;
    margin-top: 20px;
    background-repeat: no-repeat;
		position: relative;
}

.uploading_block + .image_preview > i{
	  position: absolute;
    right: -21px;
    top: 0px;
    color: #72747D;
    font-size: 13px;
    cursor: pointer;
}

.uploading_block + .image_preview > i:hover{
  color: #ff6032;
}


.uploading_block + .image_preview.empty{
	height: 0;
}

.uploading_block + .image_preview.empty > i{
	display: none;
}

.uploading_block + .resume-title-block.empty{
	height: 0;
}

.uploading_block + .resume-title-block{
	margin-top: 20px;
	position: relative;
}

.uploading_block + .resume-title-block > p{
	  display: inline-block;
    width: auto;
    font-size: 15px;
    font-family: SFPro-Medium;
}

.uploading_block + .resume-title-block > i{
	  position: relative;
    right: -5px;
    top: 0;
    color: #72747D;
    font-size: 13px;
    cursor: pointer;
}

.uploading_block + .resume-title-block > i:hover{
   color: #ff6032;
}

.uploading_block + .resume-title-block.empty > i{
	display: none;
}

.uploading_block + .file-upload-title-block.empty{
  height: 0;
}

.uploading_block + .file-upload-title-block{
  margin-top: 20px;
  position: relative;
}

.uploading_block + .file-upload-title-block > p{
    display: inline-block;
    width: auto;
    font-size: 15px;
    font-family: SFPro-Medium;
}

.uploading_block + .file-upload-title-block > i{
    position: relative;
    right: -5px;
    top: 0;
    color: #72747D;
    font-size: 13px;
    cursor: pointer;
}

.uploading_block + .file-upload-title-block > i:hover{
   color: #ff6032;
}

.uploading_block + .file-upload-title-block.empty > i{
  display: none;
}


.video_upload + .video_preview{
	position: relative;
	margin-top: 15px;
}

.video_upload + .video_preview > video{
	margin: 0 auto;
  position: relative;
  display: block;
}

.video_upload + .video_preview > i{
	position: absolute;
	top: 0;
  right: 20px;
  font-size: 12px;
	color: #72747D;
  cursor: pointer;
}

.video_upload + .video_preview > i:hover{
  color: #ff6032;
}

.video_upload + .video_preview.empty{
	display: none;
}

.loading-bar{
    display: none;
    width: 100%;
    height: 100px;
    background-color: #fdfdfd;
    border: 1px solid #0a7bc1;
    margin-top: 22px;
    border-radius: 3px;
}

.loading-bar > div{
    width: 80%;
    border: 1px solid #ccc;
    height: 30px;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 33px;
    position: relative;
}

.loading-bar > div > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #8bc6eb;
    animation: loading 1s infinite;
    animation-timing-function: ease-out;
    transition: all .3s;
}

.loading-bar > div > span{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 15px;
    top: 6px;
    color: #444;
}

.processing-bar{
    display: none;
    width: 100%;
    height: 88px;
    background-color: #fdfdfd;
    border: 1px solid #0a7bc1;
    margin-top: 22px;
    border-radius: 3px;
}

.processing-bar > div{
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

.processing-bar > div > p{
    font-size: 18px;
    display: inline-block;
    color: #444;
}

.processing-bar > div > i{
    font-size: 26px;
    margin-left: 10px;
    top: 3px;
    display: inline-block;
    color: #444;
}

.uploading_block > button, .video_upload button{
    width: 136px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #d4d4d5;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 7px;
    color: #72747D;
}

.uploading_block > button > input, .upload_button > input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.uploading_block > span, .video_upload span{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: center;
  color: #72747D;
}

.editor > textarea{
    width: 100%;
    height: 150px;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    font-family: SFPro;
    background-color: #fdfdfd;
    border: 1px solid #d4d4d5;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s;
    -khtml-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.editor > textarea:focus{
  border-color: #62b3f1;
  border-width: 1.5px;
  background-color: #fff;
}

.questions_section{
	display: none;
}

.questions_section > .section_title > div{
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 15px;
    margin-top: 8px;
    background-color: #fdfdfd;
}

.questions_section > .section_body label{
  font-size: 14px;
  font-family: SFPro-Semibold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #363947;
}

.questions_section > .section_body > div{
  margin-bottom: 18px;
}

.radio_btn > span, .checkbox_btn > span{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  position: relative;
  top: -1px;
}

.radio_btns{
  display: flex;
  margin-top: 10px;
}

.image_choice{
  width: 80%;
  display: inline-block;
  transition: all .4s;
  cursor: pointer;
}

.image_choice:hover{
  border: 1px solid #0a7bc1;
  box-shadow: 0 0 8px -3px rgba(0,0,0,.5);
}

.radio_btn.image_choice_btn{
    width: 33%;
    display: inline-block!important;
}

.question_schoose > .radio_btns{
	display: block;
}

.radio_btn{
  display: inline-flex;
  margin-right: 18px;
}

.question_schoose > .radio_btns > .radio_btn{
	display: block;
  margin-right: 0;
  margin-bottom: 10px;
}

.radio_btn > input{
  margin-right: 10px;
	width: 12px;
  height: 12px;
	cursor: pointer;
}

.radio_btn > input:after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../icons/oval-4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -1px;
  left: -1px;
  position: relative;
}

.radio_btn > input:checked:before{
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url("../icons/oval-4-filled.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 3px;
  left: 3px;
  position: absolute;
  z-index: 100;
}

.checkbox_btns{
  margin-top: 10px;
}

.checkbox_btn{
  margin-bottom: 10px;
}

.checkbox_btn:after{
  margin-bottom: 0;
}

.checkbox_btn > input{
  width: 11px;
  height: 11px;
  margin-right: 8px;
	cursor: pointer;
}

.checkbox_btn > input:after{
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../icons/checkbox-free.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -3px;
  left: -1px;
  position: relative;
}

.checkbox_btn > input:checked:after{
  content: '';
  background-color: white;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../icons/checkbox_filled_border.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -3px;
  left: -1px;
  position: relative;
}

.checkbox_btn > input:checked:before{
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-image: url(../icons/checked-shape.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: -1px;
    left: 2px;
    position: absolute;
    z-index: 100;
}

.upload_button{
  margin-top: 12px!important;
}

.video_upload{
    margin-top: 12px;
    width: 100%;
    height: 180px;
    border: 1px solid #0a7bc1;
    background-color: #fdfdfd;
    border-radius: 3px;
    text-align: center;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0px 7px 0 rgba(188, 205, 215, 0.7), 0 4px 10px 0 rgba(188, 205, 215, 0.7), 0 3px 1px -1px rgba(188, 205, 215, 0.7);
}

.footer_box{
  text-align: center;
}

.footer_box > p{
    display: inline-block;
    font-size: 18px;
    font-family: SFPro-Medium;
    margin-right: 8px;
}

.footer_box_image{
    width: 80px;
    height: auto;
    display: inline-block;
}

.bem-blockquote{
    width: 100%;
    border-left-width: 3px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 2rem;
    margin-top: 0!important;
    font-size: var(--font-size-14);
    line-height: 20px;
    color: #7b7b7b;
    border-style: solid;
    background-color: #f9f9f9;
    text-align: left!important;
}

.bem-blockquote--border-left{
    border-left-width: 3px;
    padding-left: 17px;
}



/* MODAL */

html.modal-open{
  overflow: hidden;
}

body.modal-open{
  overflow: hidden;
  padding-right: 10px;
}

.modal-backdrop{
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  opacity: .9;
}

.modal{
    width: 100%;
    margin: 0 auto;
   position: fixed; 
  z-index: 1100;
   top: 0;
  display: none;
  top: 10%;
      padding-right: 10px;
  overflow-x: hidden;
    overflow-y: auto;
  height: 100%;
}

.modal > .modal-inner{
  max-width: 50%;
      margin: 0 auto; 
}

.modal#signupModal > .modal-inner{
    max-width: 26%;
}

.modal#signupModal > .modal-inner .modal-close-btn{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 10px;
    right: 16px;
}

.modal#signupModal > .modal-inner .modal-window-content{
    padding: 16px 40px;
}

.modal#signupModal > .modal-inner .modal-window-header{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}

.modal#signupModal > .modal-inner .form_element .details_apply_button{
    background-color: #036bf5;
}

.modal#signupModal > .modal-inner .form_element .details_apply_button:hover{
    border-color: #036bf5;
    color: #036bf5;
    background-color: white;
}

.modal#signupModal > .modal-inner .modal-form-footer > span{
    color: #777;
    font-size: 14px;
}

.modal#signupModal > .modal-inner .modal-window-footer{
    border-top: 1px solid #eee;
    margin-top: 60px;
    padding-top: 12px;
    padding-bottom: 3px;
    text-align: center;
}

.modal#signupModal > .modal-inner .modal-window-footer > p{
    font-size: 15px;
    color: #444;
    display: inline-block;
}

.modal#signupModal > .modal-inner .modal-window-footer > div.modal-footer-image{
    width: 74px;
    height: auto;
    display: inline-block;
    margin-left: 7px;
}

.modal#signupModal > .modal-inner .modal-window-header > p{
    margin-top: 23px;
    font-size: 15px;
    color: #444;
}

.modal#signupModal .modal-window{
    border-radius: 3px;
}

.modal .modal-window{
      max-width: 100%;
    margin: 0 auto;
   position: relative;
  border-radius: 13px;
  background-color: #ffffff;
  margin-bottom: 3%;
}

.clear{
  clear: both;
}

.modal-window-header > h2{
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -0.03125rem;
  color: #036bf5;
  font-family: "SFPro-Medium";
  display: inline-block;
}

.modal-window-header > .record-timer{
    display: inline-block;
    right: 100px;
    top: -8px;
    float: right;
    letter-spacing: 2px;
}

.modal-window-header > .record-timer > p{
    font-size: 40px;
    font-family: SFDigital-Heavy;
}

.modal-window-text > p{
  font-size: 1.0937rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.02343rem;
  color: #000000;
}

.modal-window-text > video{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.modal-window-content{
  width: 100%;
  padding: 16px 24px;
}

.modal-window-form label, .modal-window-form input{
  display: block;
}

.modal-window-form label{
  font-size: 1.01562rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.03125rem;
  color: #636363;
}

.modal-window-form{
  width: 84%;
/*      margin-top: 4.5%;*/
}

.modal-window-form > form > .row{
    margin-right: 0;
    margin-left: 0;
}

.modal-window-form input{
  border: none;
    border-bottom: solid 1px #e3e3e3;
}

.modal-window-form input{
  width: 100%;
          padding-top: 1.75rem;
      padding-bottom: 2px;
  line-height: 1.5;
}

.modal-window-form .row{
/*      margin-bottom: 1.25rem;*/
}

.modal-window-form .row:nth-child(2){
      margin-top: -0.75rem;
}

.modal-window-form .row.clearfix{
  width: 100%;
}

.modal-window-form .row.clearfix > .form-group{
  width: 45%;
}

.modal-window-form .submit-btn{
    width: 100%;
    text-align: right;
}

.modal-window-form .submit-btn > button{
    width: auto;
    height: auto;
    padding: .5rem 1rem;
}

.modal-window-form .row:last-child > div:first-child > p{
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c1c1c1;
}

.modal-window-form .row:last-child > div:first-child > p > a{
  color: #c1c1c1;
  text-decoration: underline!important;
}

.modal-window-form .row:last-child > div:last-child > a{
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #636363;
  text-decoration: underline!important;
}

.modal-window-form .row:nth-child(4){
      margin-top: 7.5%;
}

#recruiterModal .modal-window-form .row:nth-child(4), #scheduleModal .modal-window-form .row:nth-child(4){
  margin-top: 0;
}

#recruiterModal .modal-window-form .row:nth-child(5), #scheduleModal .modal-window-form .row:nth-child(5){
      margin-top: 4.5%;
}

.modal-window-form .row:last-child{
  margin-top: 5%;
    margin-bottom: 8%;
}

#recruiterModal .modal-window-form .row:last-child, #scheduleModal .modal-window-form .row:last-child{
  margin-top: 6%;
}

.modal-window-form .row:last-child > div:last-child{
  margin-top: 2%;
}

.modal-window-text{
      width: 100%;
      margin-top: 30px;
}

.modal-close-btn{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    right: 24px;
}

.modal-close-btn > img{
  cursor: pointer;
}

.modal-window-leftimg-header{
  max-width: 73%;
}

.modal-window-leftimg-header > h2{
  font-size: 2.4218rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -0.03125rem;
  color: #fefefe;
  z-index: 1;
}

.modal-window-leftimg-play{
  width: 5rem;
  margin: 0 auto;
      margin-top: 19%;
    z-index: 1;
}

.modal-window-leftimg-foot{
      position: absolute;
    bottom: 6%;
}

.modal-window-leftimg-foot > p{
  font-size: 1.0937rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: -0.02343rem;
  color: #ffffff;
  z-index: 1;
}

.modal-window-btns{
    position: absolute;
    bottom: 32px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.modal-window-btns > .stop-btn, .modal-window-btns > .pause-btn, .modal-window-btns > .resume-btn{
    display: none;
}

.modal-window-btns > button{
    display: inline-block;
    width: 90px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #d4d4d5;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 7px;
    background-color: rgba(0,0,0,.5);
    color: white;
}

.modal-window-btns > button:hover{
    background-color: rgba(255,255,255,.5);
    color: #444;
}
/********************/

@keyframes loading {
  0%   {background-color:#8bc6eb;}
  25%  {background-color:#48a8e5;}
  50%  {background-color:#0a7bc1;}
  75%  {background-color:#48a8e5;}
  100% {background-color:#8bc6eb;}
}

.mobile-view{
  display: none;
}

.header_company_title{
  padding: 15px 20px;
}

.header_company_title > p{
  font-size: 20px;
  font-family: SFPro-Bold;
  line-height: 2.5;
}

.mobile-view .header{
  height: auto;
}

.mobile-view .header_cover{
  height: auto;
  padding: 15px 20px;
}

.mobile-view .header_cover > p{
  font-size: 20px;
  font-family: SFPro-Medium;
  color: #fff;
}

.mobile-view .header_cover > p > a{
  color: #fff!important;
  text-decoration: underline!important;
}

.mobile-view .header_cover_block_footer{
  margin-top: 15px!important;
  margin-bottom: -10px;
}

.mobile-view .header_cover_block_footer > span, .mobile-view .header_cover_block_footer > div > span{
  color: #dfdfdf;
  display: block;
  margin-right: 0;
  margin-bottom: 8px;
}

.mobile-view .header_cover_block_footer > span > i, .mobile-view .header_cover_block_footer > div > span > i{
  color: #dfdfdf;
}

.mobile-view .company_logo{
    width: 48px;
    height: 48px;
    float: right;
    border: none;
    padding: 0;
}

.mobile-view .main-content{
      margin-top: -13px;
          max-width: 100%;
          padding: 0;
}

.mobile-view .body_block_desc{
  border: 0;
}

.mobile-view .body_block_details, .mobile-view .body_block_desc{
  padding-top: 0;
  border-radius: 0;
}

.mobile-view .body_block_container{
  padding: 15px 20px;
}

.mobile-view .body_block_desc > div > p{
  line-height: 1.75;
}

.mobile-view .footer{
  box-shadow: none;
  margin-top: 0;
}

.mobile-view .footer_box > p{
  font-size: 16px;
}

.mobile-view .footer_box_image{
  width: 65px;
}

.mobile-view .body_block_desc > div > ul > li{
  line-height: 1.8;
}

.mobile-view .required_text > p{
  line-height: 1.75;
}

.mobile-view .required_text > ul > li{
  line-height: 1.8;
}

.mobile-view .body_block_skill{
  margin-left: 0;
}

.mobile-view .header_cover_block_footer > div{
    border-top: 1px solid #dfdfdf;
    padding-top: 8px;
    margin-top: 12px;
    position: relative;
}

.mobile-view .header_cover_block_footer > div > span{
  display: inline-block;
}

.mobile-view .header_cover_block_footer > div > span:first-child{
    border-right: 1px solid #dfdfdf;
    padding-right: 10px;
}

.mobile-view .header_cover_block_footer > div > span:last-child{
    margin-left: 5px;
}

.mobile-view .body_block_details .body_block_list_item > h1{
  width: 100%;
}

.mobile-view .body_block_details .body_block_list_item > p{
  display: block;
  text-align: left;
  width: 100%;
}

.mobile-view .body_block_details_apply{
  padding-bottom: 15px;
}

.mobile-view .section_title{
  width: 100%;
}

.mobile-view .section_body{
  width: 100%;
  margin-top: 20px;
}

.mobile-view .personal_info_section{
  padding-top: 12px;
}

.mobile-view .body_block_privacy_info{
  line-height: 1.35;
}

.mobile-view .body_block_details{
  box-shadow: none;
}

.mobile-view .body_block_details_privacy > .body_block_privacy_info{
  margin-top: 0;
}

@media only screen and (max-width: 450px){
  .desktop-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }

  .modal{
    top: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .modal-inner{
    height: 100vh!important;
    max-width: 100%!important;
  }

  .modal-window{
    border-radius: 0!important;
    height: 100vh!important;
    margin-bottom: 0!important;
    border-radius: 0!important;
  }

  .modal-window-content{
    height: 100%;
  }

  .modal-window-text{
    width: 100%!important;
    margin-top: 30px!important;
    height: calc(100% - 50px)!important;
  }
  .modal-window-text > video{
    height: 100%;
    object-fit: cover;
  }
}