/*fonts*/
@font-face {
  font-family: 'SFPro';
  src: url('fonts/SF-Pro-Text-Regular.eot');
  src: local('☺'), url('../fonts/SFPro/SF-Pro-Text-Regular.woff') format('woff'), url('../fonts/SFPro/SF-Pro-Text-Regular.ttf') format('truetype'), url('../fonts/SFPro/SF-Pro-Text-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SFPro-Regular-Italic';
    src: url('../fonts/SFPro/SFProText-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Heavy';
    src: url('../fonts/SFPro/SFProText-Heavy.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Semibold-Italic';
    src: url('../fonts/SFPro/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Light';
    src: url('../fonts/SFPro/SFProText-Light.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Ultralight';
    src: url('../fonts/SFPro/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Semibold-Italic';
    src: url('../fonts/SFPro/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Bold';
    src: url('../fonts/SFPro/SFProText-Bold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Thin';
    src: url('../fonts/SFPro/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Heavy-Italic';
    src: url('../fonts/SFPro/SFProText-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Semibold';
    src: url('../fonts/SFPro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Medium-Italic';
    src: url('../fonts/SFPro/SFProText-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Light-Italic';
    src: url('../fonts/SFPro/SFProText-LightItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Ultralight-Italic';
    src: url('../fonts/SFPro/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Medium';
    src: url('../fonts/SFPro/SFProText-Medium.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro-Bold-Italic';
    src: url('../fonts/SFPro/SFProText-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro-Semibold';
    src: url('../fonts/SFPro/SFProText-Semibold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe-Negreta';
    src: url('../fonts/Segoe-UI-Negreta.eot');
    src: url('../fonts/Segoe-UI-Negreta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI-Negreta.woff2') format('woff2'),
        url('../fonts/Segoe-UI-Negreta.woff') format('woff'),
        url('../fonts/Segoe-UI-Negreta.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-Light';
    src: url('../fonts/Segoe-UI-Light.eot');
    src: url('../fonts/Segoe-UI-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI-Light.woff2') format('woff2'),
        url('../fonts/Segoe-UI-Light.woff') format('woff'),
        url('../fonts/Segoe-UI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-Regular';
    src: url('../fonts/Segoe-UI.eot');
    src: url('../fonts/Segoe-UI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI.woff2') format('woff2'),
        url('../fonts/Segoe-UI.woff') format('woff'),
        url('../fonts/Segoe-UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-Semibold';
    src: url('../fonts/Segoe-UI-Semibold.eot');
    src: url('../fonts/Segoe-UI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Segoe-UI-Semibold.woff2') format('woff2'),
        url('../fonts/Segoe-UI-Semibold.woff') format('woff'),
        url('../fonts/Segoe-UI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}




/*********/
/* clear */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*.clearfix {
  display: inline-block;
}*/

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "SFPro", "Nunito", sans-serif;
  font-weight: 400!important;
  background-color: #f5f5f5;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}

ul {
  margin-bottom: 0px;
}

button, input{
	outline: none;
}

.row{
    margin-left: 0!important;
    margin-right: 0!important;
}

b, strong {
  font-weight: normal!important;
}

/********************************/
/******* GLOBAL ********/

*{
	position: relative;
}

html, body{
	    overflow-x: hidden;
	overflow-y: overlay;
}

.left{
	float: left;
}
.right{
	float: right;
}

img{
	width: 100%;
	height: auto;
  vertical-align: middle;
}

button{
	cursor: pointer;
}

.hidden{
	display: none;
}

.main-about-staff{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.main-content{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
  padding: 0 16px;
}

textarea {
  resize: none;
}

/********************************/
/****HEADER****/

.header{
  height: 325px;
}

.header_info{
  height: 95px;
  background-color: white;
  box-shadow: 0 0 12px 0 rgba(213, 213, 213, 0.18);
}

.header_cover{
  height: 245px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(213, 213, 213, 0.5);
  background-image: linear-gradient(282deg,#54b5ed,#102f7a);
}

.header, .header_cover, .header-info{
  width: 100%;
}

.header_cover_block_header > h1{
  font-size: 29px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.72;
  letter-spacing: normal;
  color: #ffffff;
  text-shadow: 0 0 4px #000000;
}

.header_cover_block_footer > span, .header_cover_block_footer > div > span{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.header_cover_content, .header_info_content{
  display: block;
  max-width: 1001px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.header_info_content{
  height: 95px;
}

.header_cover_content{
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.header_cover_block.right{
    bottom: 10px;
    position: absolute;
    right: 15px;
}

.header_cover_block_footer > span > i, .header_cover_block_footer > div > span > i{
  color: #626369;
  margin-right: 5px;
}

.header_cover_block_footer > span{
  margin-right: 20px;
}

.header_cover_block_footer > span:last-child{
  margin-right: 0;
}

.header_info_block_infos{
  margin-top: 25px;
}

.header_info_block_counter{
  text-align: center;
  margin-top: 14px;
}

.header_info_block_counter > p{
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #0a7bc1;
}

.header_info_block_counter > span{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #7b7b7b;
}

.header_info_block_counter:first-child{
  margin-right: 19px;
}

.header_info_block_counters > .line{
  height: 44px;
  width: 1px;
  background-color: #f6f6f6;
  margin-top: 22px;
}

.header_info_block_counter:last-child{
  margin-left: 19px;
}

.header_cover_block_btns > button{
    width: 35px;
    height: 35px;
    opacity: 0.56;
    border-radius: 3px;
    background-color: #1a2328;
    border: 0;
    margin-right: 15px;
}

.header_cover_block_btns > button:last-child{
    margin-right: 0;
}

.header_cover_block_btns > button > i{
    color: #fff;
}

.header_cover_block_btns > button:last-child{
    opacity: 1;
    border: 0;
    background-color: #4dc781;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    font-family: SFPro-Medium;
    width: 133px;
    height: 35px;
    border-radius: 3px;
}

.header_info_block_address{
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #363947;
  white-space: nowrap;
}

.header_info_block_address > b{
  font-weight: normal!important;
  font-family: SFPro-Semibold;
}

.header_info_block_address > span{
  color: #d1d1d1;
  margin-left: 5px;
  margin-right: 5px;
}

.header_info_block_website{
  font-size: 13px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #117fc4;
}

.header_info_block_logo{
    width: 68px;
    height: 65px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-right: 21px;
}

/******************************/
/*******MAIN**********/
.main-content{
  margin-top: -150px;
}

.body_block.left{
  width: 67%;
  box-shadow: 0 0px 7px 0 rgba(188, 205, 215, 0.7), 0 4px 10px 0 rgba(188, 205, 215, 0.7), 0 3px 1px -1px rgba(188, 205, 215, 0.7);
}

.body_block.right{
  width: 30%;
  box-shadow: 0 0px 7px 0 rgba(188, 205, 215, 0.7), 0 4px 10px 0 rgba(188, 205, 215, 0.7), 0 3px 1px -1px rgba(188, 205, 215, 0.7);
}

.body_block_container{
  margin-bottom: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0 25px;
}

.body_block_details{
  padding-bottom: 20px;
  border-radius: 3px;
}

.body_block_desc{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.body_block_details, .body_block_desc{
  padding-top: 20px;
}

.body_block_container > h3{
  font-family: SFPro-Bold;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #363946;
}

.body_block_container > div{
  margin-top: 5px;
/*  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 0 12px 0 rgba(213, 213, 213, 0.18);*/
}

.header_cover_block_footer{
  margin-top: 4px!important;
  margin-bottom: 16px;
}

.body_block_desc > div > p{
  font-size: 15px;
  font-family: SFPro;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #363947;
  background-color: #ffffff!important;
  word-break: break-word;
}

.body_block_desc > div > p *{
  background-color: #ffffff!important;
  color: #363947!important;
}

.body_block_desc > div > h3{
    font-family: SFPro-Medium;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #363946;
}

.body_block_desc > div > ul{
    margin-left: 25px;
}

.body_block_desc > div > ul > li{
    font-family: SFPro;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #363946;
    list-style-type: circle;
}

.body_block_desc > div a{
      color: #06c !important;
}

.body_block_required{
  padding-bottom: 22px;
  padding-top: 12px;
}

.body_block_required > div{
  /*padding-top: 16px;*/
}

.body_block_required > div > h5{
  font-size: 15px;
  font-family: SFPro-Bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  letter-spacing: normal;
  color: #363946;
  border-bottom: 1px solid #efefef;
}

.required_text{
  margin-bottom: 16px;
}

.required_text > p{
    font-size: 15px;
    font-family: SFPro;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #363947;
    background-color: #ffffff!important;
    word-break: break-word;
}

.required_text > p *{
  background-color: #ffffff!important;
  color: #363947!important;
}

.required_text > h1, .required_text > h2, .required_text > h3, .required_text > h4, .required_text > h5, .required_text > h6{
    font-family: SFPro-Medium;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #363946;
}

.required_text > ul > li{
    font-family: SFPro;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #363946;
    list-style-type: circle;
}

.required_text a{
  color: #06c !important;
}

.required_text > ul{
    margin-left: 25px;
}

.body_block_skill > p{
  font-size: 14px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #363947;
}

.body_block_skill > span{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #a9a9a9;
}

.body_block_skills{
  width: 100%;
  display: block;
  margin-top: 15px;
}

.body_block_skill{
  display: inline-block;
  width: auto;
  margin-left: 30px;
}

.body_block_skill:first-child{
	margin-left: 0;
}

.skill-boxes{
  width: 100%;
  display: flex;
  margin-top: 6px;
}

.skill-boxes > span{
  width: 37.6px;
  height: 4px;
  background-color: #ccc;
  margin-right: 8.4px;
}

.skill-boxes > span > i{
	width: 100%;
  background-color: #81c89f;
  height: 100%;
  display: inherit;
}

.skill-boxes > span:last-child{
  margin-right: 0;
}

.benefits > span{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #333;
  width: auto;
  height: auto;
  padding: 0 8px;
  border: 1px solid #efefef;
  background-color: #eaeaea;
  border-radius: 4px;
  margin-right: 8px;
    height: 26px;
    line-height: 1.6;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.benefits > span:last-child{
  margin-right: 0;
}

.body_block_details_company{
  margin-top: 8px!important;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.body_block_details_list{
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 12px;
}

.body_block_details_share{
  margin-top: 15px!important;
}

.body_block_details_apply{
  margin-top: 15px!important;
	border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15px;
}

.share_button{
  position: relative;
  cursor: pointer;
  width: auto;
  overflow: hidden;
}

.share_button > span.icon-share-btn{
    background-image: url(../icons/share.svg);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    background-color: #f0f0f0;
    padding: 8px;
    background-size: 50%;
    background-position: center;
    border-radius: 4px;
}

.share_button > p{
    display: inline-block;
    font-size: 15px;
    top: -13px;
    margin-left: 6px;
    position: relative;
    font-weight: normal;
}

.share_button > p > span{
    color: #0a7bc1;
}

.share_button:hover > .share_buttons{
  left: 40px;
}

.share_buttons{
  display: flex;
  position: absolute;
  top: 0;
    left: -180px;
    background-color: white;
    padding: 0 4px;
    transition: all .3s cubic-bezier(.5, -.41, .19, 2);
}

.share_buttons > div > span{
  color: white;
  vertical-align: middle;
}

.share_buttons > div{
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    margin-right: 4px;
}

.share_buttons > div:last-child{
  margin-right: 0;
}

.fb-btn{
  background-color: #3C5A99;
}

.twitter-btn{
  background-color: #3AC1F1;
}

.wp-btn{
  background-color: #2AB200;
}

.ln-btn{
  background-color: #007AB9;
}

.save_email_buttons{
    margin-top: 15px;
}

.save_email_buttons > div{
	  width: 100%;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ececec;
    padding: 14px 20px;
    display: inline-block;
    position: relative;
    color: #363946;
    cursor: pointer;
    transition: all .5s;
    border-radius: 2px;
}

.details_apply_button{
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #4dc781;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .5s;
}

.details_apply_reg_button{
	margin-top: 12px;
	background-color: #0a7bc1;
}

.details_apply_button:hover{
  color: #4dc781;
  background-color: white;
  border-color: #4dc781;
}

.details_apply_reg_button:hover{
  color: #0a7bc1;
  background-color: white;
  border-color: #0a7bc1;
}

.details_apply_decline_button{
  margin-top: 12px!important;
  background-color: #dd6764;
}

.details_apply_decline_button:hover{
  color: #dd6764;
  background-color: white;
  border-color: #dd6764;
}



.details_apply_divider{
  margin-top: 12px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.details_apply_divider:before, .details_apply_divider:after{
    background-color: #efefef;
    content: "";
    height: 1px;
    left: 100%;
    margin: 7px 0 0 -125px;
    position: absolute;
    top: 0%;
    width: 9999px;
}

.details_apply_divider:after{
    left: auto;
    margin: 7px -125px 0 0;
    right: 100%;
}

.save_btn{
  margin-right: 8px;
}

.save_btn:hover{
  border-color: #53B427;
  color: #53B427
}

.email_btn:hover{
  border-color: #0a7bc1;
  color: #0a7bc1;
}

.save_email_buttons > div > span{
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.save_email_buttons > div > p{
	  display: inline-block;
    vertical-align: middle;
}

.details_apply_social_btns{
  margin-top: 15px;
}

.details_apply_social_btns > div{
    width: 100%;
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s;
}

.details_apply_social_btns > div.ln-btn:hover{
  background-color: white;
  border-color:  #007AB9;
  color:  #007AB9;
}

.details_apply_social_btns > div.fb-btn:hover{
  background-color: white;
  border-color: #3C5A99;
  color:  #3C5A99;
}

.icon-save-btn{
  background-image: url("../icons/favorite-3.svg");
}

.icon-email-btn{
  background-image: url("../icons/email-85-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 8px;
  display: block;
}

.body_block_desc_header{
  margin-top: 0px!important;
}

.body_block_desc_header > h1{
  font-size: 22px;
  color: #0a7bc1;
  font-family: SFPro-Medium;
  line-height: 1.72;
  font-weight: normal;
  display: inline-block;
}

.company_logo{
    width: 100%;
    padding: 16px 80px;
    border: 1px solid #eee;
}

.job_counters {
  display: flex;
  margin-top: 5px;
}

.job_counter{
  display: inline-flex;
  margin-right: 8px;
}

.job_counter:last-child{
  margin-right: 0;
}

.job_counter > p{
    font-size: 14px;
    color: #0a7bc1;
}

.job_counter > span{
    font-size: 14px;
    margin-left: 5px;
    color: #626369;
}

.body_block_details_company > h3{
    margin-top: 10px;
    font-size: 24px;
    font-family: SFPro-Bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #363946;
}

.body_block_details .body_block_list_item > h5{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #626369;
  margin-bottom: 4px;
  display: inline;
  max-width: 27%;
}

.body_block_details .body_block_list_item > p{
  font-size: 14px;
  font-family: SFPro-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #0a7bc1;
  display: inline;
  max-width: 69%;
}

.body_block_details .body_block_list_item > p > span{
  display: block;
}

.body_block_details .body_block_list_item{
  margin-bottom: 13px;
}

.body_block_details .body_block_list_item:last-child{
  margin-bottom: 0;
}

.body_block_benefits{
  padding-bottom: 40px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.body_block_benefits > div{
  margin-top: 18px!important;
}


.body_block > button{
    margin-top: 30px;
    margin-bottom: 66px;
    border: 0;
    background-color: #4dc781;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    font-family: SFPro-Medium;
    width: 100%;
    height: 35px;
    border-radius: 3px;
}

.job_status{
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #8aa2ad;
    color: white;
    text-transform: uppercase;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
    position: relative;
    top: -3px;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 0px 7px 0 rgba(188, 205, 215, 0.7), 0 4px 10px 0 rgba(188, 205, 215, 0.7), 0 3px 1px -1px rgba(188, 205, 215, 0.7);
}

.footer_box{
  text-align: center;
}

.footer_box > p{
    display: inline-block;
    font-size: 18px;
    font-family: SFPro-Medium;
    margin-right: 8px;
}

.footer_box_image{
    width: 80px;
    height: auto;
    display: inline-block;
}

.body_block_details_location{
    margin-top: 12px!important;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 12px;
}

.decline_button{
  display: none;
}

.details_apply_decline_button{
  display: none;
}

.mobile-view{
  display: none;
}

.header_company_title{
  padding: 15px 20px;
}

.header_company_title > p{
  font-size: 20px;
  font-family: SFPro-Bold;
  line-height: 2.5;
}

.mobile-view .header{
  height: auto;
}

.mobile-view .header_cover{
  height: auto;
  padding: 15px 20px;
}

.mobile-view .header_cover > p{
  font-size: 20px;
  font-family: SFPro-Medium;
  color: #fff;
}

.mobile-view .header_cover_block_footer{
  margin-top: 15px!important;
  margin-bottom: -10px;
}

.mobile-view .header_cover_block_footer > span, .mobile-view .header_cover_block_footer > div > span{
  color: #dfdfdf;
  display: block;
  margin-right: 0;
  margin-bottom: 8px;
}

.mobile-view .header_cover_block_footer > span > i, .mobile-view .header_cover_block_footer > div > span > i{
  color: #dfdfdf;
}

.mobile-view .company_logo{
    width: 48px;
    height: 48px;
    float: right;
    border: none;
    padding: 0;
}

.mobile-view .main-content{
      margin-top: 0;
          max-width: 100%;
          padding: 0;
}

.mobile-view .body_block_desc{
  border: 0;
}

.mobile-view .body_block_details, .mobile-view .body_block_desc{
  padding-top: 0;
  border-radius: 0;
}

.mobile-view .body_block_container{
  padding: 15px 20px;
}

.mobile-view .body_block_desc > div > p{
  line-height: 1.75;
}

.mobile-view .footer{
  box-shadow: none;
  margin-top: 0;
}

.mobile-view .footer_box > p{
  font-size: 16px;
}

.mobile-view .footer_box_image{
  width: 65px;
}

.mobile-view .body_block_desc > div > ul > li{
  line-height: 1.8;
}

.mobile-view .required_text > p{
  line-height: 1.75;
}

.mobile-view .required_text > ul > li{
  line-height: 1.8;
}

.mobile-view .body_block_skill{
  margin-left: 0;
}

.mobile-view .header_cover_block_footer > div{
    border-top: 1px solid #dfdfdf;
    padding-top: 8px;
    margin-top: 12px;
    position: relative;
}

.mobile-view .header_cover_block_footer > div > span{
  display: inline-block;
}

.mobile-view .header_cover_block_footer > div > span:first-child{
    border-right: 1px solid #dfdfdf;
    padding-right: 10px;
}

.mobile-view .header_cover_block_footer > div > span:last-child{
    margin-left: 5px;
}

.mobile-view .body_block_details .body_block_list_item > h1{
  width: 100%;
}

.mobile-view .body_block_details .body_block_list_item > p{
  display: block;
  text-align: left;
  width: 100%;
}

.mobile-view .body_block_details_apply{
  border-bottom: none;
  padding-bottom: 5px;
}

@media only screen and (max-width: 450px){
  .desktop-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }

  .modal{
    top: 0!important;
    padding: 0!important;
    border: none;
    border-radius: 0;
  }

  .modal-inner{
    height: 100vh!important;
    max-width: 100%!important;
  }

  .modal-window{
    border-radius: 0!important;
    height: 100vh!important;
    margin-bottom: 0!important;
    border-radius: 0!important;
  }

  .modal-window-content{
    height: 100%;
  }

  .modal-window-text{
    width: 100%!important;
    margin-top: 30px!important;
    height: calc(100% - 50px)!important;
  }
  .modal-window-text > video{
    height: 100%;
    object-fit: cover;
  }
}

/* MODAL */

html.modal-open{
  overflow: hidden;
}

body.modal-open{
  overflow: hidden;
  padding-right: 10px;
}

.modal-backdrop{
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  opacity: .9;
}

.modal{
    width: 100%;
    margin: 0 auto;
   position: fixed; 
  z-index: 1100;
   top: 0;
  display: none;
  top: 10%;
      padding-right: 10px;
  overflow-x: hidden;
    overflow-y: auto;
  height: 100%;
}

.modal > .modal-inner{
  max-width: 50%;
      margin: 0 auto; 
}

.modal#signupModal textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c1c1c1;
  font-weight: normal;
}
.modal#signupModal textarea::-moz-placeholder { /* Firefox 19+ */
  color: #c1c1c1;
  font-weight: normal;
}
.modal#signupModal textarea:-ms-input-placeholder { /* IE 10+ */
  color: #c1c1c1;
  font-weight: normal;
}
.modal#signupModal textarea:-moz-placeholder { /* Firefox 18- */
  color: #c1c1c1;
  font-weight: normal;
}

.modal#signupModal > .modal-inner{
    max-width: 26%;
}

.modal#signupModal > .modal-inner .modal-close-btn{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 10px;
    right: 16px;
}

.modal#signupModal > .modal-inner .modal-window-content{
    padding: 16px 40px;
}

.modal#signupModal > .modal-inner .modal-window-header{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}

.modal#signupModal > .modal-inner .modal-form-footer > span{
    color: #777;
    font-size: 14px;
}

.modal#signupModal > .modal-inner .modal-window-footer{
    border-top: 1px solid #eee;
    margin-top: 60px;
    padding-top: 12px;
    padding-bottom: 3px;
    text-align: center;
}

.modal#signupModal > .modal-inner .modal-window-footer > p{
    font-size: 15px;
    color: #444;
    display: inline-block;
}

.modal#signupModal > .modal-inner .modal-window-footer > div.modal-footer-image{
    width: 74px;
    height: auto;
    display: inline-block;
    margin-left: 7px;
}

.modal#signupModal > .modal-inner .modal-window-header > p{
    margin-top: 23px;
    font-size: 15px;
    color: #444;
}

.modal#signupModal .modal-window{
    border-radius: 3px;
}

.modal .modal-window{
      max-width: 100%;
    margin: 0 auto;
   position: relative;
  border-radius: 13px;
  background-color: #ffffff;
  margin-bottom: 3%;
}

.clear{
  clear: both;
}

.modal-window-header > h2{
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -0.03125rem;
  color: #036bf5;
  font-family: "SFPro-Medium";
  display: inline-block;
}

.modal-window-header > .record-timer{
    display: inline-block;
    right: 100px;
    top: -8px;
    float: right;
    letter-spacing: 2px;
}

.modal-window-header > .record-timer > p{
    font-size: 40px;
    font-family: SFDigital-Heavy;
}

.modal-window-text > p{
  font-size: 1.0937rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.02343rem;
  color: #000000;
}

.modal-window-text > video{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.modal-window-content{
  width: 100%;
  padding: 16px 24px;
}

.modal-window-form label, .modal-window-form input{
  display: block;
}

.modal-window-form label{
  font-size: 1.01562rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.03125rem;
  color: #636363;
}

.modal-window-form{
  width: 84%;
/*      margin-top: 4.5%;*/
}

.modal-window-form > form > .row{
    margin-right: 0;
    margin-left: 0;
}

.modal-window-form input{
  border: none;
    border-bottom: solid 1px #e3e3e3;
}

.modal-window-form input{
  width: 100%;
          padding-top: 1.75rem;
      padding-bottom: 2px;
  line-height: 1.5;
}

.modal-window-form .row{
/*      margin-bottom: 1.25rem;*/
}

.modal-window-form .row:nth-child(2){
      margin-top: -0.75rem;
}

.modal-window-form .row.clearfix{
  width: 100%;
}

.modal-window-form .row.clearfix > .form-group{
  width: 45%;
}

.modal-window-form .submit-btn{
    width: 100%;
    text-align: right;
}

.modal-window-form .submit-btn > button{
    width: auto;
    height: auto;
    padding: .5rem 1rem;
}

.modal-window-form .row:last-child > div:first-child > p{
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c1c1c1;
}

.modal-window-form .row:last-child > div:first-child > p > a{
  color: #c1c1c1;
  text-decoration: underline!important;
}

.modal-window-form .row:last-child > div:last-child > a{
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #636363;
  text-decoration: underline!important;
}

.modal-window-form .row:nth-child(4){
      margin-top: 7.5%;
}

#recruiterModal .modal-window-form .row:nth-child(4), #scheduleModal .modal-window-form .row:nth-child(4){
  margin-top: 0;
}

#recruiterModal .modal-window-form .row:nth-child(5), #scheduleModal .modal-window-form .row:nth-child(5){
      margin-top: 4.5%;
}

.modal-window-form .row:last-child{
  margin-top: 5%;
    margin-bottom: 8%;
}

#recruiterModal .modal-window-form .row:last-child, #scheduleModal .modal-window-form .row:last-child{
  margin-top: 6%;
}

.modal-window-form .row:last-child > div:last-child{
  margin-top: 2%;
}

.modal-window-text{
      width: 100%;
      margin-top: 30px;
}

.modal-close-btn{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    right: 24px;
}

.modal-close-btn > img{
  cursor: pointer;
}

.modal-window-leftimg-header{
  max-width: 73%;
}

.modal-window-leftimg-header > h2{
  font-size: 2.4218rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -0.03125rem;
  color: #fefefe;
  z-index: 1;
}

.modal-window-leftimg-play{
  width: 5rem;
  margin: 0 auto;
      margin-top: 19%;
    z-index: 1;
}

.modal-window-leftimg-foot{
      position: absolute;
    bottom: 6%;
}

.modal-window-leftimg-foot > p{
  font-size: 1.0937rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: -0.02343rem;
  color: #ffffff;
  z-index: 1;
}

.modal-window-btns{
    position: absolute;
    bottom: 32px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.modal-window-btns > .stop-btn, .modal-window-btns > .pause-btn, .modal-window-btns > .resume-btn{
    display: none;
}

.modal-window-btns > button{
    display: inline-block;
    width: 90px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #d4d4d5;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 7px;
    background-color: rgba(0,0,0,.5);
    color: white;
}

.modal-window-btns > button:hover{
    background-color: rgba(255,255,255,.5);
    color: #444;
}
/********************/
