.header-top{
    padding-left: 5%;
}

.header-nav{
    margin-left: 0;
}

.header-content-text{
    width: 100%;
}

.header-container{
    max-width: initial;
    margin: 0;
}

.header-content{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-bottom: 2%;
    margin-top: 6.5%;
}

.header-line{
    width: calc(80rem - 10%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    position: relative;
    top: 1.5rem;
    height: 1px;
    opacity: 0.62;
    border: solid .5px #004a97;
}

.header-top{
    position: fixed;
    top: 0;
    height: 5rem;
    padding-top: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    z-index: 100;
    background-color: #0061fc;
    transition: .5s all;
    left: 0;
}

.header-top.toBottom{
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
    background-color: #036bf5;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
    background-image: url(../img/world2.svg);
}


.header-top-inner{
	width: 80rem;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .75rem;
	margin: 0 auto;
}

.header-top-inner > .header-nav.left-box{
	margin-left: 0;
	width: 29%;
}

.header-logo{
    position: relative;
}

.header-logo-image{
    margin-top: 0;
    width: 7rem;
    display: inline-block;
    cursor: pointer;
}

.header-logo-text{
    float: right;
    display: inline-block;
    margin-left: .75rem;
    position: relative;
    margin-top: 1.6rem;
    font-family: "HelveticaLatin-Medium";
}

.header-nav{
	  width: auto;
    text-align: right;
    margin-top: 1rem;
		margin-left: 0;
}

.header-nav > a:nth-child(2), .header-nav > a:last-child{
	  margin-left: 1rem;
}

.header-nav > .custom-lang-select{
	  width: auto;
    display: inline-block;
    margin-left: 5rem;	
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
	line-height: initial;
	background-size: 1.2rem;
  background-position-y: top;
  height: 2rem;
	font-size: 1rem;
    color: #fff;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected:after{
	   content: '\f107';
    font-family: FontAwesome;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items{
    bottom: calc(-300% - 26px);
    top: initial;
    left: 0px;
    text-align: center;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before{
	  border-color: rgba(102, 102, 102, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
	  border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before, .header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
		top: -10px;
}

.header-nav > a{
    font-size: 1rem;
    line-height: initial;
    color: #fff;
}

.header-nav > a.active{
    color: #ffc052;
}

.header-nav.right-box > a{
	padding: .75rem;
    border-radius: 4px;
}

.header-nav.right-box > a:nth-child(2){
	margin-left: .25rem;
}


/*

.header-content{
    top: -2rem;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}
*/


.cmain-content-image{
	width: 33.5%;
	padding-left: 7%;
	overflow: hidden;
}

.cmain-content-image > img{
	width: 86%;
/*
	    width: 200%;
	    left: -100%;
*/
}

.cmain-content-form{
	width: 66.5%;
}

.cmain-content-form-text{
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.03125rem;
  color: #000000;
  width: 70%;
}

.cmain-content-form > form label{
	display: block;
	margin-bottom: 2%;
	font-size: 1.0156rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.03125rem;
  color: #636363;
}

.cmain-content-form > form input, .cmain-content-form > form textarea{
	display: block;
	border-radius: 0.2rem;
	width: 100%;
  border: solid 0.05rem #e3e3e3;
  background-color: #ffffff;
	padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.cmain-content-form > form{
    text-align: right;
	width: 70%;
    margin: 0 auto;
	margin-top: 4%;
}

form > .row{
	width: 100%;
	margin-bottom: 2.5%;
    text-align: left;
}

form > .row:first-child > .form-det{
	width: 47.5%;
}

form > button{
		width: 10.140625rem;
    height: 3.59375rem;
	    margin-top: 2%;
    border-radius: 1.796875rem;
    border: 0;
    background-color: #5abe80;
    box-shadow: 0 0.546875rem 1.5625rem 0 rgba(53, 53, 53, 0.35);
    font-size: 1.09375rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: -0.0234375rem;
    text-align: center;
    color: #f2f2f2;
}

header{
	z-index: 10;
}

.main-content > main{
	z-index: 3;
	padding-right: 5%;
}

.top-circle{    
    z-index: 1;
    position: absolute;
    top: -22%;
    right: -12%;
    height: 70.4375rem;
    width: 94.4375rem;
    border-radius: 100%;
    transform: rotate(157deg);
    opacity: 0.32;
    background-color: #e5f1ff;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.cmain-content-image{
    padding-left: 0;
        width: 40%;
}

.cmain-content-image > img{
       width: 110%;
    left: -30px;
    top: 80px;
}

.cmain-content-form{
    width: 100%;
    margin-top: 3%;
}

form input:focus, form textarea:focus{
    border-color: #0061fc;
}

form input, form textarea{
    transition: all 0.5s linear;
}

form input.error-input{
    border-color: red;
}

form input.error-email{
    border-color: red;
}

form textarea.error-input{
    border-color: red;
}


.cmain-content-form-text > h3{
    font-weight: bold;
}

.cmain-content-form-text > p{
    margin-top: 20px;
}

.footer-demo-box button{
    margin-right: 1rem;
    margin-left: 1rem;
	margin-top: 3.2%;
	width: 17.421875rem;
	max-width: 50%;
  padding-top: 0.775rem;
  padding-bottom: 0.775rem;
  border-radius: 2.125rem;
	border: none;	
  background-color: #ffc052;
  box-shadow: 0 0.15625rem 1.5625rem 0 rgba(11, 11, 11, 0.14);
	font-size: 1.09375rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: -0.0234375rem;
  text-align: center;
  color: #000000;
}

.footer-main-left-text{
    width: 100%;
    margin-top: 1rem;
}

.footer-main{
    max-width: 80rem;
    display: block;
    margin: 0 auto;
    margin-top: 3.4rem;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-main-left{
    width: 40%;
    margin-left: 0;
}

.footer-main-right{
    margin-right: 0;
}

.footer-main-right-links > h6{
    font-weight: normal;
    font-family: "SFPro-Semibold";
}

.footer-bottom{
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3.5%;
}

.footer-main-left-bottom{
	display: inline-block;
}

.footer-main-left-bottom-lang{
	display: inline-block;
}

.footer-main-left-bottom-lang > .custom-lang-select{
    margin-left: 1.6015625rem;
}

.footer-demo-box-bottom{
	  margin-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.footer-main-left-bottom-lang .select-selected:after{
    content: '\f107';
    font-family: FontAwesome;
    font-size: 1.015625rem;
    color: #bebebe;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.footer-demo-box > .btn-group{
    margin-top: 1rem;
}

footer{
    margin-bottom: 0;
}

.footer-demo-box{
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    position: relative;
}

.footer-demo-box > h2{
    width: 58.0625rem;
}

.footer-demo-box:after{
    content: "";
    background-image: url("../img/footer_fill.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
}

@media only screen and (max-width: 1350px){
	.main-content{
		overflow: visible;
	}
}

@media only screen and (max-width: 1036px) {
    .header-content{
        margin-top: 5rem;
    }
    .header-line{
        display: none;
    }
}

@media only screen and (max-width: 905px) {
	.header-content-text{
		    width: 100%;
	}
    .faq-box > h5{
        width: 90%;
    }
}

@media only screen and (max-width: 767px){
	.faq-box > a{
		display: none;
	}
    .header-content-text > h3{
        font-size: 2rem;
    }
    .faq-box > h5{
        width: 100%;
    }
    .cmain-content-form > form{
        width: 95%;
    }
    .cmain-content-form-text{
		width: 95%
	}
}

@media only screen and (max-width: 450px){
}

@media only screen and (max-width: 705px) {
	.cmain-content-image{
		display: none;
	}
	.cmain-content-form{
		width: 100%;
		float: none;
	}
	
	form{
		width: 95%;
	}
    form > .row:first-child > .form-det{
        float: none;
        width: 100%;
    }
    form > .row:first-child > .form-det:last-child{
        margin-top: 2.5%;
    }
}