#gmb_embed_job{
 position: relative;
 width: 300px;
 height: 300px;
}

.gmb_embed_job_box{
  height: 100%;
  padding: 12px;
  border: 1px solid #1384da;
  overflow: auto;
  border-radius: 4px;
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}

.gmb_embed_job_box::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.gmb_box_header{
  clear: both;
}

.gmb_box_header > h2{
   font-size: 22px;
   color: #0a7bc1;
   font-family: SFPro-Medium;
   line-height: 1.5;
   margin:0;
   font-weight: normal;
}

.gmb_box_header > span{
    color: #363946;
    font-size: 13px;
    font-family: SFPro;
}

.gmb_box_header > small{
  float: right;
  width: auto;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 13px;
  font-family: SFPro;
  background-color: #55CA87;
  color: white;
}

.gmb_box_body{
  margin-top: 12px;
}

.gmb_box_body > section{
  clear: both;
  padding-bottom: 10px;
  padding-top: 10px;
}

.gmb_box_body > section:last-child > h3{
  margin-bottom: 12px;
}

.gmb_box_body > section > h3{
  font-family: SFPro-Medium;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  color: #363946;
}

.gmb_box_body > section > p{
  font-size: 14px;
  font-family: SFPro;
  line-height: normal;
}

.gmb_box_body > section > ul{
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
}

.gmb_box_body > section > ul .clear{
   clear: both;
}

.gmb_box_body > section > ul > li{
  font-size: 14px;
  font-family: SFPro;
  margin-bottom: 5px;
  clear: both;
}

.gmb_box_body > section > ul > li > span:first-child{
  float: left;
  margin-bottom: 5px;
}

.gmb_box_body > section > ul > li > span:nth-child(2){
  float: right;
}

.gmb_box_body > section > a.gmb_apply_btn{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #4dc781;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s;
}

.gmb_box_footer{
  padding-top: 6px;
  height: 40px;
  position: sticky;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
  background-color: #1384da;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.gmb_box_footer > p{
  font-size: 14px;
  font-family: SFPro;
}

.gmb_footer_box_image{
  width: 50px;
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
}

.gmb_footer_box_image > a > img{
  width: 100%;
  height: auto;
}

.gmb_box_footer > *{
  display: inline-block;
}
