.header-box{
    text-align: center;
    margin-top: 15%;
    margin-bottom: 20%;
}

.header-box > h1{
    font-family: "DarwinPro-Bold";
    font-size: 5rem;
}

.header-box > h2{
    font-family: "DarwinPro-Semibold";
    font-size: 2rem;
    margin-top: 1.5rem;
}

.header-box > p{
    font-family: "DarwinPro";
    font-size: 1.25rem;
    margin-top: 1rem;
}

body.ru-lang .header-box > h1{
    font-family: "HelveticaKiril-Bold";
}

body.ru-lang .header-box > h2{
    font-family: "HelveticaKiril-Medium";
}

body.ru-lang .header-box > p{
    font-family: "HelveticaKiril";
}
