.header-top{
    padding-left: 5%;
}

.header-nav{
    margin-left: 0;
}

.header-content-text{
    width: 100%;
}

.header-container{
    max-width: initial;
    margin: 0;
}

.header-content{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-bottom: 2%;
    margin-top: 6.5%;
}

.header-line{
    width: calc(80rem - 10%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    position: relative;
    top: 1.5rem;
    height: 1px;
    opacity: 0.62;
    border: solid .5px #004a97;
}

.header-top{
    position: fixed;
    top: 0;
    height: 5rem;
    padding-top: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    z-index: 100;
    background-color: #0061fc;
    transition: .5s all;
}

.header-top.toBottom{
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
    background-color: #036bf5;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
    background-image: url(../img/world2.svg);
}


.header-top-inner{
	width: 80rem;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .75rem;
	margin: 0 auto;
}

.header-top-inner > .header-nav.left-box{
	margin-left: 0;
	width: 29%;
}

.header-logo{
    position: relative;
}

.header-logo-image{
    margin-top: 0;
    width: 7rem;
    display: inline-block;
    cursor: pointer;
}

.header-logo-text{
    float: right;
    display: inline-block;
    margin-left: .75rem;
    position: relative;
    margin-top: 1.6rem;
    font-family: "HelveticaLatin-Medium";
}

.header-nav{
	  width: auto;
    text-align: right;
    margin-top: 1rem;
		margin-left: 0;
}

.header-nav > a:nth-child(2), .header-nav > a:last-child{
	  margin-left: 1rem;
}

.header-nav > .custom-lang-select{
	  width: auto;
    display: inline-block;
    margin-left: 5rem;	
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
	line-height: initial;
	background-size: 1.2rem;
  background-position-y: top;
  height: 2rem;
	font-size: 1rem;
    color: #fff;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected:after{
	   content: '\f107';
    font-family: FontAwesome;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items{
    bottom: calc(-300% - 26px);
    top: initial;
    left: 0px;
    text-align: center;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before{
	  border-color: rgba(102, 102, 102, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
	  border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before, .header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
		top: -10px;
}

.header-nav > a{
    font-size: 1rem;
    line-height: initial;
    color: #fff;
}

.header-nav > a.active{
    color: #ffc052;
}

.header-nav.right-box > a{
	padding: .75rem;
    border-radius: 4px;
}

.header-nav.right-box > a:nth-child(2){
	margin-left: .25rem;
}

.main-content > main{
	padding-right: 5%;
}

.faq-box{
	width: 100%;
	height: auto;
	border-radius: 12px;
  border: solid 0.1rem #f0f0f0;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
  padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.faq-box-content a{
    text-decoration: underline!important;
    font-weight: bold;
}

.faq-box-content span{
    font-weight: bold;
}

.faq-box-content ul{
    margin-top: 2%;
}

.faq-box.active{
	height: auto;
	padding-bottom: 0;
}

.faq-box.active > a{
	background-image: url(../img/circle-remove@3x.png);
}

.faq-box.active > .faq-box-content{
	display: block;
}

.faq-box:not(:first-child){
	margin-top: 1%;
}

.faq-box > h5{
	font-size: 1.3281rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -0.02343rem;
  color: #000000;
}

.faq-box:first-child > .faq-box-content > a{
	    text-align: right;
    width: 100%;
    display: block;
    padding-right: 2%;
    margin-top: 10px;
}

body.en-lang .faq-box:first-child > .faq-box-content > ul, body.ru-lang .faq-box:first-child > .faq-box-content > ul{
	display: none;
}

.faq-box > a{
	   position: absolute;
			background-image: url(../img/circle-add@3x.png);
        top: 1.25rem;
    right: 1.5rem;
	    width: 1.75rem;
    height: 1.75rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.faq-box-content{
	display: none;
	    width: 96.5%;
	    margin-top: 2.5%;
    margin-bottom: 3.5%;
}

.faq-box-content > p{
	font-size: 1.0156rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.02343rem;
  color: #66666d;
}

.faq-box-content > p:not(:first-child), .faq-box-content > h6:not(:first-child){
	    margin-top: 1.5%;
}

.faq-box-content > ul, .faq-box-content > ul > li{
    list-style-type: square;
}

.faq-box-content > ul{
    padding-left: 3rem;
}

.faq-box-content > ul > li > p{
    color: #66666d;
    font-size: 1.0156rem;
}

.faq-box-content > h6{
    font-weight: 600;
}

.footer-demo-box button{
    margin-right: 1rem;
    margin-left: 1rem;
	margin-top: 3.2%;
	width: 17.421875rem;
	max-width: 50%;
  padding-top: 0.775rem;
  padding-bottom: 0.775rem;
  border-radius: 2.125rem;
	border: none;	
  background-color: #ffc052;
  box-shadow: 0 0.15625rem 1.5625rem 0 rgba(11, 11, 11, 0.14);
	font-size: 1.09375rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: -0.0234375rem;
  text-align: center;
  color: #000000;
}

.footer-main-left-text{
    width: 100%;
    margin-top: 1rem;
}

.footer-main{
    max-width: 80rem;
    display: block;
    margin: 0 auto;
    margin-top: 3.4rem;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-main-left{
    width: 40%;
    margin-left: 0;
}

.footer-main-right{
    margin-right: 0;
}

.footer-main-right-links > h6{
    font-weight: normal;
    font-family: "SFPro-Semibold";
}

.footer-bottom{
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3.5%;
}

.footer-main-left-bottom{
	display: inline-block;
}

.footer-main-left-bottom-lang{
	display: inline-block;
}

.footer-main-left-bottom-lang > .custom-lang-select{
    margin-left: 1.6015625rem;
}

.footer-demo-box-bottom{
	  margin-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.footer-main-left-bottom-lang .select-selected:after{
    content: '\f107';
    font-family: FontAwesome;
    font-size: 1.015625rem;
    color: #bebebe;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.footer-demo-box > .btn-group{
    margin-top: 1rem;
}

footer{
    margin-bottom: 0;
}

.footer-demo-box{
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    position: relative;
}

.footer-demo-box:after{
    content: "";
    background-image: url("../img/footer_fill.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
}

@media only screen and (max-width: 1086px) {
	.header-content-nav > ul > li:not(:first-child){
		margin-left: 2%;
	}
}

@media only screen and (max-width: 1036px) {
    .header-content{
        margin-top: 5rem;
    }
    .header-line{
        display: none;
    }
}

@media only screen and (max-width: 905px) {
	.header-content-text{
		    width: 100%;
	}
    .faq-box > h5{
        width: 90%;
    }
}

@media only screen and (max-width: 767px){
	.faq-box > a{
		display: none;
	}
    .header-content{
        margin-top: 5rem;
    }
    .header-content-text > h3{
        font-size: 2rem;
    }
    .faq-box > h5{
        width: 100%;
    }
}

@media only screen and (max-width: 450px){
    .header-content{
        margin-top: 5rem;
    }
}