header{
	width: 100%;
	background-image: none;
	background-color: #0061fc;
	background-image: none;
	background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
    background-position-x: 20%;
}

.header-container{
    max-width: initial;
    margin: 0;
}

.header-img{
	     position: absolute;
    bottom: -85px;
}

.header-form{
	position: absolute;
    left: -8px;
    width: 100.25%;
    bottom: -54%;	
}

.header-content-text{
	width: 45%;
  margin-top: 13.5%;
}

.header-content-image{
    overflow: hidden;
    width: 40%;
    padding: 0;
    position: relative;
    top: 0;
    right: 7%;
    margin-top: 0;
    margin-right: 0;
}

.header-content-text > h3{
	font-size: 2.6rem;
    font-family: "DarwinPro-Light";
    position: relative;
    top: 8rem;
}

.header-content-text > p{
    font-family: "SFPro-Light";
    text-shadow: none;
    top: 8rem;
}

.header-content{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.main-content{
	padding-top: 4.15%;
}

.fmain-nav{
	width: 31%;
	padding-left: 5%;
	margin-top: -1.5rem;
	z-index: 3;
}

.fmain-nav li::before{
	content: "•"; 
	color: #e6e6e6;
	font-size: 3.85rem;
}

.fmain-nav li > a{
	top: -0.6rem;
	font-size: 1.17187rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.0234375rem;
    color: #66666d;
	padding-left: .75rem;
    font-family: "SFPro-Semibold";
}

.fmain-nav li > span{
		display: block;
    border-left: 1px solid #e6e6e6;
    left: 0.858rem;
    height: 1rem;
		line-height: 1.69;
    padding-top: 0.75rem;
		top: -0.75rem;
    margin-bottom: -2rem;
	 	font-size: 1.01562rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: -0.0234375rem;
		color: #000000;
	  padding-left: 1.575rem;
}

.fmain-nav li:last-child > span{
	border: none;
}

.fmain-nav li:not(.active) > span{
	color: transparent;
}

.fmain-nav li.active::before{
	color: #0061fc;
}

.fmain-nav li.active > a{
	color: #0061fc;
}

.fmain-nav li.active > span{
	border-color: #0061fc;
	height: 3.5rem;
    width: 100%!important;
}

.header-top{
    position: fixed;
    top: 0;
    height: 5rem;
    padding-top: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    z-index: 100;
    background-color: transparent;
    transition: .5s all;
}

.header-top.toBottom{
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
    background-color: #036bf5;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
    background-image: url(../img/world2.svg);
}


.header-top-inner{
	width: 80rem;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .75rem;
	margin: 0 auto;
}

.header-top-inner > .header-nav.left-box{
	margin-left: 0;
	width: 29%;
}

.header-logo{
    position: relative;
}

.header-logo-image{
    margin-top: 0;
    width: 7rem;
    display: inline-block;
    cursor: pointer;
}

.header-logo-text{
    float: right;
    display: inline-block;
    margin-left: .75rem;
    position: relative;
    margin-top: 1.6rem;
    font-family: "HelveticaLatin-Medium";
}

.header-nav{
	  width: auto;
    text-align: right;
    margin-top: 1rem;
		margin-left: 0;
}

.header-nav > a:nth-child(2), .header-nav > a:last-child{
	  margin-left: 1rem;
}

.header-nav > .custom-lang-select{
	  width: auto;
    display: inline-block;
    margin-left: 5rem;	
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
	line-height: initial;
	background-size: 1.2rem;
  background-position-y: top;
  height: 2rem;
	font-size: 1rem;
    color: #fff;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected:after{
	   content: '\f107';
    font-family: FontAwesome;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items{
    bottom: calc(-300% - 26px);
    top: initial;
    left: 0px;
    text-align: center;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before{
	  border-color: rgba(102, 102, 102, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
	  border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before, .header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
		top: -10px;
}

.header-nav > a{
    font-size: 1rem;
    line-height: initial;
    color: #fff;
}

.header-nav > a.active{
    color: #ffc052;
}

.header-nav.right-box > a{
	padding: .75rem;
    border-radius: 4px;
}

.header-nav.right-box > a:nth-child(2){
	margin-left: .25rem;
}

.fmain-content{
	width: 64%;
	margin-left: 6%;
  margin-right: -1%;
	z-index: 3;
}

.fmain-content:not(#fetBl1){
	display: none;
}

.fmain-content-top > h3{
	font-size: 2.1875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.0234375rem;
  color: #000000;
	line-height: 1.5;
}

.fmain-content-top > p{
	font-size: 1.38rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.03125rem;
  color: #000000;
	margin-top: 1%;
	width: 75%;
}

#fetBl1 .fmain-content-features{
    margin-top: 0;
}

#fetBl1 > .fmain-content-features > .row:first-child{
    margin-top: 8%;
}

#fetBl1 > .fmain-content-features > .row:nth-child(2){
    margin-top: 10%;
}

#fetBl2 .fmain-content-top > p{
	width: 88%;
}

#fetBl3 .fmain-content-top > p{
	width: 88%;
}

#fetBl5 .fmain-content-top > p{
	width: 88%;
}

/*
#fetBl4 .fmain-content-top > h3{
	width: 90%;
}

#fetBl4 .fmain-content-top > p{
	width: 88%;
}
*/

#fetBl6 .fmain-content-top > h3{
	width: 90%;
}

#fetBl6 .fmain-content-top > p{
	width: 88%;
}

#fetBl2 .fmain-content-top > p{
	width: 87%;
}

#fetBl5 .fmain-content-top > p{
	width: 87%;
}

.fmain-content-features > .row{
	width: 100%;
}

.fmain-content-features > .row:not(:first-child){
	margin-top: 3.5%;
}

.fmain-content-feature{
	width: 50%;
}

.fmain-content-feature > .feature-icon{
	width: 3.4375rem;
}

.fmain-content-feature > h5{
	font-size: 1.3281rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: -0.0234375rem;
  color: #000000;
	width: 81%;
	margin-top: 5%;
}

#fetBl5 .fmain-content-feature > h5{
    width: 80%;
}

/*
#fetBl4 .fmain-content-feature > h5{
	margin-top: 7%;
}
*/

#fetBl6 .fmain-content-feature > h5{
	margin-top: 7%;
}

.fmain-content-features > .row:first-child > .fmain-content-feature.right > h5{
	width: 76%;
}

.fmain-content-feature > p{
	font-size: 1.0156rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.0234375rem;
  color: #66666d;
	width: 81%;
	margin-top: 4.5%;
}

.fmain-content-feature > ul > li:before{
		content: "•";
    color: #0061fc;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.fmain-content-feature > ul > li > p{
	display: inline-flex;
	font-size: 1.0156rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.0234375rem;
  color: #66666d;
	width: 73%;
	margin-top: 4.5%;
}

/*
#fetBl5 .fmain-content-feature > ul > li >ul > li:before{
    content: "•";
    color: #0061fc;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

#fetBl5 .fmain-content-feature > ul > li > ul >li > p{
    display: inline-flex;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: -0.0234375rem;
    color: #66666d;
    width: 73%;
    font-size: 0.9rem;
    margin-top: 3%;
}
*/

.fmain-content-feature > ul > li.hidden-item{
    display: none;
}

#fetBl5 .fmain-content-features > .row > .fmain-content-feature > ul > a{
    display: block;
    width: 73%;
    margin-top: 2%;
    color: #0061fc;
    text-transform: capitalize;
    text-align: right;
}

#fetBl5 .fmain-content-features > .row:nth-child(2) > .fmain-content-feature.left-box > ul > a:hover{
    text-decoration: underline!important;
}

#fetBl2 .fmain-content-feature > ul > li > p{
	width: 79%;
}

#fetBl3 .fmain-content-feature > ul > li > p{
	width: 79%;
}

#fetBl5 .fmain-content-feature > ul > li > p{
	width: 79%;
}

.fmain-content-features{
	margin-top: 5.5%;
}

a.show-leftnav{
	  text-align: center;
    display: none;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 3%;
    border-radius: 4px;
    background-color: #036bf5;
    color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.5rem;
}

.fmain-content-video{
    width: 92%;
    height: 23rem;
    background-color: transparent;
    background-image: url(../img/desc6.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fmain-content-video-btn{
	background-image: url(../img/button-circle-play_1.svg);
    width: 5rem;
    height: 5rem;
    background-size: cover;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    top: 55%;
    position: absolute;
    left: 52%;
}

.fmain-content-video-text{
    text-align: center;
    width: 50%;
    margin-left: 32%;
    top: 20%;
}

body.az-lang .fmain-content-video-text{
	  width: 65%;
   	margin-left: 25%;
}

.fmain-content-video-text > h3{
    color: #036bf5;
    font-family: "DarwinPro-Semibold";
    font-size: 2.5rem;
}

.fmain-content-video-text > p{
    font-family: "DarwinPro";
    font-size: 1.4rem;
    margin-top: 1rem;
}

#fetBl2 .fmain-content-feature{
	width: 100%;
	text-align: left;
}

#fetBl3 .fmain-content-feature{
	width: 100%;
	text-align: left;
}

#fetBl5 .fmain-content-feature{
	width: 100%;
	text-align: left;
}

#fetBl2 .fmain-content-feature > ul{
	margin-top: 1.5%;
}

#fetBl3 .fmain-content-feature > p{
    margin-top: 1.5%;
}

#fetBl3 .fmain-content-feature > ul{
	margin-top: 1.5%;
}

#fetBl5 .fmain-content-feature > ul{
	margin-top: 1.5%;
}

#fetBl2 .fmain-content-feature > ul > li > p{
	margin-top: 1.5%;
}

#fetBl3 .fmain-content-feature > ul > li > p{
	margin-top: 1.5%;
}

#fetBl5 .fmain-content-feature > ul > li > p{
	margin-top: 1.5%;
}

/*
#fetBl4 .fmain-content-feature{
	width: 100%;
	text-align: left;
}

#fetBl4 .fmain-content-feature > h5{
	width: 90%;
}

#fetBl4 .fmain-content-feature > ul{
	margin-top: 1.5%;
}

#fetBl4 .fmain-content-feature > ul > li > p{
	margin-top: 1.5%;
	width: 88%;
}
*/

#fetBl6 .fmain-content-feature{
	width: 100%;
	text-align: left;
}

#fetBl6 .fmain-content-feature > h5{
	width: 90%;
}

#fetBl6 .fmain-content-feature > ul{
	margin-top: 1.5%;
}

#fetBl6 .fmain-content-feature > ul > li > p{
	margin-top: 1.5%;
	width: 88%;
}

.fmain-content-image{
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    text-align: right;
    height: 25rem;
}

.fmain-content-image > img{
    width: 35rem;
    top: -1.2rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
}

#fetBl3 .fmain-content-image{
	    height: 33rem;
}

#fetBl3 .fmain-content-image > img, #fetBl6 .fmain-content-image > img{
    width: 100%;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#fetBl2 .fmain-content-image > img{
    width: 42rem;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

/*
#fetBl3 .fmain-content-image > img{
    width: 47rem;
    top: 1.5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}
*/

#fetBl5 .fmain-content-image > img{
    width: 54rem;
    top: 0;
    right: 0;
    left: -7rem;
    margin: 0 auto;
}

#fet2.active > span{
	width: 68%;
	height: 4.75rem;
	padding-top: 0.65rem;
}

#fet5.active > span{
	width: 68%;
	height: 3.5rem;
	padding-top: 0.7rem;
}

#fet4.active > span{
	height: 5rem;
	width: 78%;
}

#fet6.active > span{
	height: 5rem;
	width: 78%;
    padding-top: 0;
}

#fetBl4 .fmain-content-top > p{
	width: 87%;
}
#fetBl4 .fmain-content-feature > h5{
    width: 80%;
}
#fetBl4 .fmain-content-features > .row > .fmain-content-feature > ul > a{
    display: block;
    width: 73%;
    margin-top: 2%;
    color: #0061fc;
    text-transform: capitalize;
    text-align: right;
}

#fetBl4 .fmain-content-features > .row:nth-child(2) > .fmain-content-feature.left-box > ul > a:hover{
    text-decoration: underline!important;
}

#fetBl4 .fmain-content-feature > ul > li > p{
    width: 73%!important;
}

#fetBl4 .fmain-content-feature > h5, #fetBl1 .fmain-content-feature > h5{
    width: 81%!important;
}

/*
#fetBl5 .fmain-content-feature ul > li > ul{
    margin-left: 20px;
}
*/

.fmain-nav + .left-circle{
	left: -53%;
	top: 25%;
	width: 48.4375rem;
  border-radius: 100%;
}

.fmain-content + .right-circle{
	right: -43%;
	top: 70%;
	width: 48.4375rem;
  border-radius: 100%;
}

.header-content-text > p{
	margin-top: 8%;
}

.header-nav{
    margin-left: 0;
}

header{
    background-position-x: 35%;
    padding-bottom: 1%;
    background-position-y: 250%;
}

.header-content-text{
    margin-top: 4.5%;
    padding-top: 0;
}

.header-content-text > p{
    margin-top: 9%;
}

.header-content-text > .play-btn{
    width: 6.5rem;
    height: auto;
    position: absolute;
    right: -40%;
    bottom: -3%;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 5rem 1.25rem rgba(0, 0, 0, 0.15);
}

.header-content-text > button{
    position: absolute;
    margin-top: 10%;
    margin-bottom: 0;
}

button.btn:hover, button.btn:active, button.btn:focus{
    background: #ffba42;
    color: black;
}

.fmain-nav li#fet1.active > span{
    padding-top: 0.2rem;
        height: 3.5rem;
}

.fmain-content-top > p{
    width: 92%!important;
}

.fmain-content-feature > h5{
    width: 100%!important;
}

.fmain-content-feature > h5{
    width: 100%!important;
}

.fmain-content-feature > ul > li > p{
    width: 92%!important;
}

.fmain-nav > ul > li.active > span{
    height: auto!important;
    padding-top: 0.65rem!important;
    padding-bottom: 0.65rem!important;
}

.footer-demo-box button{
    margin-right: 1rem;
    margin-left: 1rem;
	margin-top: 3.2%;
	width: 17.421875rem;
	max-width: 50%;
  padding-top: 0.775rem;
  padding-bottom: 0.775rem;
  border-radius: 2.125rem;
	border: none;	
  background-color: #ffc052;
  box-shadow: 0 0.15625rem 1.5625rem 0 rgba(11, 11, 11, 0.14);
	font-size: 1.09375rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: -0.0234375rem;
  text-align: center;
  color: #000000;
    z-index: 10;
}

.footer-main-left-text{
    width: 100%;
    margin-top: 1rem;
}

.footer-main{
    max-width: 80rem;
    display: block;
    margin: 0 auto;
    margin-top: 3.4rem;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-main-left{
    width: 40%;
    margin-left: 0;
}

.footer-main-right{
    margin-right: 0;
}

.footer-main-right-links > h6{
    font-weight: normal;
    font-family: "SFPro-Semibold";
}

.footer-bottom{
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3.5%;
}

.footer-main-left-bottom{
	display: inline-block;
}

.footer-main-left-bottom-lang{
	display: inline-block;
}

.footer-main-left-bottom-lang > .custom-lang-select{
    margin-left: 1.6015625rem;
}

.footer-demo-box-bottom{
	  margin-top: 8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.footer-main-left-bottom-lang .select-selected:after{
    content: '\f107';
    font-family: FontAwesome;
    font-size: 1.015625rem;
    color: #bebebe;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.footer-demo-box > .btn-group{
    margin-top: 1rem;
}

footer{
    margin-bottom: 0;
}

.footer-demo-box{
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    position: relative;
}

.footer-demo-box:after{
    content: "";
    background-image: url("../img/footer_fill.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
}

#videoPromoModal.modal{
    top: 6vh;
}

#videoPromoModal .modal-window{
    background-color: transparent;
    max-width: 100%;
}

#videoPromoModal .modal-window-content{
    width: 100%;
    padding: 0;
    height: 48.5rem;
    padding: 5%;
}

#videoPromoModal .modal-window-text{
    max-width: 100%;
    margin: 0;
    height: 100%;
}

#videoPromoModal .modal-close-btn{
    position: fixed;
    width: 1.35rem;
    top: 1.5rem;
    right: 3rem;
}

#videoPromoModal .modal-window-text > iframe{
    width: 100%;
    height: 100%;
    position: relative;
}

/************Azeri*************/
body.az-lang .header-content-text > p{
    max-width: 95%;
}
body.az-lang #fetBl5 .fmain-content-feature ul > li:nth-child(9){
    display: none;
}

body.az-lang #fetBl4 .fmain-content-features .row:first-child .fmain-content-feature.right-box ul > li:nth-child(6){
    display: none!important;
}

body.az-lang #fetBl4 .fmain-content-features .row:nth-child(2) .fmain-content-feature.right-box ul > li:nth-child(4){
    display: none!important;
}

body.az-lang #fetBl3 ul:last-child > li:last-child::before{
    content: "";
    margin-right: 0;
    font-size: 0;
}

body.az-lang #fetBl3 ul:last-child > li:last-child{
    margin-top: .5rem;
}

@media only screen and (max-width: 1248px) {
    body.az-lang #fet2.active > span{
        height: 5.75rem;
    }
}

@media only screen and (max-width: 1188px) {
    body.az-lang #fet1.active > span, body.az-lang #fet2.active > span, body.az-lang #fet3.active > span, body.az-lang #fet4.active > span, body.az-lang #fet5.active > span, body.az-lang #fet6.active > span{
        height: 3.5rem;
        padding-top: 0.75rem;
    }
    
    body.az-lang .header-content-text{
        width: 54%;
    }
}

@media only screen and (max-width: 560px) {
    body.az-lang #fet1.active > span, body.az-lang #fet2.active > span, body.az-lang #fet3.active > span, body.az-lang #fet4.active > span, body.az-lang #fet5.active > span, body.az-lang #fet6.active > span{
        height: 4.75rem;
        padding-top: 0.65rem;
    }
}
/******************************/
/************English*************/
body.en-lang #fetBl2 .fmain-content-feature ul > li:nth-child(5), body.en-lang #fetBl2 .fmain-content-feature ul > li:nth-child(6), body.en-lang #fetBl2 .fmain-content-feature ul > li:nth-child(7), body.en-lang #fetBl2 .fmain-content-feature ul > li:nth-child(8){
    display: none;
}

body.en-lang .header-content-text{
    width: 42%;
}

body.en-lang .header-content-text > p{
    width: 95%;
}

body.en-lang .footer-demo-box > h2{
    width: 58.0625rem;
}

@media only screen and (max-width: 1188px) {
    body.en-lang .header-content-text{
        width: 50%;
    }
}
/******************************/
/**********Russian***********/
body.ru-lang .header-content-text > h3{
    font-size: 2.25rem;
    font-family: "HelveticaKiril-Medium";
}

body.ru-lang .header-content-text{
    width: 40%;
}
body.ru-lang #fetBl2 .fmain-content-feature ul > li:nth-child(5), body.ru-lang #fetBl2 .fmain-content-feature ul > li:nth-child(6), body.ru-lang #fetBl2 .fmain-content-feature ul > li:nth-child(7), body.ru-lang #fetBl2 .fmain-content-feature ul > li:nth-child(8){
    display: none;
}

@media only screen and (max-width: 1188px) {
    body.ru-lang .header-content-text{
        width: 50%;
    }
}
/***************************/

/*
@media only screen and (min-width: 1800px) {
	.header-content{
		margin-bottom: 8%;	
	}
	
	.header-content-text > h3{
		font-size: 3rem;
		width: 80%;
	}
	
	.header-content-text{
		    width: 50%;
    margin-top: 26.5%;
	}
	
	.header-content-text > p{
		width: 100%;
		margin-top: 8%;
		font-size: 1.615625rem;
	}
}

@media only screen and (max-width: 1799px) and (min-width: 1700px){
	.header-content{
		margin-bottom: 6%;	
	}
	
	.header-content-text > h3{
		font-size: 3rem;
		width: 80%;
	}
	
	.header-content-text{
		    width: 50%;
    margin-top: 22.5%;
	}
	
	.header-content-text > p{
		width: 100%;
		margin-top: 8%;
		font-size: 1.615625rem;
	}
}

@media only screen and (max-width: 1699px) and (min-width: 1600px){
	.header-content{
		margin-bottom: 6%;	
	}
	
	.header-content-text > h3{
		font-size: 3rem;
		width: 80%;
	}
	
	.header-content-text{
		    width: 50%;
    margin-top: 18.5%;
	}
	
	.header-content-text > p{
		width: 100%;
		margin-top: 8%;
		font-size: 1.615625rem;
	}
}

@media only screen and (max-width: 1599px) and (min-width: 1400px){
	.header-content{
		margin-bottom: 6%;	
	}
	
	.header-content-text > h3{
		font-size: 2.5rem;
		width: 90%;
	}
	
	.header-content-text{
		    width: 35%;
    margin-top: 20.5%;
	}
	
	.header-content-text > p{
		width: 100%;
		margin-top: 8%;
		font-size: 1.115625rem;
	}
}
*/

/*
@media only screen and (min-width: 2500px){
    header{
        background-size: 120%;
        background-position-y: -4rem;
    }
}
*/

/*
@media only screen and (min-width: 1940px) and (max-width: 2561px){
    header{
        background-size: cover;
        background-position-y: -1rem;
    }
    .header-content-text{
        margin-top: 4.5%;
        padding-top: 5%;
        top: 3.5rem;
    }
}

@media only screen and (max-width: 1939px) {
    header{
        background-size: cover;
        background-position-y: -1rem;
    }
}
*/

@media only screen and (max-width: 1680px) {
/*
    header{
        background-size: 200%;
        background-position-x: 49%;
        background-position-y: -4rem;
    }
*/
/*
    .header-content-text > .play-btn{
        right: -30%;
        bottom: -40%;
    }
*/
    .header-content-image{
        right: 3%;
    }
}

@media only screen and (max-width: 1450px) {
    header{
        background-position-x: 50%;
    }
    body.az-lang header{
        background-position-x: 47%;
    }
/*
		.header-content-text{
					width: 33%;
		}
*/
}

@media only screen and (max-width: 1320px) {
    header{
        background-position-x: 48%;
    }
}


@media only screen and (max-width: 1331px) {
/*
    .header-content-text{
        width: 33%;
    }
    
    body.az-lang .header-content-text{
        width: 41%;
    }
*/
    
    .header-content-text > .play-btn{
        right: -28%;
    }
}

@media only screen and (max-width: 1290px) {
    body.az-lang header{
        background-position-x: 51%;
    }
}

@media only screen and (max-width: 1265px) {
    body.ru-lang header{
        background-position-x: 53%;
    }
}

@media only screen and (max-width: 1240px) {
/*
    header, body.az-lang header{
        background-position-x: 53%;
    }
	.header-content-text{
        width: 33%;
	}
*/
	.header-img{
		bottom: -70px;
	}
    .header-content-text > .play-btn{
        right: -18%;
        width: 5.5rem;
    }
    .header-content-text > p{
        max-width: 100%;
    }
/*
    .header-content{
        margin-bottom: 10%;
    }
*/
    body.ru-lang header{
        background-size: 200%;
        background-position-x: 51%;
    }
/*
    body.ru-lang .header-content-text{
        margin-top: 0;
    }
*/
}

@media only screen and (max-width: 1165px) {
/*
	.header-content{
		margin-bottom: 4%;	
	}
	.header-content-text{
		    width: 36%;
		margin-top: 8.5%;
	}
*/
/*
    .header-content-text{
        width: 40%;
	}
*/
    .header-content-text > .play-btn{
        right: -40%;
        bottom: -20%;
    }
    body.az-lang header{
        background-size: 200%;
    }
    
    .header-content-text > p{
        margin-top: 6%;
    }
}


@media only screen and (max-width: 1035px) {
	header{
		background-image: none;
        padding-bottom: 0;
        background-color: #0061fc;
	}
    .header-content{
        margin-top: -8%!important;
        margin-bottom: 16%!important;
    }
	.header-img{
		display: none;
	}
	.header-content-text{
        width: 88%!important;
        margin-top: 8%;
	}
	.fmain-nav + .left-circle{
		left: -70%;
	}
	
	.fmain-content + .right-circle{
		right: -60%;
	}
    .header-content-text > p{
        margin-top: 5%;
    }
    .header-content-text > button{
        margin-top: 5%;
    }
    .header-content-text > .play-btn{
        right: -10%;
        width: 4rem;
        bottom: -20%!important;
    }
    
}

@media only screen and (max-width: 900px) {
	.fmain-content-video{
		height: 20.14rem;
		background-size: 100%;
	}
	.fmain-nav + .left-circle{
		left: -80%;
	}
	.fmain-content + .right-circle{
		right: -70%;
	}
    .header-content-text > p{
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .header-content{
        margin-bottom: 18%!important;
    }
}

@media only screen and (max-width: 767px) {
    header{
        padding-bottom: 12%;
	}
    .header-content{
        margin-top: -22%!important;
    }
    .header-content-text{
        top: 4rem;
    }
    .header-content-text > button{
        position: relative;
        left: 0;
        margin-left: initial;
    }
    .fmain-content-image{
        width: 112%!important;
        margin-left: -6%!important;
        border-radius: 0!important;
        height: auto!important;
    }
    .fmain-content-image > img{
         max-width: 100%!important;   
         top: 0!important;
         bottom: 0!important;
         left: 0!important;
         right: 0!important;
    }
}

@media only screen and (max-width: 580px) {
    header{
        padding-bottom: 22%!important;
	}
    .header-content{
        margin-top: -30%!important;
    }
}

/*
@media only screen and (max-width: 767px) and (min-width: 600px) {
    .fmain-nav li.active > span{
        width: 100%!important;
        height: 6rem!important;
    }
}
*/

@media only screen and (max-width: 1188px) {
    main{
		text-align: center;
		width: 100%;
	}
	
	.fmain-nav + .left-circle{
		left: -120%;
	}
	
	.fmain-content + .right-circle{
		right: -110%;
	}
	
	.fmain-content-video{
		width: 100%;
		height: 18.14rem;
		background-size: 85%;
	}
	
	a.show-leftnav{
		display: block;
	}
	
	.fmain-content-feature{
		float: none;
		width: 100%;
	}
	
	.fmain-content-feature:last-child{
		margin-top: 5%;
	}
	
	.fmain-content{
		float: none!important;
		width: 90%!important;
    margin-left: 5%!important;
	}
	
	.fmain-nav{
		display: none;
		width: 90%;
    padding-left: 0;
    margin-left: 5%;
    text-align: left;
	}
	
	.fmain-content-top > p{
		width: 100%!important;
	}
	
	.fmain-content-top > h3{
		width: 100%!important;
	}
	
	.feature-icon{
		margin: 0 auto;
	}
	
	.fmain-content-feature > h5{
		width: 100%!important;
	}
	
	.fmain-content-feature > p{
		width: 100%;
	}

	.fmain-content-features{
		width: 90%;
    margin-left: 5%;
	}
	
	#fetBl2 .fmain-content-features, #fetBl3 .fmain-content-features, #fetBl5 .fmain-content-features, #fetBl6 .fmain-content-features{
		width: 100%;
		margin-left: 0;
	}
	
	#fetBl2 .fmain-content-feature > ul > li > p, #fetBl3 .fmain-content-feature > ul > li > p, #fetBl5 .fmain-content-feature > ul > li > p{
		width: 92%;
	}
	
/*
	#fetBl4 .fmain-content-feature > ul > li > p{
		width: 92%;
	}
*/
	
	#fetBl6 .fmain-content-feature > ul > li > p{
		width: 92%;
	}
	
	.fmain-content-image{
		width: 100%;
	}
    .fmain-nav li.active > span{
        height: 2.5rem;
    }
    #fetBl4 .fmain-content-feature > h5, #fetBl1 .fmain-content-feature > h5{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .fmain-content-video{
        background-size: 100%;
        height: 40vw;
    }
}

@media only screen and (max-width: 800px) {
    .fmain-content-video-text > h3{
        font-size: 2rem;
    }
    .fmain-content-video-text > p{
        font-size: 1.15rem;
    }
    .fmain-content-video-btn{
        width: 4rem;
        height: 4rem;
    }
}


@media only screen and (max-width: 730px) {
	.fmain-nav + .left-circle{
		height: 48.4375rem;
		left: -95%;
	}
	.fmain-content + .right-circle{
		height: 48.4375rem;
		right: -85%;
	}
}

@media only screen and (min-width: 1189px) {
/* 	.fmain-content{
		display: block!important;
	} */
	.fmain-nav{
		display: block!important;
	}
}

@media only screen and (max-width: 767px) {
    header{
        padding-bottom: 14%;
    }
    .header-content-text > .play-btn{
        width: 4rem;
        top: 65px!important;
        box-shadow: none!important;
        right: -35px;
    }
}

@media only screen and (max-width: 650px) {
    .fmain-content-video-text{
        top: 16%;
    }
    .fmain-content-video-text > h3{
        font-size: 1.5rem;
    }
    .fmain-content-video-text > p{
        font-size: 1rem;
        margin-top: .5rem;
    }
    .fmain-content-video-btn{
        width: 3rem;
        height: 3rem;
        top: 60%;
    }
}


@media only screen and (max-width: 480px) {
    header{
        padding-bottom: 30%!important;
    }
    .header-content-text > .play-btn{
        width: 4rem;
        top: 35px!important;
        box-shadow: none!important;
        right: -20px;
    }
    body.ru-lang .btn_subscribe_on{
        width: 40px;
    }
    .fmain-content-video-text{
        display: none;
    }
    .fmain-content-video-btn{
        top: calc(47% - 1.5rem);
        left: calc(57% - 1.5rem);
    }
}


@media only screen and (max-width: 450px) {
	.fmain-content-video{
		height: 16rem;
        background-size: 95%;
	}
    .footer-demo-box > button{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 398px) {
    .header-content-text > .play-btn{
        bottom: 17px;
    }
    header{
        padding-bottom: 46%!important;
    }
}