header{
	background-image: none;
	background-color: #0061fc;
    padding-bottom: 2%;
}

.header-content{
    margin-bottom: 14%!important;
    margin-top: 9%!important;
    padding-left: 5%;
}

.header-content-image{
    width: 49%;
    position: relative;
    right: 0;
    margin-right: -12%;
    top: 0;
    margin-top: 2%;
}

.header-content-text{
	width: 49%;
}

.header-content-text > p{
	max-width: 77%;
    margin-top: 10%;
}

.main-content {
    padding-top: 3.5%;
}

.fmain-content{
	display: block!important;
  width: 100%;
   margin-left: 0; 
   margin-right: 0;
	margin-top: 3%;
}

.fmain-content > .row:nth-child(2){
	text-align: center;
	margin-top: 6%;
}

.fmain-content-imagel{
    width: 90%;
    margin: 0 auto;
}

/*
.fmain-content-imagel:after{
    content: "";
    background-image: url(../img/resume11.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    background-position-y: 20%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
*/

.fmain-content-imagel .play-btn{
    background-image: url(../img/play_small.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: auto;
    height: 42px;
    z-index: 100;
    cursor: pointer;
    padding-left: 44px;
    padding-top: 7px;
    color: #ffc052;
    font-size: 1.15rem;
		margin-top: 1rem;
}

.fmain-content-imagel > .resume-item-text{
    position: absolute;
    z-index: 10;
    top: 26%;
    left: 55%;
    width: 34%;
    color: white;
}

.fmain-content-imagel > .resume-item-text > h5{
    font-size: 1.7rem;
    font-family: "SFPro-Bold";
}

.fmain-content-imagel > .resume-item-text > p{
    font-size: 1.15rem;
    margin-top: 1rem;
}

.fmain-content-feature{
	    width: 47%;
}

.fmain-content-feature.left{
	margin-left: 3%;
}

.fmain-content-feature.right{
	margin-right: 3%;
}

.fmain-content-imagel + .fmain-content-feature {
	    width: 46%;
	margin: 0;
}

.fmain-content-feature > ul > li > p{
	width: 77%;
	margin-top: 2.25%;
}

.fmain-top{
	text-align: center;
    max-width: 66rem;
    margin: 0 auto;
}

.fmain-top > h2{
  font-size: 1.75rem;
  font-family: "SFPro-Semibold";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.02343rem;
  color: #000000;
}

.fmain-content-features{
	text-align: center;
}

.fmain-content-feature > .feature-icon{
    height: 3.5rem;
}

.fmain-content-feature > .feature-icon, .fmain-content-feature > h5, .fmain-content-feature > p{
	margin-left: auto;
	margin-right: auto;
}

/*
.fmain-content-feature > h5{
	width: 60%!important;
    height: 3rem;
}
*/

.fmain-content-feature > p{
	width: 72%;
}

.footer-demo-box > h2{
	width: 47.0625rem;
}

.footer-demo-box > h2 > span{
	display: block;
}

.fmain-content + .right-circle{
	  right: -45%;
    top: 74%;
}

.footer-main-left-text{
	z-index: 3;
}

.footer-main-right{
	z-index: 3;
}

.header-top{
    z-index: 100;
}

.header-top > .header-nav{
    margin-left: 0;
}

.header-content-text{
    margin-top: 0;
    padding-top: 4%;
}

.header-content{
    margin-bottom: 3%;
}

/*
footer{
    margin-bottom: 3%;
}
*/

.header-nav > a:first-child{
    color: white;
}

.header-nav > a.active{
    color: #ffc052;
}

.hidden-item{
    display: none;
}

.footer-demo-box > h2{
    width: 46rem;
}

.header-content{
    height: 100%;
    margin-bottom: 0%!important;
    margin-top: 0!important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

body.ru-lang .header-content-text{
    width: 44%;
}

.header-content-text > p{
    max-width: 100%!important;
}

.header-content-image{
    width: 51%;
    margin-right: 0;
}

#videoPromoModal.modal{
    top: 6vh;
}

#videoPromoModal .modal-window{
    background-color: transparent;
    max-width: 100%;
}

#videoPromoModal .modal-window-content{
    width: 100%;
    padding: 0;
    height: 48.5rem;
    padding: 5%;
}

#videoPromoModal .modal-window-text{
    max-width: 100%;
    margin: 0;
    height: 100%;
}

#videoPromoModal .modal-close-btn{
    position: fixed;
    width: 1.35rem;
    top: 1.5rem;
    right: 3rem;
}

#videoPromoModal .modal-window-text > iframe{
    width: 100%;
    height: 100%;
    position: relative;
}

/************Azeri*************/
body.az-lang .header-content-text > p{
    max-width: 100%!important;
}
body.az-lang .footer-demo-box > h2{
    width: 48.0625rem;
}

body.az-lang .header-content-text{
    width: 45%;
}
body.az-lang .header-content-image{
    margin-top: 4%;
}
body.az-lang header{
    padding-bottom: 1%;
}
/******************************/
/************English*************/
body.en-lang .header-content-text{
    width: 40%;
}
/******************************/
/***********Russian************/

/******************************/



@media only screen and (min-width: 1280px){
	.left-circle {
        left: -24%;
	}
}

@media only screen and (max-width: 1643px){
/*
    .header-content-image{
        width: 46%;
    }
*/
}

@media only screen and (max-width: 1450px){
/*
    .header-content-image{
        width: 45%;
    }
*/
/*
    .header-content, body.en-lang .header-content{
        margin-bottom: 0!important;
    }
*/
}

@media only screen and (max-width: 1500px){
/*
    .header-content-image{
        top: 15%;
        width: 62%;
        margin-right: -4%;
    }
*/
}

@media only screen and (max-width: 1270px){
		.header-content-image{
        top: 10%;
    }
}

@media only screen and (max-width: 1213px){
    .header-content-text > p{
        max-width: 100%;
    }
    .header-content-text, body.ru-lang .header-content-text{
        width: 47%;
    }
    .header-content{
        margin-bottom: 0!important;
    }

/*
    .header-content-image{
        top: 28%;
        width: 56%;
        margin-right: -5%;
    }
*/
}

@media only screen and (max-width: 1190px){
    body.az-lang .header-content-text{
        width: 48%;
    }
}

@media only screen and (max-width: 1165px){ 
    .fmain-content-imagel{
		width: 100%;
		float: none;
	}
	
	.fmain-content-imagel + .fmain-content-feature{
		width: 94%;
		margin-left: 6%;
		text-align: left;
		float: none;
	}
    .header-content-text > p{
        margin-top: 6%;
    }
}

@media only screen and (max-width: 1191px){

	.header-content-text > p{
		max-width: 100%;
	}
	.fmain-content-imagel > .resume-item-text > h5{
		font-size: 1.4rem;
	}
	.fmain-content-imagel > .resume-item-text > p{
		font-size: 1rem;
	}
	.fmain-content-imagel .play-btn{
		font-size: 1rem;
		padding-left: 37px;
    padding-top: 7px;
    height: 35px;
	}
	.fmain-content-imagel > .resume-item-text{
		text-align: left;
	}
}

@media only screen and (max-width: 1133px){
    .fmain-content-feature{
        width: 100%!important;
    }
    .header-content-text{
        width: 50%;
    }
    .header-content-text > h3{
        font-size: 2.4rem;
    }
    .header-content-text > p{
        max-width: 100%!important;
    }
}

@media only screen and (max-width: 1035px){
    .header-content-text{
        margin-top: 0;
    }
    .header-content-text > p{
        max-width: 100%!important;
        margin-top: 5%;
    }
    .header-content{
        margin-bottom: 16%!important;
        margin-top: -8%!important;
    }
	.fmain-content-imagel > .resume-item-text{
		top: 20%;
    left: 20%;
    width: 60%;
	}
}

@media only screen and (max-width: 935px){
    .header-content, body.en-lang .header-content{
        margin-bottom: 18%!important;
    }
    
}

@media only screen and (max-width: 767px){
    .header-content-text{
        top: 4rem;
    }
    .header-content, body.en-lang .header-content{
        margin-top: -19%!important;
        margin-bottom: 30%!important;
    }
    .fmain-top > h2{
        font-size: 1.35rem;
    }
    
}

@media only screen and (max-width: 630px){
    .header-content, body.en-lang .header-content{
        margin-bottom: 35%!important;
    }
}

@media only screen and (max-width: 600px){
	.fmain-top > h2{
		    width: 95%;
    margin-left: auto;
    margin-right: auto;
	}
	
	.fmain-content-features{
		width: 100%;
		margin-left: 0;
	}
	
	.fmain-content-feature{
		float: none;
    width: 100%;
		margin-left: 0;
    text-align: center;
	}
    .header-content, body.en-lang .header-content{
        margin-top: 0%;
        margin-bottom: 15%;
    }
	.fmain-content-imagel > .resume-item-text > h5{
		font-size: 1.2rem;
	}
	.fmain-content-imagel > .resume-item-text > p{
		font-size: .9rem;
	}
	.fmain-content-imagel .play-btn{
		font-size: .9rem;
    padding-left: 33px;
    padding-top: 6px;
    height: 32px;
	}
}

@media only screen and (max-width: 580px){
    .header-content, body.en-lang .header-content{
        margin-top: -25%!important;
        margin-bottom: 20%!important;
    }
}

@media only screen and (max-width: 500px){
	.fmain-content-imagel > .resume-item-text > h5{
		display: none;
	}
	.fmain-content-imagel > .resume-item-text > p{
		display: none;
	}
	.fmain-content-imagel .play-btn{
		font-size: 1rem;
    padding-left: 43px;
    padding-top: 9px;
    height: 40px;
	}
}

@media only screen and (max-width: 450px){
    header{
        padding-bottom: 2%;
    }   
}

@media only screen and (max-width: 400px){
    .header-content, body.en-lang .header-content{
        margin-top: -30%!important;
    }
}