header{
    background-image: none;
		box-shadow: none;
		background-color: white;
}

h3{
    line-height: normal;
}

.header-container{
    max-width: 100%;
}

.header-top{
    position: fixed;
    height: 5rem;
    padding-top: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    z-index: 100;
    background-color: white;
    transition: .5s all;
}

.header-top.toBottom{
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
}

.header-top-inner{
	width: 80rem;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .75rem;
	margin: 0 auto;
}

.header-top-inner > .header-nav.left-box{
	margin-left: 0;
	width: 29%;
}

.header-top-white{
    height: 4.5rem;
    background-color: white;
}

.header-top-white-inner{
    max-width: 80rem;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-logo{
    position: relative;
}

.header-logo-image{
    margin-top: 0;
    width: 7rem;
    display: inline-block;
}

.header-logo-text{
    float: right;
    display: inline-block;
    margin-left: .75rem;
    position: relative;
    margin-top: 1.6rem;
    font-family: "HelveticaLatin-Medium";
}

.header-top-blue{
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    height: 4rem;
    display: block;
}

.header-nav{
	  width: auto;
    text-align: right;
    margin-top: 1rem;
		margin-left: 0;
}

.header-nav > a:nth-child(2), .header-nav > a:last-child{
	  margin-left: 1rem;
}

.header-nav > .custom-lang-select{
	  width: auto;
    display: inline-block;
    margin-left: 5rem;	
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected{
	line-height: initial;
	background-size: 1.2rem;
  background-position-y: top;
  height: 2rem;
	font-size: 1rem;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-selected:after{
	   content: '\f107';
    font-family: FontAwesome;
    font-size: 1rem;
    color: #bebebe;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items{
    bottom: calc(-300% - 9px);
    top: initial;
    left: 0px;
    text-align: center;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before{
	  border-color: rgba(102, 102, 102, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
	  border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #666666;
    border-width: 5px;
    margin-left: -5px;
}

.header-top-inner > .header-nav > .custom-lang-select > .select-items:before, .header-top-inner > .header-nav > .custom-lang-select > .select-items:after{
		top: -10px;
}

.header-nav > a{
    font-size: 1rem;
    line-height: initial;
    color: #555555;
}

.header-nav.right-box > a{
	padding: .75rem;
    border-radius: 4px;
}

.header-nav.right-box > a:nth-child(2){
	margin-left: .25rem;
}

.header-nav > a:hover{
		color: #0066f9;
}

.header-content{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    height: 54rem;
    padding-top: 10rem;
    background-color: white;
    text-align: center;
    position: relative;
}



/*
.header-content::after{
    content: "";
    background-image: url("../img/people.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -13rem;
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-size: 110%;
}
*/

.header-content-text{
    width: 100%;
    margin-top: 0;
    text-align: center;
    z-index: 10;
}

.header-content-text > h3{
    font-size: 3.7rem;
    color: #0066f9;
    letter-spacing: -0.03125rem;
    font-weight: normal;
    line-height: initial;
    font-family: "DarwinPro-SemiBold";
}

.header-content-text > p{
    margin-top: 1.5rem;
    letter-spacing: -0.0234375rem;
    color: #2a333d;
    font-size: 2.4rem;
    max-width: 100%;
    line-height: initial;
    font-family: "SFPro";
    text-shadow: none;
}

.header-content-text > span{
    margin-top: .5rem;
    display: block;
    position: relative;
    font-size: 1.375rem;
    color: #2a333d;
    font-family: "SFPro";
}

.header-content-text > span:not(:last-child){
	margin-top: 1rem;
}

.header-content-image{
    width: 106rem;
    max-width: 100%;
    position: relative;
    top: 1rem;
    margin: 0 auto;
    background-image: url(../img/group-4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 54rem;
    z-index: 10;
}

.header-content-form{
	 margin-top: 3rem;
}

.header-content-form .form-group{
	 display: inline-block;
		max-width: 100%; 
}

.header-content-form .form-group > input{
	 padding: 1rem;
   width: 25rem;
   border: 1px solid #dddddd;
	border-radius: 4px;
	max-width: 100%;
}

.header-content-form .form-group > input:focus{
	border-color: #036bf5;
}

.header-content-form .form-group > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbbbbb;
}

.header-content-form .form-group > input::-moz-placeholder { /* Firefox 19+ */
  color: #bbbbbb;
}

.header-content-form .form-group > input:-ms-input-placeholder { /* IE 10+ */
  color: #bbbbbb;
}
.header-content-form .form-group > input:-moz-placeholder { /* Firefox 18- */
  color: #bbbbbb;
}

.header-content-form .btn{
	 display: inline-block;
   padding: 1rem 2rem;
   border-radius: 2rem;
   margin-left: 1rem;
}

section.promo{
    padding-bottom: 4rem;
}

.main-content{
    padding-top: 30rem;
    max-width: none;
    margin: 0;
}

.watch-btn{
	 	margin-top: 2rem;
}

.watch-btn-icon{
    width: 7rem;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    z-index: 10;
		text-align: center;
}

.watch-btn-icon:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-49%) translateY(-51%);
  display: block;
  width: 80px;
  height: 80px;
  background: #f1af3a;
  border-radius: 50%;
  animation: pulse-border 3000ms ease-out infinite;
}

.watch-btn-icon:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-49%) translateY(-51%);
  display: block;
  width: 80px;
  height: 80px;
  background: #FEC052;
  border-radius: 50%;
  transition: all 200ms;
}

.watch-btn-icon img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

@keyframes pulse-border {
  50%, 100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
	0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

}


.watch-btn-text{
    text-align: center;
    font-size: 1rem;
}

.watch-btn-text > p{
    margin-top: .9rem;
    font-family: "SFPro";
    color: #66666d;
}

.promo-text{
    padding-top: 3.5rem;
}

.promo-text > h3{
    text-align: center;
    font-size: 2.25rem;
    color: #0066f9;
    font-weight: normal;
    font-family: "DarwinPro-Semibold";
    letter-spacing: -0.03125rem;
}

.promo-text > h3 > span{
    display: block;
}

.promo-text > p{
    text-align: center;
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #66666d;
}

.promo-text > p > span{
    display: block;
}

section.hiring{
    background-color: #f6f8f9; 
}

div.section-inner{
    max-width: 80rem;
    margin: 0 auto;
}

section.hiring{
    padding-top: 5rem;
    padding-bottom: 4.6875rem;
}

.hiring-top > h3{
    font-size: 2.25rem;
    text-align: center;
    color: #2a333d;
    font-weight: normal;
    font-family: "DarwinPro-Semibold";
}

.hiring-top > p{
    margin-top: 1.25rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #66666d;
}

.hiring-top > p > span{
    display: block;
}

.hiring-features{
    padding-left: 13%;
    padding-right: 0;
    margin-top: 4.6785rem;
}

.hiring-features-list{
    display: flex;
}

.hiring-features-list:not(:first-child){
    margin-top: 1.56rem;
}

.hiring-features-list-mob{
    display: none;
}

.hiring-feature{
    width: 100%;
}

.hiring-feature > p{
    font-size: 1.25rem;
    display: inline-block;
    margin-left: .925rem;
    line-height: 1.5;
    color: #2a333d;
}

.hiring-feature > span{
    display: inline-block;
    background-image: url("../img/verified.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.125rem;
    height: 2.125rem;
    vertical-align: top;
}

.btn{
    font-size: 1.15rem;
    color: #ffffff;
    background-color: #036bf5!important;
    box-shadow: 0 5px 25px -7px #0b1440;
    transition: background 0.3s, box-shadow 0.3s;
    border: none;
    text-transform: capitalize;
}

.hiring-btn > .btn{
    border-radius: 1.875rem;
    width: 11.25rem;
    height: 3.75rem;
}

.hiring-btn{
    margin-top: 4.6rem;
    text-align: center;
}

section.features{
    padding-top: 4.375rem;
    padding-bottom: 6.75rem;
    padding-left: 5%;
    padding-right: 5%;
}

.features-header > h3{
    line-height: 1.3;
    max-width: 55rem;
    margin: 0 auto;
    font-size: 2.25rem;
    text-align: center;
    color: #0066f9;
    font-weight: normal;
    font-family: "DarwinPro-Semibold";
}

.features-header > h3 > span{
	display: block;
}

.features-list{
    margin: 0 auto;
    margin-top: 6.875rem;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 80rem;
}

.features-list:last-child{
    margin-top: 6.125rem;
}

.feature-item{
    width: 100%;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.feature-item:first-child{
    margin-left: 0;
}

.feature-item:last-child{
    margin-right: 0;
}

.feature-item-icon{
    width: 6.5rem;
    height: 6.25rem;
    margin: 0 auto;
    background-image: url("../img/time.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.feature-item-icon > img{
    width: 40%;
    margin: 0 auto;
    position: relative;
    top: calc(50% - 1.25rem);
}

.feature-item-text{
    text-align: center;
}

.feature-item-text > h4{
    max-width: 17rem;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-weight: normal;
    font-family: "SFPro-Medium";
    color: #2a333d;
}

.feature-item-text > p{
    font-size: 1rem;
    color: #66666D;
    line-height: 1.5;
    max-width: 22rem;
    margin: 0 auto;
    margin-top: 0.9375rem;
    color: #66666d;
}

section.resume{
    height: 46.875rem;
    position: relative;
}
.resume-items{
    width: 100%;
    height: 100%;
}
.resume-item{
    width: 100%;
    height: 46.875rem;
}
.resume-item:after{
    content: "";
    background-image: url("../img/resume1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.resume-item-inner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(69deg, rgba(24, 26, 29, 0.9), rgba(69, 80, 91, 0));
    z-index: 10;
}

.resume-item-inner-items{
    max-width: 80rem;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.resume-item-text{
    float: right;
    margin-top: 10.9375rem;
}

.resume-item-text > h3{
    font-size: 2rem;
    max-width: 33.5rem;
    color: #fff;
    line-height: normal;
    letter-spacing: normal;
    font-family: "DarwinPro-Semibold";
    font-weight: normal;
}

.resume-item-text > p{
    margin-top: 1.5625rem;
    color: #fff;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 33rem;
}

.resume-item-icon{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/play_small.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.75rem;
    height: 2.75rem;
    left: -0.25rem;
}

.resume-item-btn{
    margin-top: 2.5rem;
    cursor: pointer;
    width: auto;
}

.resume-item-btn > p{
    display: inline-block;
    color: #ffc052;
    vertical-align: middle;
    font-size: 1.25rem;
}

.resume-slide-btn.active{
    width: 0.875rem;
    height: 0.875rem;
    background-color: #1d7cff;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.resume-slide-btn{
    width: 0.375rem;
    height: 0.375rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    display: inline-block;
    vertical-align: middle;
}

.resume-slide-btns{
    position: relative;
    bottom: 3.75rem;
    right: 0;
    z-index: 10;
    width: 80rem;
    margin: 0 auto;
    text-align: right;
}

.resume-slide-btn:first-child{
    margin-left: 0!important;
}
.resume-slide-btn:last-child{
    margin-right: 0!important;
}

.header-slide-btn.active{
    width: 0.875rem;
    height: 0.875rem;
    background-color: #ffc052;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.header-slide-btn{
    width: 0.375rem;
    height: 0.375rem;
    background-color: #0593ff;
    border-radius: 50%;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    display: inline-block;
    vertical-align: middle;
}

.header-slide-btn:first-child{
    margin-left: 0!important;
}
.header-slide-btn:last-child{
    margin-right: 0!important;
}

.header-slide-btns{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

footer{
    background-color: #f6f8f9;   
    margin-top: 0;
    margin-bottom: 0;
}

.footer-main-left-bottom > span{
    top: 0;
}

.footer-main-left-bottom-lang .select-selected:after{
    content: '\f107';
    font-family: FontAwesome;
    font-size: 1.015625rem;
    color: #bebebe;
    display: inline-block;
    position: static;
    pointer-events: none;
    margin-left: 0.439063rem;
}

.footer-main-left-bottom-lang .select-items{
    top: calc(-300% + 30px);
}

.footer-demo-box{
    max-width: 100%;
    border-radius: 0;
    background-color: #fff;
    padding-top: 9rem;
    padding-bottom: 0;
    box-shadow: none;
}

.footer-demo-box > h2{
    color: #036bf5;
    width: 34.0625rem;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: "DarwinPro-Semibold";
}

.footer-bottom{
    margin-top: 5rem;
}

.header-slider{
    position: absolute;
    top: 11.35rem;
    max-height: 40rem;
    overflow: hidden;
    max-width: 68.65%;
    margin-left: 15.7%;
}

#videoPromoModal.modal{
    top: 6vh;
}

#videoPromoModal .modal-window{
    background-color: transparent;
    max-width: 100%;
}

#videoPromoModal .modal-window-content{
    width: 100%;
    padding: 0;
    height: 48.5rem;
    padding: 5%;
}

#videoPromoModal .modal-window-text{
    max-width: 100%;
    margin: 0;
    height: 100%;
}

#videoPromoModal .modal-close-btn{
    position: fixed;
    width: 1.35rem;
    top: 1.5rem;
    right: 3rem;
}

#videoPromoModal .modal-window-text > iframe{
    width: 100%;
    height: 100%;
    position: relative;
}

.footer-demo-box button{
    margin-right: 1rem;
    margin-left: 1rem;
	margin-top: 3.2%;
	width: 17.421875rem;
	max-width: 50%;
  padding-top: 0.775rem;
  padding-bottom: 0.775rem;
  border-radius: 2.125rem;
	border: none;	
  background-color: #ffc052;
  box-shadow: 0 0.15625rem 1.5625rem 0 rgba(11, 11, 11, 0.14);
	font-size: 1.09375rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: -0.0234375rem;
  text-align: center;
  color: #000000;
}

.footer-main-left-text{
    width: 100%;
    margin-top: 1rem;
}

.footer-main{
    max-width: 80rem;
    display: block;
    margin: 0 auto;
    margin-top: 3.4rem;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-main-left{
    width: 40%;
    margin-left: 0;
}

.footer-main-right{
    margin-right: 0;
}

.footer-main-right-links > h6{
    font-weight: normal;
    font-family: "SFPro-Semibold";
}

.footer-bottom{
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3.5%;
}

.footer-main-left-bottom{
	display: inline-block;
}

.footer-main-left-bottom-lang{
	display: inline-block;
}

.footer-main-left-bottom-lang > .custom-lang-select{
		top: 0;
    margin-left: 1.6015625rem;
}

.footer-main-left-bottom-lang > .custom-lang-select > .select-selected{
        line-height: 1.8;
        height: 3rem;
}

.footer-demo-box-bottom{
	  margin-top: 10rem;
}

/*
.footer-main-left-bottom > span{
    top: 0; 
    margin-left:0; 
}
*/

/******Schedule Demo******/
#scheduleModal.modal .modal-window, #subscribeModal.modal .modal-window{
    max-width: 65%;
}

#scheduleModal .modal-window-content, #subscribeModal .modal-window-content{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
#subscribeModal .modal-window-content{
    width: 70%;
}
#scheduleModal .modal-window-form, #subscribeModal .modal-window-form{
    padding-bottom: 5%;
    width: 100%;
    padding-top: 0;
}

#scheduleModal .modal-window-form .row:last-child, #subscribeModal .modal-window-form .row:last-child{
    margin-bottom: 0;
}

#subscribeModal .row{
    margin-bottom: 1.25rem;
}

#subscribeModal .modal-window-form .row:nth-child(2){
    margin-top: 0;
}

#subscribeModal form{
    width: 100%;
}

#subscribeModal .modal-radio-btn{
    display: flex;
    
}
#subscribeModal .modal-radio-btn:last-child{
    margin-left: 1rem;
}

#subscribeModal .modal-radio-btn > input{
    width: auto;
    padding: 0;
    line-height: normal;
}

#subscribeModal .modal-window-image{
    width: 30%;
}
#subscribeModal .modal-window-leftimg-box{
    width: 75%;
    margin: 0 auto;
    margin-top: 20%;
}

.header-top-mob > a{
    color: #0066f9;
}

#homeSubscribeRole .modal-window{
	  max-width: 50%;
    background-color: transparent;
}
#homeSubscribeRole .modal-window-content{
    width: 100%;
    padding: 5%;
    padding-top: 8%;
    padding-bottom: 6%;
}
#homeSubscribeRole .modal-window-form{
	  width: 100%;
}
#homeSubscribeRole .form-group{
	width: 100%;
}
#homeSubscribeRole .modal-radio-btn{
		width: 50%;
    display: block;
}
#homeSubscribeRole .modal-radio-btn > input{
	   width: auto;
    display: inline-block;
    padding-top: 1.75rem;
    padding-bottom: 2px;
    line-height: 2;
    top: -.4rem;
}
#homeSubscribeRole .modal-radio-btn > label{
		width: auto;
		display: inline-block;
    margin-left: .5rem;
		font-size: 2rem;
}
#homeSubscribeRole .submit-btn{
	  margin-left: auto;
    margin-right: auto;
}
#homeSubscribeRole .modal-window-form .row:last-child{
	    margin-bottom: 0;
        margin-top: 0;
    width: 100%!important;
}

#homeSubscribeRole .home_subscribe_form > .row:not(:last-child){
    opacity: 0;
    visibility: hidden;
    height: 0;
}

#homeSubscribeRole .modal-window-form .row:last-child .form-group{
    width: 49%;
    display: inline-block;
    text-align: center;
}

#homeSubscribeRole .modal-window-form .row:last-child .form-group > .role-btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
}

#homeSubscribeRole .modal-window-form .row:last-child .form-group:first-child > .role-btn{
    background-color: #5abe80!important;
}



/***********************/
/********English********/
/**********************/
/********Russian*******/
body.ru-lang .header-content-text > h3{
    font-family: "HelveticaKiril-Bold";
    font-weight: normal;
		font-size: 2.99rem;
}

body.ru-lang .promo-text > h3{
    font-weight: normal;
    font-family: "HelveticaKiril-Medium";
}

body.ru-lang .hiring-top > h3{
    font-family: "HelveticaKiril-Medium";
    font-weight: normal;
}

body.ru-lang .features-header > h3{
    font-weight: normal;
    font-family: "HelveticaKiril-Medium";
    max-width: 62rem;
}

body.ru-lang .resume-item-text > h3{
    font-family: "HelveticaKiril-Medium";
    font-weight: normal;
}

body.ru-lang .footer-demo-box > h2{
    font-weight: normal;
}

body.ru-lang .footer-demo-box > h2 > b{
    font-weight: normal;
    font-family: "HelveticaKiril-Bold";
}
/**********************/
/********Azeri*********/
body.az-lang .header-content-form .form-group > input{
	   width: 36rem;
}
body.az-lang .header-content-text > h3{
	font-size: 3.4rem;
}
body.az-lang .footer-demo-box > h2{
		width: 43.0625rem;
    line-height: 1.5;
	  font-size: 2.5rem;
}
/**********************/

@media only screen and (max-width: 1670px){
    .header-content-image{
        width: 80rem;
        height: 34rem;
    }
    .header-slider{
        top: 7.75rem;
        max-height: 27rem;
        max-width: 61.65%;
        margin-left: 19.25%;
    }
    .header-slide-btns{
        bottom: -2.5rem;
    }
    .main-content{
        padding-top: 12rem;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 1220px){
    .header-content-image{
        width: 72rem;
    }
    .header-slider{
        max-width: 68.6%;
        margin-left: 15.75%;
    }
}
@media only screen and (max-width: 1220px){
    .header-content-image{
        background-image: none;
        max-width: 100%;
        width: 90%;
        height: inherit;
        top: 2rem;
    }
    .header-slider {
        top: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        height: 100%;
        max-height: 100%;
    }
    body.az-lang .main-content{
			padding-top: 15rem;
    }
    .header-slide-btns{
        display: none;
    }
}

@media only screen and (max-width: 1140px){
/*
    .header-content-image{
        width: 70rem;
        height: 29rem;
    }
    .header-slider {
        top: 7.25rem;
        max-height: 19.75rem;
        max-width: 50.15%;
        margin-left: 25%;
    }
*/
/*
    .main-content{
        padding-top: 8rem;
    }
		body.az-lang .main-content{
			 padding-top: 10rem;
		}
*/
    body.en-lang .hiring-feature > p{
        font-size: 1.1rem;
        margin-left: .125rem;
        line-height: 1.8;
    }
}

@media only screen and (max-width: 1035px) {
    .header-content-image{
        display: block;
    }
    .header-top{
        position: relative;
        box-shadow: none!important;
    }
    .header-content{
        width: 90%;
        margin: 0 auto;
        padding-top: 4rem;
    }
    body.az-lang .main-content {
        padding-top: 6rem;
    }
    body.en-lang .main-content {
        padding-top: 6rem;
    }
}

@media only screen and (max-width: 990px) {
    
/*
    .header-slider{
        top: 1rem;
        max-height: 31.75rem;
        max-width: 94%;
        margin-left: 3%;
    }
*/
    .header-slide-btns{
        display: none;
    }
    .header-content{
        width: 90%;
        margin: 0 auto;
        padding-top: 4rem;
    }
    div.section-inner{
        max-width: initial;
        width: 90%;
        margin: 0 auto;
    }
    .features-header{
        width: 90%;
        margin: 0 auto;
    }
    .features-header > h3{
        font-size: 2rem;
    }
    .features-list{
        display: block;
        max-width: 90%;
    }
    .feature-item{
        margin-top: 3rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .feature-item-text > h4, .feature-item-text > p {
        max-width: 90%;
    }
    .hiring-feature > p{
        font-size: 1rem;
    }
    .hiring-features-list-mob{
        display: block;
        margin-top: 1.56rem;
    }
    .hiring-features-list:not(.hiring-features-list-mob){
        display: none;
    }
    .hiring-feature{
        width: 49%;
        display: inline-block;
    }
    .main-content{
        padding-top: 0;
    }
    .features-header > h3 > span{
        display: inline;
    }
    #homeSubscribeRole .modal-window-form .row:last-child .form-group{
        width: 100%;
        display: block;
    }
    #homeSubscribeRole .modal-window-form .row:last-child .form-group:last-child{
        margin-top: 1rem;
    }
    body.en-lang .main-content{
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 850px) {
	body.az-lang .header-content-form .btn{
		margin-left: 0;
		margin-top: 1rem;
	}
}

@media only screen and (max-width: 768px) {
    .header-content-text > h3{
        font-size: 3rem;
    }
		body.az-lang .header-content-text > h3{
        font-size: 2.8rem;
    }
    .header-content-text > p{
        font-size: 1.8rem;
    }
    .header-content-text > span{
        font-size: 1.15rem;
    }
    .btn{
        font-size: 1rem;
    }
    .header-content-form .form-group > input{
        font-size: .9rem;
        width: 23rem;
    }
    .footer-demo-box > h2{
        font-size: 2rem;
    }
    .footer-demo-box button{
        width: 14.421875rem;
        font-size: 1rem;
    }
    .header-content-image{
        width: 100%;
    }
    body.az-lang .main-content{
        padding-top: 0;
    }
    body.en-lang .main-content{
        padding-top: 0;
    }
}

@media only screen and (max-width: 630px) {
    .header-content-form .btn{
        margin-top: 1rem;
				margin-left: 0;
    }
	.hiring-feature{
        width: 100%;
        display: block;
    }
    .hiring-feature:last-child{
        margin-top: 1.5rem;
    }
    .hiring-feature > p{
        font-size: 1.1rem;
    }
    .hiring-feature > span{
        width: 1.75rem;
        height: 1.75rem;
    }
}

@media only screen and (max-width: 500px) {
    #homeSubscribeRole .modal-window-content{
        padding-top: 25vh;
    }
}

@media only screen and (max-width: 433px) {
    body.az-lang .main-content{
        padding-top: 5rem;
    }
}

@media only screen and (max-width: 425px) {
    .header-content-text > h3{
        font-size: 2.05rem;
    }
    body.ru-lang .header-content-text > h3{
        font-size: 2.05rem;
    }
    body.az-lang .header-content-text > h3{
        font-size: 2.05rem;
    }
    .header-content-text > p{
        font-size: 1.15rem;
    }
    .header-content-text > span{
        font-size: .9rem;
        display: inline;
        margin-top: 0;
        line-height: 1.25;
        top: 1rem;
    }
    .footer-demo-box > h2{
        font-size: 1.25rem;
    }
    .footer-demo-box button{
        width: 14.421875rem;
        font-size: 1rem;
    }
    footer{
        margin-bottom: -5%!important;
    }
    main{
        margin-bottom: 10%;
    }
    .main-content{
        margin-top: -16rem;
    }
    body.ru-lang .main-content{

    }
    body.az-lang .main-content {
        padding-top: 0;
        margin-top: -12rem;
    }
    .resume-item:after{
        background-position-x: -12rem;
    }
    .footer-demo-box{
        padding-top: 0;
    }
	.header-content-form{
		max-width: 100%;
	}
	.header-content-form .form-group{
		max-width: 100%;
	}
	.header-content-form .form-group > input{
		max-width: 100%;
		font-size: .7rem!important;
	}
    .btn{
        font-size: .85rem;
        padding: .85rem 1.25rem!important;
    }
    .promo-text > h3{
        font-size: 1.75rem;
    }
    .promo-text > p{
        font-size: .9rem;
    }
    .promo-text > p > span{
        display: inline;
    }
    .watch-btn-text{
        font-size: .9rem;
    }
    .hiring-top > h3{
        font-size: 1.8rem;
    }
    .hiring-top > p{
        font-size: .9rem;
    }
    .hiring-top > p > span{
        display: inline;
    }
    .hiring-features{
        margin-top: 2.6785rem;
    }
    .hiring-btn > .btn{
        width: auto;
        height: auto;
    }
    .features-header > h3, .resume-item-text > h3{
        font-size: 1.8rem;
    }
    .footer-demo-box > h2{
        font-size: 1.8rem;
        line-height: 1.3;
    }
    body.az-lang .footer-demo-box > h2{
        font-size: 1.8rem;
        line-height: 1.3;
    }
    .btn-group{
        margin-top: 1rem;
    }
    .footer-demo-box button{
        width: 9.421875rem;
        font-size: .85rem;
        line-height: 1.5;
    }
    .footer-demo-box-bottom{
        margin-top: 7rem;
    }
    section.promo{
        padding-bottom: 2rem;
    }
    section.hiring{
        padding-top: 2rem;
        padding-bottom: 1.6875rem;
    }
    section.features{
        padding-top: 2.375rem;
        padding-bottom: 3.75rem;
    }
    .features-list:last-child{
        margin-top: 4.125rem;
    }
    .hiring-btn{
        margin-top: 2.6rem;
    }
    .hiring-features{
        padding-left: 0;
    }
    .hiring-feature > p{
        margin-left: 0.5rem;
    }
    .feature-item-text > h4{
        font-size: 1.15rem;
    }
    .feature-item-text > p{
        font-size: .9rem;
    }
    .resume-item-text > p{
        font-size: .9rem;
    }
    body.ru-lang .promo-text{
        padding-top: 4rem;
    }
}

@media only screen and (max-width: 355px) {
    .main-content{
            margin-top: -20rem;
    }
    body.ru-lang .main-content{
            margin-top: -15rem;
    }
    body.az-lang .main-content {
        padding-top: 0;
        margin-top: -14rem;
    }
    .resume-item:after{
        background-position-x: -13.5rem;
    }
    body.az-lang .header-content-text > h3{
        font-size: 2rem;
    }
}