@charset "UTF-8";
/*
––––––––––––––––––––––––––––––––––––––––––––––––––
Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- 1. Common Styles & Initials
- 2. General
- 3. Loader
- 4. Map
- 5. Left ( Logo, Menu )
- 6. Content
- 7. Counters
- 8. Works
- 9. Clients
- 10. Works
- 11. Team
- 12. Services
- 13. Slider
- 14. Responsive
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/***********/
/***fonts***/
@font-face {
	font-family: 'SFPro';
	src: url('fonts/SF-Pro-Text-Regular.eot');
	src: local('☺'), url('../fonts/SFPro/SF-Pro-Text-Regular.woff') format('woff'), url('../fonts/SFPro/SF-Pro-Text-Regular.ttf') format('truetype'), url('../fonts/SFPro/SF-Pro-Text-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold-Italic';
    src: url('../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium-Italic';
    src: url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Thin-Italic';
    src: url('../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Condensed-Bold';
    src: url('../fonts/Roboto/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black-Italic';
    src: url('../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url('../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaLatin-Black';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-Black.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-Thin';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-UltraLightItalic';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-UltraLightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaLatin-Condensed';
    src: url('../fonts/HelveticaLatin/HelveticaNeueCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeueCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-CondensedMedium';
    src: url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin';
    src: url('../fonts/HelveticaLatin/HelveticaNeue.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-CondensedLight';
    src: url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Light.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-ThinItalic';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-ThinItalic.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaLatin-UltraLight';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-Medium';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-CondensedThin';
    src: url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-Italic';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-Italic.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaLatin-CondensedHeavy';
    src: url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Heavy.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-Light';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-Light.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-Bold';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-CondensedBold';
    src: url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeueCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLatin-BoldItalic';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaLatin-LightItalic';
    src: url('../fonts/HelveticaLatin/HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('../fonts/HelveticaLatin/HelveticaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaKiril-Black';
    src: url('../fonts/HelveticaKiril/HelveticaBlack/HelveticaBlack.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaBlack/HelveticaBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaKiril-Thin';
    src: url('../fonts/HelveticaKiril/HelveticaThin/HelveticaThin.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaThin/HelveticaThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaKiril-UltraLightItalic';
    src: url('../fonts/HelveticaKiril/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaKiril';
    src: url('../fonts/HelveticaKiril/HelveticaRegular/HelveticaRegular.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaRegular/HelveticaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaKiril-ThinItalic';
    src: url('../fonts/HelveticaKiril/HelveticaThinItalic/HelveticaThinItalic.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaThinItalic/HelveticaThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaKiril-UltraLight';
    src: url('../fonts/HelveticaKiril/HelveticaUltraLight/HelveticaUltraLight.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaUltraLight/HelveticaUltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaKiril-Medium';
    src: url('../fonts/HelveticaKiril/HelveticaMedium/HelveticaMedium.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaMedium/HelveticaMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaKiril-Italic';
    src: url('../fonts/HelveticaKiril/HelveticaItalic/HelveticaItalic.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaItalic/HelveticaItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaKiril-Light';
    src: url('../fonts/HelveticaKiril/HelveticaLight/HelveticaLight.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaLight/HelveticaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaKiril-Bold';
    src: url('../fonts/HelveticaKiril/HelveticaBold/HelveticaBold.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaBold/HelveticaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaKiril-BoldItalic';
    src: url('../fonts/HelveticaKiril/HelveticaBoldItalic/HelveticaBoldItalic.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaBoldItalic/HelveticaBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaKiril-LightItalic';
    src: url('../fonts/HelveticaKiril/HelveticaLightItalic/HelveticaLightItalic.woff2') format('woff2'),
        url('../fonts/HelveticaKiril/HelveticaLightItalic/HelveticaLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


/***********/

.color_white {
  color: #fff; }

.color_black {
  color: #0b1440; }

.color_blue {
  color: #4f6dff; }

.color_red {
  color: #E52C4B; }

.color_grey {
  color: #6f7a82; }

.color_lightgrey {
  color: #b3b9be; }

.background_white {
  background: #fff; }

.background_black {
  background: #0b1440 !important; }

.background_dark {
  background: #303030 !important; }

.background_blue {
  background: #4f6dff; }

.background_grey {
  background: #6f7a82; }

.background_red2 {
  background: linear-gradient(to right, #E52C4B, #D02744) !important; }

.background_purple {
  background: linear-gradient(to right, #4d2aaa, #3f228a) !important; }

.bg_no {
  background: none !important; }

.background_pattern {
  position: relative;
  background: #1c1c4c !important; }
  .background_pattern::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/img.jpg") no-repeat;
    background-size: cover;
    background-position: center; }

.bg_img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%; }
  .bg_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .bg_img img.c {
    object-fit: contain;
    object-position: bottom; }

.bg_adv {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%; }
  .bg_adv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.adv .d_table_v {
  padding: 0; }

.opacity_5 {
  opacity: 0.5; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4; }

.letter-spacing_1 {
  letter-spacing: 1px; }

.img_shadow {
  box-shadow: 0 3px 35px -15px #000; }

.text_shadow {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }

/*
––––––––––––––––––––––––––––––––––––––––––––––––––
1. Common Styles & Initials
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  overflow: hidden; }

::-webkit-scrollbar {
  display: none; }

*:focus {
  outline: none !important;
  box-shadow: none !important; }

body {
  font-family: "SFPro", "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  overflow: hidden;
    overflow-y: scroll;
  color: #0b1440;
  background: #000; }

ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

.list-group-item {
  padding: 10px 15px 10px 0;
  background: none;
  border: none; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

.overlay_black_25 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.25; }

.overlay_black_5 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5; }

.overlay_black_8 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8; }

.overlay_blue_25 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e1958;
  opacity: 0.25; }

.overlay_blue_5 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e1958;
  opacity: 0.5; }

.overlay_blue_8 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e1958;
  opacity: 0.8; }

.overlay_p2_t_8 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, black, #153a40, transparent);
  opacity: 0.8; }

.space_5 {
  height: 5vh;
  width: 100%;
  display: table; }

.space_10 {
  height: 10vh;
  width: 100%;
  display: table; }

.space_15 {
  height: 15vh;
  width: 100%;
  display: table; }

.space_20 {
  height: 20vh;
  width: 100%;
  display: table; }

.icon_25 {
  width: 25px;
  margin-right: 10px; }

.serif {
  font-family: 'Playfair Display', serif; }
  .serif .font_bold {
    font-weight: bold; }

.font_bold {
  font-weight: 700; }

.font_semibold {
  font-weight: 600; }

.font_light {
  font-weight: 200; }

.no_padding {
  padding: 0; }

.btn {
  padding: 0 25px;
  line-height: 40px;
  color: #fff;
  background: #4f6dff;
  box-shadow: 0 5px 25px -7px #0b1440;
  transition: background 0.3s, box-shadow 0.3s;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 50px;
  display: table;
  position: relative;
  z-index: 9; }
  .btn:hover, .btn:focus {
    color: #fff;
    background: #032eff;
    box-shadow: 0 5px 40px -5px #0b1440; }
  .btn.left_l {
    float: left; }

.d_table {
  display: table;
  width: 100%;
  height: 100%; }

.d_table_v {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 0 7vw; }

#particles {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video_backgound {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .video_backgound video {
    min-width: 100%;
    min-height: 100%;
    position: relative; }

.bg_video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }
  .bg_video video {
    min-width: 100vw;
    min-height: 100vh; }

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99; }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  pointer-events: none; }

.video_play {
  position: relative;
  width: 110%;
  height: 100vh;
  transform: skew(-5deg); }
  .video_play:hover .overlay {
    background: rgba(0, 0, 0, 0.75); }
  .video_play img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .video_play .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: background 0.5s; }
  .video_play .play_btn {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    top: calc(50vh - 30px);
    left: calc(50% - 30px);
    background: url("../img/play.png") no-repeat;
    background-size: contain;
    box-shadow: 0 0 30px -5px #0b1440;
    border-radius: 60px;
    cursor: pointer;
    transform: skew(5deg); }

.video_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 99999; }
  .video_popup.on {
    opacity: 1;
    visibility: visible;
    transition: width 0.5s, height 0.5s, opacity 0.5s; }
  .video_popup .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; }
    .video_popup .bg-video video {
      min-width: 100vw;
      min-height: 100vh; }
  .video_popup .vodeo_popup_close {
    position: fixed;
    cursor: pointer;
    z-index: 999999;
    top: 70px;
    right: 22px;
    box-shadow: 0 0 20px -7px #0b1440;
    color: #fff;
    width: 37px;
    height: 19px;
    border-radius: 50%;
    opacity: .85;
    text-align: center;
}
.video_popup .vodeo_popup_close .close-icon{
    width: 19px;
    height: 26px;
    margin: 0 auto;
}
.video_popup .vodeo_popup_close > span{
    display: block;
    font-family: 'Roboto-Medium';
    font-size: 14.25px;
}
    .video_popup .vodeo_popup_close i {
      font-size: 2.5em!important;
      display: block; }
    .video_popup .vodeo_popup_close.close {
      opacity: 1;
      text-shadow: none; }

#smoky {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#bg_triangle {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#canvas-wave {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000; }

.big {
  font-size: 8vmax;
  line-height: 1;
  margin: 0;
  position: relative;
  z-index: 1; }

.big2 {
  font-size: 4vmax;
  line-height: 1;
  margin: 0;
  position: relative;
  z-index: 1; }

.big3 {
  font-size: 6vmax;
  line-height: 1;
  margin: 0;
  position: relative;
  z-index: 1; }

.big4 {
  font-size: 9vmax;
  line-height: 1;
  margin: 0;
  position: relative;
  z-index: 1; }

.title_adv {
  position: relative;
  font-size: 14vmax;
  background-image: linear-gradient(to right, #bdcfdd, rgba(189, 207, 221, 0.75), transparent, rgba(189, 207, 221, 0.75), #bdcfdd);
  color: transparent;
  -webkit-background-clip: text; }

.subtitle_adv {
  position: absolute;
  z-index: 1;
  top: calc(50% - 45px);
  left: calc(50% - 55px);
  font-size: 2vmax;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 1px 3px #0b1440; }

.social_list {
  position: absolute;
  width: 90px;
  bottom: 120px; }
  .social_list li {
    margin: 5px 0; }
    .social_list li:nth-child(1) {
      color: #3b5998; }
    .social_list li:nth-child(2) {
      color: #55acee; }
    .social_list li:nth-child(3) {
      color: #007bb5; }

.btn_subscribe_on {
  position: fixed;
  z-index: 98;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 20px -7px #0b1440;
  color: #fff;
  width: 94px;
  height: 88px;
  border-radius: 0;
  padding: 15px 10px;
  display: block; }
  .btn_subscribe_on i {
    display: block; }
  .btn_subscribe_on.close {
    opacity: 1;
    text-shadow: none; }

.subscribe_on {
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: -700px;
  width: 700px;
  padding: 25px 0 0;
  margin-bottom: 1%;
  border-radius: 20px;
  background: #fff;
  transition: right 1s; }
  .subscribe_on.on {
    right: 1%;
    opacity: 1;
    box-shadow: 0 0 50px -10px #0b1440; }
.subscribe-close-btn{
    position: absolute;
    top: -3rem;
    right: 0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
.subscribe {
  width: 100%;
  margin: 0;
  padding: 31px;
  position: relative;
  text-align: left;
  margin: 0;
  display: table;
  z-index: 99; }
/*
  .subscribe::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -130px;
    left: 0;
    width: 500px;
    min-height: 300px;
    margin: 0 auto;
    padding: 0 10%;
    background: url("../img/subscribe.svg") no-repeat;
    background-size: contain;
    background-position: top; }
*/
.subscribe-image{
    width: 30%;
    padding-right: 0;
}
.subscribe-image > img{
    width: 80%;
}
.subscribe_form .controls{
    width: 70%;
    padding-left: 0;
}

  .subscribe::after {
    content: 'SUBSCRIBE';
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -100px;
    font-size: 100px;
    font-weight: 700;
    color: #bdcfdd;
    opacity: 0.1; }
  .subscribe .subscribe_form {
    width: 100%;
    position: relative;
    z-index: 1; }
    .subscribe .subscribe_form.tr #mail-subscribe {
      border: 1px solid #fff; }
    .subscribe .subscribe_form label {
      margin-bottom: 15px;
      letter-spacing: 0.5px;
      font-size: 55px;
      text-transform: uppercase; }
    .subscribe .subscribe_form #mail-subscribe {
    width: 95%;
    height: 20px;
    padding: 0;
    line-height: normal;
    background: none;
    box-shadow: none;
    transition: box-shadow 0.3s, border 0.3s;
}
    .subscribe .subscribe_form .submit {
      border-radius: 24px;
      font-size: 12px;
      margin: 0!important;
      display: block; 
}
.subscribe .subscribe_form .submit:hover, .subscribe .subscribe_form .submit:active, .subscribe .subscribe_form .submit:focus{
    color: white;
}

.countdown {
  width: 100%; }
  .countdown ul#countdown {
    padding: 0; }
    .countdown ul#countdown.color_black li {
      border: 1px solid rgba(0, 0, 0, 0.15); }
    .countdown ul#countdown.color_white li {
      border: 1px solid rgba(255, 255, 255, 0.15); }
    .countdown ul#countdown li {
      display: inline-block;
      margin: 0;
      padding: 25px 0;
      line-height: 1;
      min-width: 110px;
      border: 1px solid rgba(111, 122, 130, 0.15);
      margin-left: -1px;
      text-align: center;
      font-size: 14px; }
      .countdown ul#countdown li span {
        font-size: 32px;
        font-weight: 600; }

.loader_bg {
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 100%; }

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px); }
  .loader:before, .loader:after {
    content: '';
    border: 1em solid #ddd;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0; }
  .loader:before {
    animation-delay: .5s; }

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }
#google-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #e7eaf0; }

#cd-google-map {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: calc(50% - 45px);
  height: 100vh; }

#cd-zoom-in, #cd-zoom-out {
  display: none;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #4f6dff;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg"); }

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #4f6dff; }

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px; }

#cd-zoom-out {
  background-position: 50% -32px; }

.left {
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: #fff;
  box-shadow: 0 0 20px -10px #000000; }
  .left .title_page {
    font-size: 14px;
    font-weight: 600;
    color: #0b1440;
    position: absolute;
    transform: rotate(270deg);
    top: calc(50vh - 45px);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    width: 300px;
    left: -115px;
    height: 90px;
    line-height: 90px; }

.brand {
  width: 90px;
  height: 90px;
  text-align: center;
  display: table; }
  .brand h1 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-size: 45px; }

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 60px;
  border-top: 1px solid #bdcfdd;
  cursor: pointer; }
  .menu .menu-icon {
      top: 22px;
    width: 20px;
    height: 12px;
    position: relative;
    transition: opacity 0.5s;
    margin: 0 auto; }
    .menu .menu-icon:after, .menu .menu-icon:before, .menu .menu-icon span {
      width: 100%;
      height: 2px;
      border-radius: 100px;
      position: absolute;
      left: 0;
      background: #fff; }
    .menu .menu-icon:after, .menu .menu-icon:before {
      content: ""; }
    .menu .menu-icon:after {
      top: 0;
      margin-top: 0;
      transition: transform 0.2s, 0.2s; }
    .menu .menu-icon:before {
      bottom: 0;
      margin-bottom: 0;
      transition: transform 0.2s, 0.2s; }
    .menu .menu-icon span {
      top: 50%;
      left: 0;
      margin-top: -0.06em;
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s, width 0.2s, left 0.2s; }
    .menu .menu-icon.on:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 50%;
      margin-top: -1px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .menu .menu-icon.on:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 50%;
      margin-bottom: -1px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .menu .menu-icon.on span {
      visibility: hidden;
      opacity: 0; }
    .menu .menu-icon:hover {
      opacity: 0.5; }
      .menu .menu-icon:hover span {
        width: 100%;
        left: 0; }
    .menu .menu-icon.black:after, .menu .menu-icon.black:before, .menu .menu-icon.black span {
      background: #0b1440; }

.menu_opened {
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 5;
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
  height: 100vh;
  box-shadow: inset 20px 0 25px -30px;
  display: table;
  border-right: 1px solid #f7f7f7;
  transition: left 1s; }
  .menu_opened ul {
    display: table-cell;
    vertical-align: middle;
    padding: 0; }
    .menu_opened ul li {
      margin: 10px 0; }
  .menu_opened.on {
    left: 70px; }

.content {
  position: relative;
  z-index: 0;
  left: 70px;
  background: #f7f7f7;
  width: calc(100% - 70px);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0.5s;
  color: #6f7a82; }
  .content.opacity {
    opacity: 0.5; }
  .content.boxS {
    box-shadow: inset 0 0 50px -25px #000; }
  .content .padding {
    padding: 5%; }

.content_left {
  float: left;
  width: 50%;
  height: 100vh;
  position: relative; 
  overflow-y: auto!important;
}
  .content_left .content_left_content {
    width: 50vw; }
    .content_left .content_left_content .btn {
      float: left; }
  .content_left .contact_info {
    position: absolute;
/*    bottom: 30px; */
}

.content_right {
  float: right;
  width: 50%;
  height: 100vh;
  position: relative; }
  .content_right.v2 {
    width: 65%;
    position: absolute;
    right: 0; }

.contact {
  background: #212329;
  height: 100vh;
  overflow-y: scroll;
  color: #fff; }
  .contact #contact-form {
    text-align: left; }
    .contact #contact-form .form-group .form-control {
      line-height: 45px;
      height: 45px;
      width: 100%;
      background: none;
      display: block;
      margin: 5px 0 0;
      padding: 0 10px;
      transition: box-shadow 0.3s, border 0.3s; }
      .contact #contact-form .form-group .form-control:focus {
        box-shadow: 0 2px 35px -10px #4f6dff !important;
        border: 1px solid #4f6dff !important; }
    .contact #contact-form .form-group textarea {
      min-height: 150px !important;
      resize: none; }

.bg_counters {
  width: 100%;
  background: url("http://worldrenew.net/sites/default/files/iStock-515606836.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

.counters {
  text-align: center;
  display: table;
  width: 100%;
  padding: 5% 0; }
  .counters .counter {
    width: 25%;
    margin: 0;
    padding: 35px 0;
    position: relative;
    transition: 0.5s;
    display: inline-block;
    float: left;
    color: #fff; }
  .counters img {
    height: 75px;
    margin: 0 auto 25px; }
  .counters .timer.count-title.count-number {
    line-height: 1;
    font-weight: bold;
    font-size: 32px; }

.portfolio-filters {
  padding: 0 20px; }
  .portfolio-filters ul li {
    margin-right: 30px;
    padding: 0; }
    .portfolio-filters ul li a {
      display: inline-block;
      transition: all 0.3s ease;
      padding: 0;
      color: #6f7a82;
      font-size: 13px; }
      .portfolio-filters ul li a.active, .portfolio-filters ul li a:hover {
        color: #4f6dff; }
    .portfolio-filters ul li:last-child {
      font-weight: 500;
      margin-right: 0; }

.portfolio {
  padding-bottom: 0 !important; }
  .portfolio #Portfolio {
    padding: 0; }
  .portfolio .portfolio-item,
  .portfolio .portfolio-sizer {
    width: 25%; }
  .portfolio .project-image {
    padding: 15px;
    height: 250px; }
  .portfolio .portfolio-item {
    float: left;
    height: 250px; }
    .portfolio .portfolio-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
      border-radius: 6px; }
  .portfolio .portfolio-item--width2 {
    width: 50%; }
  .portfolio .portfolio-item.portfolio-item--height2 {
    height: 500px; }
    .portfolio .portfolio-item.portfolio-item--height2 .project-image {
      height: 500px; }
    .portfolio .portfolio-item.portfolio-item--height2 img {
      height: 100%;
      border-radius: 6px; }

.owl-carousel-t {
  position: relative;
  height: 516px;
  width: 1300px;
  display: table;
  top: 0; }
  .owl-carousel-t::before {
    content: '';
    position: absolute;
    left: 82px;
    top: 0;
    z-index: -1;
    background: #4f6dff;
    width: 100vw;
    height: 516px; }
  .owl-carousel-t .owl-item {
    padding-top: 60px; }
  .owl-carousel-t .item {
    background: #fff;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 2px 45px -15px #0b1440;
    margin: 20px; }
    .owl-carousel-t .item .info {
      width: 100%;
      display: inline-block;
      margin-bottom: 15px; }
      .owl-carousel-t .item .info img {
        width: 80px;
        height: 80px;
        margin-right: 15px; }
      .owl-carousel-t .item .info p {
        margin: 15px 0 0; }
      .owl-carousel-t .item .info span {
        color: #6f7a82;
        font-size: 12px; }
  .owl-carousel-t .owl-dots {
    position: absolute;
    left: -270px;
    bottom: 5px; }
  .owl-carousel-t .owl-nav {
    width: 85px;
    position: absolute;
    bottom: 0;
    left: -261px; }
    .owl-carousel-t .owl-nav i {
      font-size: 12px;
      color: #6f7a82; }
    .owl-carousel-t .owl-nav .owl-prev {
      left: -55px;
      position: relative; }
  .owl-carousel-t .owl-nav [class*=owl-] {
    background: none; }
  .owl-carousel-t .owl-nav [class*=owl-]:hover {
    background: none;
    color: #6f7a82; }
  .owl-carousel-t .owl-dots .owl-dot.active span, .owl-carousel-t .owl-dots .owl-dot:hover span {
    background: #4f6dff; }
  .owl-carousel-t .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin-left: 4px;
    margin-right: 4px; }

.team p {
  margin: 0; }
.team .col-xs-6.col-md-3 {
  margin-bottom: 10vh; }

.services .service:nth-child(1) {
  margin-bottom: 10vh; }
.services .service:nth-child(2) {
  margin-bottom: 10vh; }
.services .service:nth-child(3) {
  margin-bottom: 10vh; }
.services .service:nth-child(4) {
  margin-bottom: 10vh; }
.services .service img {
  width: 50px; }

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: calc(100% - 90px);
  right: 0;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1); }
  .background.o75:before {
    background-color: rgba(0, 0, 0, 0.75); }
  .background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .background:first-child {
    background-image: url("../img/img.jpg");
    background-position: bottom;
    transform: translateY(-15vh); }
    .background:first-child .content-wrapper {
      transform: translateY(15vh); }
  .background:nth-child(2) {
    background-image: url("../img/img.jpg"); }
  .background:nth-child(3) {
    background-image: url("../img/img.jpg"); }

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3; }

.background:nth-child(2) {
  z-index: 2; }

.background:nth-child(3) {
  z-index: 1; }

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.2, 0.44, 0, 1); }
.content-title {
  font-size: 9vmax;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -2px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); }
.content-subtitle {
  letter-spacing: 1px;
  margin: 25px auto 50px;
  width: 80%; }

.background.up-scroll {
  transform: translate3d(0, -15vh, 0); }
  .background.up-scroll .content-wrapper {
    transform: translateY(15vh); }
  .background.up-scroll + .background {
    transform: translate3d(0, 30vh, 0); }
    .background.up-scroll + .background .content-wrapper {
      transform: translateY(30vh); }

.background.down-scroll {
  transform: translate3d(0, -130vh, 0); }
  .background.down-scroll .content-wrapper {
    transform: translateY(40vh); }
  .background.down-scroll + .background:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0); }
    .background.down-scroll + .background:not(.down-scroll) .content-wrapper {
      transform: translateY(15vh); }

/* Scroll to effect */
.animate {
  opacity: 0; }

.animate.start {
  opacity: 1; }

/* Scroll to effect */
.animate {
  animation-play-state: paused;
  -webkit-animation-play-state: paused; }

.animate.start {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  animation-play-state: running;
  -webkit-animation-play-state: running; }


/*************************/
/***Custom***/

.content_left_content .font_bold.big{
    font-size: 51px;
    color: #036bf5;
    font-family: "DarwinPro-Semibold";
    font-weight: normal;
}

.btn.btn_subscribe_on{
        bottom: 188px;
    background: none!important;
    background-color: #036bf5!important;
}

#sheduleBtn.btn_schedule_demo{
        bottom: 100px;
    background: none!important;
    background-color: #5abe80!important;
}



.brand{
        max-width: 32px;
    margin: 0 auto;
    margin-top: 12px;
    cursor: pointer;
}

.brand > img{
    width: 100%;
}

.menu{
    top: 65px;
    border: none;
    width: 100%;
}

.menu .menu-icon{
    cursor: pointer;
}

.social_list{
        bottom: 20px;
}

.video_play > .overlay{
	background: rgba(3,107,245, 0.5);
}

.content_left_content h1 > span{
	display: block;
}

.wrapper > .content > .content-left{
    width: 54%;
}

.wrapper > .content > .content-right{
    width: 46%;
}

/*
.wrapper > .left{
    width: 70px;
}

.wrapper > .left + .content{
    left: 70px;
    width: 100%;
}
*/

.menu > div{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*
.menu > div:hover > span{
    display: inline-block;
}
*/

/*
.menu > div > span{
    display: none;
    background-color: #036bf5;
    color: white;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    left: 40px;
    font-size: 13px;
    z-index: 1000;
}

.menu > div > span:after, .menu > div > span:before{
    top: 50%;
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.menu > div > span:after{
        border-color: rgba(102, 102, 102, 0);
    border-right-color: #036bf5;
    border-width: 6px;
    margin-top: -6px;
}

.menu > div > span:before{
        border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 5px;
    margin-top: -5px;
}
*/

.menu > div:last-child{
    margin-bottom: 0;
}

.home-icon{
    background-image: url(../icons/home-simple.svg);
}

.home-icon:hover{
    background-image: url(../icons/blue/home-simple-2.svg);
}

.about-icon{
    background-image: url(../icons/alert-i-2.svg);
}

.about-icon:hover{
    background-image: url(../icons/blue/alert-i-3.svg);
}

.recruiters-icon{
    background-image: url(../icons/network.svg);
}

.recruiters-icon > span{
    width: 93px;
}

.talent-icon > span{
    width: 76px;
}

.recruiters-icon:hover{
    background-image: url(../icons/blue/network-3.svg);
}

.talent-icon{
    background-image: url(../icons/multiple-11.svg);
}

.talent-icon:hover{
    background-image: url(../icons/blue/multiple-11.svg);
}

.pricing-icon{
    background-image: url(../icons/money-bag-3.svg);
}

.pricing-icon:hover{
    background-image: url(../icons/blue/money-bag-3.svg);
}

.contact-icon{
    background-image: url(../icons/send-5.svg);
}

.contact-icon:hover{
    background-image: url(../icons/blue/send-5.svg);
}

.az-icon{
    background-image: url(../icons/azflag.svg);
     width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

.ru-icon{
    background-image: url(../icons/ruflag.svg);
     width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

.en-icon{
    background-image: url(../icons/flag_bg.svg);
     width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

.langs-list{
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

.langs-list > div.selected-lang, .langs-list > div.select-lang > div{
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

.langs-list > div.selected-lang:not(:last-child){
    margin-bottom: 3px;
}

.langs-list.hide-az-icon > div.az-icon{
    display: none;
}

.langs-list.hide-en-icon > div.en-icon{
    display: none;
}

.langs-list.hide-ru-icon > div.ru-icon{
    display: none;
}

.select-lang{
    display: none;
    width: 60%;
    margin-left: 20%;
    border: solid 1px rgba(0,0,0,.1);
    padding-top: 8px;
    top: -110px;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    z-index: 1000;
}

.select-lang:not(:last-child){
    margin-bottom: 8px;
}

.select-lang:after, .select-lang:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.select-lang:before {
    border-color: rgba(102, 102, 102, 0);
    border-top-color: rgba(0,0,0,.15);
    border-width: 6px;
    margin-left: -6px;
}

.select-lang:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 5px;
    margin-left: -5px;
}

.contact_info{
    bottom: 15px;
}

.contact_info li{
    display: inline-block;
}

.contact_info li:last-child{
    margin-left: 10px;
}

.change-content-btns{
    position: absolute;
    right: -102px;
    top: 50%;
    transform: rotate(-90deg);
}

.change-content-btn{
        background-color: #036bf5;
    color: white;
        padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 4px;
    width: 104%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
}

.change-content-btns.talents > .change-content-btn{
    width: 100%;
}

.change-content-btn > a{
    outline: 0;
}

.change-content-btn:hover{
    opacity: 1;
}    

.play_btn_2{
        width: 80px!important;
    height: 80px!important;
    top: calc(50vh + 85px)!important;
    left: calc(50% - 40px)!important;
    background-image: url(../img/button-circle-play.svg)!important;
    transform: skew(0deg)!important;
}

.play_btn_xs{
    display: none;
}

.change-content-btns.talents{
    right: -91px;
}

.brand > span{
        font-size: 13px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 1.5px;
    color: #036bf5;
}

.left-subhead-content{
    margin-top: 1vw;
}

.left-subhead-content > h2{
    font-size: 24px;
    color: #2A333D;
}

/*
.main-content-line{
    width: 90%;
    margin-left: 5%;
    height: 1px;
    background-color: #036bf5;
    position: absolute;
    top: 50%;
}

.d_table_v{
    vertical-align: top;
}

.content_left_content > .left-head-content{
    top: 140px;
    position: absolute;
}

.content_left_content > .left-bottom-content{
    top: calc(50vh + 90px);
    position: absolute;
}

.content_left .content_left_content .btn{
    float: none;
    margin-top: 50px;
    background-color: #036bf5;
}
*/

/*
.left .title_page > a > span {
    display: inline-block;
    width: 22px!important;
    height: 22px!important;
    background-color: #036bf5!important;
    border-radius: 100%!important;
    margin-right: -20px!important;
    top: 6px!important;
}

.left .title_page > a > b{
    font-size: 15px;
    display: inline-block;
    margin-right: 12px;
    right: -5px;
    color: white;
    font-weight: bold;
}
*/

.content{
    overflow-y: hidden;
}

.content > .content_left{
    width: 50%;
    overflow-y: hidden;
}

.content > .content_right{
    width: 50%;
}

.left-bottom-btns{
    margin-top: 30px;
}

.left-bottom-content{
    margin-top: 2vh;
}

.left-bottom-btns > button:first-child{
    margin-right: 20px;
}

.d_table_v#talentsContent, .d_table_v#scheduleContent{
    display: table-cell;
    top: 0;
    vertical-align: middle;
    left: 0;
    
}

.d_table_v#talentsContent.not_active, .d_table_v#recruitersContent.not_active, .d_table_v#scheduleContent.not_active{
    visibility: hidden;
    opacity: 0;
    display: none;
}

/*
#talentsContent > .contact_info{
    bottom: 120px;
}

#talentsContent > .contact_info {
    bottom: -230px;
    width: 100%;
    position: relative;
}
*/

.d_table_v{
    transition: opacity 1s linear;
    padding: 0 8%;
}

.content_left_content + .contact_info{
        width: 100%;
        padding: 0 8%;
    left: 0;
}

.slider-btns > a {
    text-transform: uppercase;
}

.slider-btns > a:first-child{
    margin-right: 15px;
}

.slider-btns > a.active{
    color: #036bf5;
}

.menu_opened{
    transition: left .5s;
}

.video_play{
        transform: skew(0deg);
    width: 100%;
}

.content_left .content_left_content{
    width: 85%;
}

.left .brand_tablet{
    display: none;
}

.contact_info > .right-box:nth-child(2){
    display: none;
}

.subscribe_form label > .color_red{
    color: #036bf5;
}

.subscribe_form button.submit{
    background: #036bf5!important;
}

.schedule-form{
    margin-top: 5vh;
}

.schedule-form .row{
    margin-left: 0;
    margin-right: 0;
    width: 100%;    
}

.schedule-form .row:not(:first-child){
    margin-bottom: 15px;
}

.schedule-form .row:last-child{
    margin-top: 2vh;    
}

.schedule-form .row > .left-box, .schedule-form .row > .right-box{
    width: 45%;
}

.schedule-form input{
    width: 100%;
}

.schedule-form .submit-btn, .schedule-form .back-btn{
    width: auto;
    display: inline-block;
    float: left;
}

.schedule-form .submit-btn > button{
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 0 25px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    color: #f2f2f2;
}

.schedule-form .submit-btn:first-child{
    margin-right: 20px;
}

.schedule-form .submit-btn:first-child > button{
    background: #9e9e9e;
}

.schedule-form .submit-btn:first-child > button:hover{
    background: #6d6d6d;
}

.schedule-form .submit-btn > button:hover{
    color: #fff;
    box-shadow: 0 5px 40px -5px #0b1440;
    background: #22bb5c;
}

.schedule-form input.error-input{
    border-bottom: 1px solid red;
}

.schedule-form input.error-input + span{
    display: none;
}

.schedule-form input.error-email{
    border-bottom: 1px solid red;
}

.schedule-form input.error-email + span{
    display: none;
}

.schedule-form input.error-phone{
    border-bottom: 1px solid red;
}

.schedule-form input.error-phone + span{
    display: none;
}

.subscribe_form input.error-input, .subscribe_form input.error-email, .subscribe_form input.error-phone { /* Chrome/Opera/Safari */
  color: red;
}

.subscribe_form input.error-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
.subscribe_form input.error-input::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
.subscribe_form input.error-input:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
.subscribe_form input.error-input:-moz-placeholder { /* Firefox 18- */
  color: red;
}

.subscribe_form input.error-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
.subscribe_form input.error-email::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
.subscribe_form input.error-email:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
.subscribe_form input.error-email:-moz-placeholder { /* Firefox 18- */
  color: red;
}

.subscribe_form input.error-phone::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
.subscribe_form input.error-phone::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
.subscribe_form input.error-phone:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
.subscribe_form input.error-phone:-moz-placeholder { /* Firefox 18- */
  color: red;
}

.subscribe .subscribe_form label{
    letter-spacing: -0.5px;
    font-size: 2rem;
    text-transform: none;
    top: -40px;
    color: #036bf5;
    font-weight: 400;
    width: 93%;
    max-width: 93%;
    text-align: left;
    line-height: 1.1;
    margin-bottom: 50px;
}

.subscribe_form label > p{
    font-size: 1.7rem;
    text-transform: none;
    font-family: "DarwinPro";
}

.subscribe_form span.error-msg{
    bottom: 60px;
}

.subscribe .subscribe_form #mail-subscribe{
    font-size: 15px;
    border: none;
    border-radius: 0;
    bottom: 42px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.subscribe .subscribe_form .radio-btns{
    position: relative;
    top: -25px;
    margin-bottom: 5px;
}

.subscribe::after{
    content: none;
}

.radio-btns > input{
    display: inline;
}

.radio-btns > input:nth-child(3){
    margin-left: 20px;
}

.radio-btns > label{
    top: -2px!important;
    color: #676776!important;
    letter-spacing: -0.5px;
    text-transform: none;
    font-weight: 400;
    width: 100%;
    max-width: 100%;
    text-align: left;
    line-height: 1.1;
    font-size: 15px!important;
    display: inline;
}

iframe#video{
    min-width: 100vw;
    min-height: 100vh;
}

.coming-soon-page .btn_subscribe_on{
    bottom: 90px;
}

.left-headers-content{
    padding-top: 1vw;
}

.left-headers-content > h2{
    font-size: 24px;
    color: #2A333D;    
}

/***********/
/***Tooltip**/
.social-btns span{
    display: none;
}

.social-btns a:hover > span{
    display: inline-block;
}

.social-btns span{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 3px;
    border-radius: 4px;
    position: absolute;
    margin-left: 0;
    top: -33px;
    left: -33px;
    font-size: 0.75rem;
    z-index: 1000;
    width: auto;
    white-space: nowrap;
}

.social-btns span:after, .social-btns span:before{
    bottom: -12px;
    right: 42%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.social-btns span:after{
    border-color: rgba(102, 102, 102, 0);
    border-top-color: rgba(0,0,0,0.5);
    border-width: 6px;
    margin-top: -6px;
}

.social-btns span:before{
        border-color: rgba(255, 255, 255, 0);
    border-bottom-color: transparent;
    border-width: 5px;
    margin-top: -5px;
}
/******************/
/****Azeri******/
body.az-lang #talentsContent .left-subhead-content > h2{
   margin: 0;
   padding: 0;
}
body.az-lang .notification.success .noti-right > .noti-text{
    top: 3px;
}
/****************/
/****Russian******/
body.ru-lang .btn_subscribe_on{
    width: 127px;
}
body.ru-lang .video_popup .vodeo_popup_close{
    top: 68px;
    right: 12px;
    width: 56px;
}
body.ru-lang .left-head-content{
    max-width: 100%!important;
}
body.ru-lang .content_left_content .font_bold.big{
    font-size: 48px;
    font-family: "HelveticaKiril-Medium";
    letter-spacing: 1px;
}
body.ru-lang .subscribe_form label > p{
    font-family: "SFPro-Semibold";
}
/****************/


/*
@media all and (min-width: 992px) {
	.content_left_content{
		max-width: 40vw;
	}
}
*/

#scheduleContent .content_left_content{
    padding-top: 30px;
    padding-bottom: 30px;
}

@media all and (min-width: 2012px) {
    .left-head-content{
        max-width: 67%;
    }
}

@media all and (max-width: 2011px){
    .left-head-content{
        max-width: 89%;
    }
}


@media all and (max-width: 1648px) and (min-width: 1564px) {
	.content_left_content .font_bold.big{
		font-size: 49px;
	}
}

@media all and (max-width: 1564px) and (min-width: 1450px) {
	.content_left_content .font_bold.big{
		font-size: 45px;
	}
}

@media all and (max-width: 1450px) and (min-width: 1280px) {
	.content_left_content .font_bold.big{
		font-size: 39px;
	}
    .content_left_content .left-subhead-content > h2{
        font-size: 21px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 21px;
    }
    .left-bottom-btns > button{
        font-size: 12px;
        padding: 0 15px;
    }
    .schedule-form .submit-btn > button{
        font-size: 12px;
        padding: 0 15px;
    }
}

@media all and (max-width: 1280px) and (min-width: 1110px) {
	.content_left_content .font_bold.big{
		font-size: 33px;
	}
    .content_left_content .left-subhead-content > h2{
        font-size: 18px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 18px;
    }
    .left-bottom-btns > button{
        font-size: 10px;
        padding: 0 12px;
        line-height: 32px;
    }
    .schedule-form .submit-btn > button{
        font-size: 10px;
        padding: 0 12px;
        line-height: 32px;
    }
    .left-bottom-content > p{
        font-size:14px;
    }
    .slider-btns > a{
        font-size: 14px;
    }
    .right-box > ul > li > a > i{
        font-size: 14px;
    }
    .left-bottom-btns > button:first-child{
        margin-right: 10px;
    }
    .schedule-form input{
        font-size: 12px;
    }
    .play_btn_2{
        top: calc(50vh + 45px)!important;
    }
}
/*

@media all and (max-width: 1280px) and (min-width: 1110px) {
	.content_left_content .font_bold.big{
		font-size: 36px;
	}
    .left-bottom-btns > button{
        font-size: 12px;
        padding: 0 15px;
    }
}
*/

/*
@media all and (max-width: 1110px) and (min-width: 970px) {
	.content_left_content .font_bold.big{
		font-size: 31px;
	}
    .content_left_content .left-subhead-content > h2{
        font-size: 17px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 17px;
    }
    .content_left_content .left-bottom-content p{
        font-size: 15px;
    }
    .left-bottom-btns > button{
        font-size: 11px;
        padding: 0 12px;
        line-height: 34px;
    }
    .schedule-form .submit-btn > button{
        font-size: 11px;
        padding: 0 12px;
        line-height: 34px;
    }
}
*/

@media all and (max-width: 1110px) and (min-width: 768px) {
	.content_left_content .font_bold.big{
		font-size: 31px;
	}
    .content_left_content .left-subhead-content > h2{
        font-size: 15px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 15px;
    }
    .left-bottom-content > p{
        font-size: 12px;
    }
    .slider-btns > a{
        font-size: 12px;
    }
    .right-box > ul > li > a > i{
        font-size: 12px;
    }
    .left-bottom-btns > button{
        font-size: 6px;
        padding: 0 8px;
        line-height: 20px;
    }
    .left-bottom-btns > button:first-child{
        margin-right: 10px;
    }
    .schedule-form input{
        font-size: 10px;
    }
    .schedule-form .submit-btn > button{
        font-size: 6px;
        padding: 0 8px;
        line-height: 20px;
    }
    .schedule-form .submit-btn:first-child{
        margin-right: 10px;
    }
    .schedule-form input.effect-16 ~ .focus-border{
        height: 1px;
    }
    .video_play .play_btn{
        width: 42px!important;
        height: 43px!important;
        top: calc(50vh + 25px)!important;
        left: calc(50% - 20px)!important;    
    }
    .btn.btn_subscribe_on{
        width: 55px;
        height: 55px;
        padding: 10px 5px;
        line-height: 27px;
        font-size: 6px;
    }
    .wrapper > .left{
        width: 50px;
    }
    .brand{
         max-width: 16px;
    }
    .left .title_page{
        font-size: 7px;
        top: calc(50vh - 45px);
        width: 300px;
        left: -125px;
        height: 90px;
        line-height: 90px;
    }
    .langs-list{
        bottom: 20px;
    }
    .langs-list > div.selected-lang, .langs-list > div.select-lang > div{
        width: 18px;
        height: 18px;
    }
    .menu{
        top: 30px;
    }
    .menu .menu-icon{
        top: 22px;
        width: 14px;
        height: 9px;
    }
    .menu_opened.on{
        font-size: 10px;
        left: 50px;
         width: 125px;
    }
    .menu .menu-icon:after, .menu .menu-icon:before, .menu .menu-icon span{
        height: 1px;  
    }
    .menu .menu-icon span{
        margin-top: -0.5px;
    }
    .content{
        left: 50px;
        background: #f7f7f7;
        width: calc(100% - 50px);
    }
    .schedule-form .row{
        margin-bottom: 0!important;
    }
    .schedule-form .row:not(:first-child) .form-group{
        margin-bottom: 0;
    }
    .schedule-form .row:first-child .form-group{
        margin-bottom: -12px;
    }
}

@media all and (max-width: 970px){
    #talentsContent .left-head-content{
        max-width: 100%!important;
    }
}

@media all and (max-width: 940px){
    .left-head-content{
        max-width: 93%;
    }
}

@media all and (max-width: 930px) and (min-width: 768px) {
    .content_left_content .font_bold.big{
		font-size: 26px;
	}
    .content_left_content .left-subhead-content > h2{
        font-size: 12px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 12px;
    }
    .left-bottom-content > p{
        font-size: 10px;
    }
    .slider-btns > a{
        font-size: 10px;
    }
    .right-box > ul > li > a > i{
        font-size: 10px;
    }
    .schedule-form .row .form-group{
        margin-bottom:5px;
    }
    .schedule-form input{
        font-size: 9px;
    }
}

@media all and (max-width: 1024px) {
  .owl-carousel-t .owl-nav {
    left: -161px; }

  .owl-carousel-t .owl-dots {
    left: -170px; }

  .contact .col-xs-12.col-md-4 {
    width: 100%; } }
/*
@media all and (max-width: 991px) {
  .services .service {
    margin-bottom: 10vh; }

  .content_left {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50vh; }

  .content_right {
    z-index: 0;
    width: 100%;
    transform: skew(0); }

  .video_play .play_btn {
    top: calc(75vh - 30px);
    left: calc(50% - 40px);
    cursor: pointer;
    transform: skew(0); }

  ul#countdown.xs_white li {
    border-color: rgba(255, 255, 255, 0.25) !important; }

  .content_left .content_left_content {
    width: 100%; }

  .video_play {
    transform: skew(0); }

  .content_left .contact_info {
    position: fixed;
    bottom: 0;
    color: #fff; }
    .content_left .contact_info ul li {
      width: 100%; }
      .content_left .contact_info ul li:nth-child(2) {
        display: none; }

  .title_adv {
    font-size: 9vmax; }

  .subtitle_adv {
    top: calc(50% - 25px);
    left: calc(50% - 25px); }

  .content_right.v2 {
    width: 100%; }

  .xs_white {
    color: #fff !important; } }
*/
@media all and (max-width: 767px) {
  h1 {
    font-size: 28px; }

  h2 {
    font-size: 24px; }

  h3 {
    font-size: 20px; }

  h4 {
    font-size: 18px; }

  .d_table_v {
    padding: 15vh 7vw; }

  .left {
    width: 100%;
    height: 50px; }
    .left .title_page {
      display: none; }
    .left .menu {
      right: 0;
      left: initial;
      height: 50px;
      width: 50px;
      border-top: none; }
      .left .menu .menu-icon {    
          top: 0px;
        margin: 20px 0; }
    .left .brand {
      width: 50px;
      height: 50px; }
      .left .brand h1 {
        font-size: 20px; }

  .menu_opened.on {
    left: 0; }

  .content {
    width: 100%;
    left: 0; }
    .content.page {
      padding: 10vh 15px 0; }

  .btn_subscribe_on {
    width: 60px;
    height: 50px;
    font-size: 7px;
    padding: 0; }
    .btn_subscribe_on i {
      position: relative;
      top: 8px; }

  .background {
    width: 100%; }

  .subscribe_on {
    width: 100vw;
    height: calc(100vh - 30px);
    padding-top: 100px;
    right: -120vw;
    overflow-y: scroll; }

  .subscribe .subscribe_form {
    width: 90vw;
    margin: 0 auto; }

  .subscribe .subscribe_form label {
    font-size: 45px; }

  .counters .counter {
    width: 50%; }

  .owl-carousel-t {
    width: 100vw; }

  .services .service {
    margin-bottom: 10vh; }

  .portfolio-filters ul li {
    width: 100%; }

  .portfolio .portfolio-item,
  .portfolio .portfolio-sizer {
    width: 50%; }
  .portfolio .project-image {
    height: 150px; }
  .portfolio .portfolio-item {
    height: 150px; }
  .portfolio .portfolio-item--width2 {
    width: 100%; }
  .portfolio .portfolio-item.portfolio-item--height2 {
    height: 300px; }
    .portfolio .portfolio-item.portfolio-item--height2 .project-image {
      height: 300px; }

  #cd-google-map {
    position: relative;
    width: 100%;
    height: 300px; }

  #google-container {
    height: 300px; }

  .fixed_xs {
    position: fixed; }

  .subtitle_adv {
    top: calc(50% - 18px);
    left: calc(50% - 18px); }

  .content_right.v2 {
    width: 100%;
    top: 350px; }

  .content_left.v2 {
    position: relative;
    height: 300px; } }
@media all and (max-width: 480px) {
  .content_left.v2 {
    position: relative;
    height: 300px; }

  .content_right.v2 {
    width: 100%;
    top: 50px; } }
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .title_page {
    display: none; }

  .big3 {
    font-size: 95px; }

  .big {
    font-size: 85px; }

  .big2 {
    font-size: 50px; }

  .big4 {
    font-size: 90px; }

  .title_adv {
    font-size: 170px; }

  .subtitle_adv {
    font-size: 26px; } }
@supports (-ms-ime-align: auto) {
  .title_page {
    display: none; }

  .big3 {
    font-size: 85px; } }

@media all and (max-width: 767px) {
    .left .brand {
        display: none;
    }
    .left .brand_tablet {
        display: block;
        width: 50px;
        height: 32px;
        position: relative;
        top: -5px;
        margin-top: 16px;
        max-width: 50px;
    }
    .left .menu {
        left: 15px;
        right: initial;
        height: 50px;
        width: 50px;
        top: 0px;
        border-top: none;
        z-index: 100000;
    }
    .menu_opened{
        top: 50px;
    }
    .left > .langs-list{
        display: none;
    }
    .content_left_content .font_bold.big{
		font-size: 28px;
	}
    .left-bottom-content > p{
        font-size: 13px;
    }
    .slider-btns > a{
        font-size: 9px;
    }
    body.az-lang .slider-btns > a{
        font-size: 7px;
    }
    .slider-btns > a:first-child{
        margin-right: 5px;
    }
    .right-box > ul > li > a > i{
        font-size: 13px;
    }
    .left-bottom-btns > button{
        font-size: 10px;
        padding: 0 12px;
        line-height: 32px;
    }
    .d_table_v{
        padding: 0 5%;
    }
    .content_left .content_left_content{
        width: 95%;
    }
/*
    .contact_info > .right-box:last-child{
        float: none;
        clear: both;
        bottom: -8px;
    }
*/
    .contact_info > .right-box:nth-child(2){
        display: block;
        position: relative;
        width: auto;
        height: auto;
        bottom: 0;
        top: 0;
        right: 15px;
        float: right;
        padding: 0;
        margin: 0;
    }
    .contact_info > .right-box:nth-child(2) .langs-list{
        bottom: -34px;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
    }
    .contact_info > .right-box:nth-child(2) .select-lang{
        border: none;
        background-color: transparent;
        margin-left: 0;
    }
    .contact_info > .right-box:nth-child(2) .select-lang::after, .contact_info > .right-box:nth-child(2) .select-lang::before{
        content: none;
    }
    .video_play{
        height: calc(100% - 30px);
        top: 30px;
    }
    .schedule-form input{
        font-size: 13px;
    }
    .slider-btns{
        width: 70%;
    }
    .play_btn_2{
        top: calc(50vh + 10px)!important;
        width: 40px!important;
        height: 40px!important;
        left: calc(50% - 20px)!important;
    }
    .schedule-form .submit-btn > button{
        font-size: 9px;
        padding: 0px 10px;
        line-height: 26px;
    }
    .left-bottom-btns > button{
        font-size: 8px;
        padding: 0px 10px;
        line-height: 26px;
    }
    body.az-lang .left-bottom-btns > button{
        font-size: 6px;
        padding: 0px 6px;
        line-height: 20px;
    }
    .left-bottom-btns > button:first-child{
        margin-right: 8px;
    }
    .content_left_content .left-subhead-content > h2{
        font-size: 17px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 17px;
    }
    .content_left{
        padding-top: 60px;
        overflow-y: scroll!important;
    }
    .content_left_content{
        padding-bottom: 115px;
    }
    #scheduleContent .content_left_content{
        padding-bottom: 30px;
    }
    .content_left_content + .contact_info{
        padding: 0 5%;
    }
    .schedule-form .form-group{
        margin-bottom: 0px;
    }
    
    .subscribe_on.on{
        right: 0;
        margin-bottom: 0;
        border-radius: 0;
        top: 0;
        height: auto;
        padding-top: 0px;
    }
    .subscribe{
        padding-top: 0;
        padding: 16px;
        padding-top: 25px;
        margin: 0;
    }
    .subscribe_form label > p{
        font-size: 1.25rem;
    }
    .subscribe-image{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }
    .subscribe_form .controls{
        float: none;
        width: 100%;
        margin-top: 70px;
    }
    .subscribe-close-btn{
        position: absolute;
        top: -2rem;
        right: 0;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
    }
    .subscribe-image > img{
        width: 30%;
    }
}

@media all and (max-width: 642px) {
    .left-head-content{
        max-width: 95%;
    }
}

@media all and (max-width: 631px) {
    .content_left_content .font_bold.big{
		font-size: 25px;
	}
    .content_left_content .left-subhead-content > h2{
        font-size: 16px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 16px;
    }
    .left-bottom-btns > button{
        padding: 0px 8px;
    }
    .left-bottom-btns > button:first-child{
        margin-right: 8px;
    }
}

@media all and (max-width: 584px) {
    .content_left_content .font_bold.big{
		font-size: 21px;
	}
    .content_left_content .left-subhead-content > h2{
        font-size: 14px;
    }
    .content_left_content .left-headers-content > h2{
        font-size: 14px;
    }
    .left-bottom-content > p{
        font-size: 12px;
    }
    .right-box > ul > li > a > i{
        font-size: 12px;
    }
    .left-bottom-btns > button{
        font-size: 7px;
        padding: 0 5px;
        line-height: 24px;
    }
    .left-bottom-btns > button:first-child{
        margin-right: 5px;
    }
    .subscribe:before{
        max-width: 100%;
    }
    .contact_info > .right-box:nth-child(2) .langs-list{
        bottom: -30px;
    }
    .langs-list > div.selected-lang, .langs-list > div.select-lang > div{
        width: 22px;
        height: 22px;
    }
    .select-lang{
        top: -85px;
    }
}

@media all and (max-width: 480px) {
    .content > .content_left{
        width: 100%;
    }
    .content > .content_right{
        width: 100%;
        position: absolute;
    }
    .content_left_content .font_bold.big{
		color: white;
	}
    .left-bottom-content > p{
        color: white;
    }
    .slider-btns > a{
        color: white;
    }
    .right-box > ul > li > a > i{
        color: white;
    }
    .slider-btns > a.active{
        color: white;
        text-decoration: underline!important;
    }
    .left-bottom-btns > button{
        line-height: 28px;
        font-size: 8px;
        padding: 0 14px;
    }
    .schedule-form .submit-btn > button{
        line-height: 28px;
        font-size: 8px;
        padding: 0 14px;
    }
    .video_play .play_btn{
        display: none;
    }
    .play_btn_xs{
        display: block;
        position: absolute;
        z-index: 2;
        background-size: contain;
        box-shadow: 0 0 30px -5px #0b1440;
        border-radius: 60px;
        cursor: pointer;
        width: 40px!important;
        height: 40px!important;
        top: 80px!important;
        right: 30px!important;
        left: initial!important;
        background-repeat: no-repeat;
    }
    .schedule-form input{
        color: white;
    }
    .schedule-form input::placeholder{
        color: white;    
    }
    .schedule-form input::-webkit-input-placeholder{
        color: white;
    }
    .schedule-form input::-moz-placeholder{
        color: white;
    }
    .schedule-form input:-ms-input-placeholder{
        color: white;
    }
    .schedule-form input:-moz-placeholder{
        color: white;
    }
    .content_left_content .left-subhead-content > h2{
        color: white;
    }
    .content_left_content .left-headers-content > h2{
        color: white;
    }
    .btn.btn_subscribe_on{
        width: 40px;
        height: 40px;
        font-size: 6px;
        padding: 0;
        padding-top: 9px;
        background-color: transparent!important;
        box-shadow: none;
        position: absolute;
        top: 5px;
        right: 5px;
        color: rgb(3, 107, 245) !important;
    }
    .btn_subscribe_on i{
        top: 0;
    }
    #sheduleBtn.btn_schedule_demo{
        width: 40px;
        height: 40px;
        font-size: 6px;
        padding: 0;
        padding-top: 9px;
        background-color: transparent!important;
        box-shadow: none;
        position: absolute;
        top: 5px;
        right: 40px;
        color: rgb(3, 107, 245) !important;
    }
    #sheduleBtn.btn_schedule_demo i{
        top: 0;
    }
    iframe#video{
        max-width: 100vw;
    }
    
    .hide_mob{
        display: none;
    }
    .content_left_content{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .subscribe .subscribe_form label{
        font-size: 12px!important;
    }
    .subscribe .subscribe_form #mail-subscribe{
        font-size: 10px;
    }
    .left-head-content{
        max-width: 63%;
    }
}

@media all and (max-width: 356px) {
    .left-head-content{
        max-width: 85%;
    }
}

/*# sourceMappingURL=style.css.map */
